<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Goodsclass/index')}">商品分类列表</a></li>
			<li class="active"><a >{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Goodsclass/addPost')}">
            
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>上级分类</label>
				<div class="col-md-6 col-sm-10">
					<select class="form-control" name="gc_parentid">
						<option value="0">作为一级分类</option>
                        <volist name="lists" id="v" key="k">
                        	<option value="{$v['gc_id']}">
                        		<if condition="$k lt $one_nums">
                        		├─
                        		<else />
                        		└─
                        		</if>
                        		{$v['gc_name']}({$v['gc_id']})
                        	</option>
                        	<volist name="v['two_list']" id="vo" key="k1">

                        		
                        			<option value="{$vo['gc_id']}">
	                        			&nbsp;&nbsp;&nbsp;&nbsp;
		                        		
		                        		├─
		                        		
	                        			{$vo['gc_name']}({$vo['gc_id']})
	                        		</option>
                        		
                        		
                        	</volist>
                        </volist>
                    </select>
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-gc_name" class="col-sm-2 control-label"><span class="form-required">*</span>分类名称</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-gc_name" name="gc_name" maxlength="30">
					<p class="help-block">30字符以内，不要带逗号</p>
				</div>
			</div>
            
            <div class="form-group">
                <label for="input-gc_isshow" class="col-sm-2 control-label"><span class="form-required">*</span>是否显示</label>
                <div class="col-md-6 col-sm-10">
                    <label class="radio-inline"><input type="radio" name="gc_isshow" value="0" >否</label>
                    <label class="radio-inline"><input type="radio" name="gc_isshow" value="1" checked="checked" >是</label>
                    
                </div>

            </div>
            
            <div class="form-group">
				<label for="input-gc_sort" class="col-sm-2 control-label"><span class="form-required">*</span>排序号</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-gc_sort" name="gc_sort" placeholder="0-999999之间的整数" onkeyup="value=value.replace(/[^\d]/g,'')">
					<p class="help-block">请填写0-999999之间的整数</p>
				</div>
			</div>
            
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
    
</body>
</html>
