@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}

body {
  width: 10rem;
  margin: 0 auto;
  color: #333333;
  font-family: PingFang;
  box-sizing: border-box;
  background: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 86px;
  position: relative;
}

.main .header {
  flex: 1;
}

.main .header .header-top {
  margin-left: 7.35%;
  margin-top: 5%;
}

.main .header .header-top .top-t {
  font-size: 0.69rem;
  font-weight: 500;
  color: #333333;
}

.main .header .header-top .top-b {
  margin-top: 1%;
  font-size: 0.32rem;
  width: 90%;
  font-family: PingFang;
  color: #AAAAAA;
}

.main .header .header-center {
  margin-top: 0.72rem;
}

.main .header .header-center .center-t {
  margin-left: 7.3%;
  font-size: 0.4rem;
  color: #333333;
}

.main .header .header-center .center-b {
  height: 15.24%;
  margin-left: 7.2%;
  margin-right: 7.2%;
  margin-top: 4.5%;
  position: relative;
}

.main .header .header-center .center-b img {
  width: 8.5rem;
  height: 4.2rem;
  border-radius: 5px;
}

.main .header .header-center .center-b input {
  position: absolute;
  left: 0;
  top: 0;
  width: 8.3rem;
  height: 4.2rem;
  opacity: 0;
}

.main .header .header-bottom {
  margin-top: 6.5%;
  margin-left: 7.2%;
}

.main .header .header-bottom .bottom-t {
  font-size: 0.4rem;
  color: #333333;
  margin-bottom: 18px;
}

.main .header .header-bottom .bottom-b {
  margin-top: 1.67%;
  display: flex;
  width: 82%;
}

.main .header .header-bottom .bottom-b .inside-l {
  flex: 1;
  height: 2.4rem;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
  border-radius: 2px;
  position: relative;
}

.main .header .header-bottom .bottom-b .inside-l img {
  width: 4.17rem;
  height: 2.4rem;
  border-radius: 5px;
}

.main .header .header-bottom .bottom-b .inside-l input {
  position: absolute;
  left: 0;
  top: 0;
  width: 4.17rem;
  height: 2.4rem;
  opacity: 0;
}

.main .header .header-bottom .bottom-b .inside-r {
  flex: 1;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
  border-radius: 2px;
  margin-left: 6px;
  position: relative;
}

.main .header .header-bottom .bottom-b .inside-r img {
  width: 4.17rem;
  height: 2.4rem;
  border-radius: 5px;
}

.main .header .header-bottom .bottom-b .inside-r input {
  position: absolute;
  left: 0;
  top: 0;
  width: 4.17rem;
  height: 2.4rem;
  opacity: 0;
}

.main .border {
  width: 100%;
  height: 0.27rem;
  background: #F6F6F6;
  margin-top: 0.77rem;
}

.main .footer {
  flex: 1;
}

.main .footer .footer-top .name {
  height: 1.1rem;
  line-height: 1rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  margin-left: 4%;
  padding-top: 3%;
  box-sizing: border-box;
  border-bottom: 1px solid f2f2f2;
}

.main .footer .footer-top .name .name-l {
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

.main .footer .footer-top .name .name-r {
  margin-left: 5%;
  font-size: 0.4rem;
  color: #AAAAAA;
  width: 60%;
}

.main .footer .footer-top .name .name-r input {
  border: none;
  outline: none;
  font-size: 0.35rem;
  width: 100%;
}

.main .footer .footer-top .number {
  height: 1.1rem;
  line-height: 1rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  margin-left: 4%;
  padding-top: 3%;
  box-sizing: border-box;
  border-bottom: 1px solid f2f2f2;
}

.main .footer .footer-top .number .number-l {
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

.main .footer .footer-top .number .number-r {
  margin-left: 5%;
  width: 60%;
  color: #AAAAAA;
}

.main .footer .footer-top .number .number-r input {
  border: none;
  outline: none;
  font-size: 0.33rem;
  width: 100%;
}

.main .footer .footer-top .phone {
  height: 1.1rem;
  line-height: 1rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  margin-left: 4%;
  padding-top: 3%;
  box-sizing: border-box;
  border-bottom: 1px solid f2f2f2;
}

.main .footer .footer-top .phone .phone-l {
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

.main .footer .footer-top .phone .phone-r {
  margin-left: 5%;
  font-size: 0.4rem;
  color: #AAAAAA;
  width: 60%;
}

.main .footer .footer-top .phone .phone-r input {
  border: none;
  outline: none;
  font-size: 0.33rem;
  width: 100%;
}

.main .footer .footer-top .auth {
  height: 1.1rem;
  line-height: 1rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  margin-left: 4%;
  padding-top: 3%;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid f2f2f2;
}

.main .footer .footer-top .auth .auth-l {
  font-size: 0.35rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

.main .footer .footer-top .auth .auth-r {
  color: #AAAAAA;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 25%;
  margin-left: 7%;
}

.main .footer .footer-top .auth .auth-r input {
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 0.35rem;
  text-overflow: ellipsis;
}

.main .footer .footer-top .auth #btn {
  background-color: #fff;
  font-family: PingFang SC;
  font-weight: 400;
  color: #EB4D1A;
  text-overflow: ellipsis !important;
  position: absolute !important;
  font-size: 0.35rem;
  width: 35%;
  right: 0 !important;
  overflow: hidden;
  white-space: nowrap;
}

.main .footer .footer-top .auth #resetCode {
  font-size: 0.35rem !important;
  margin-left: 0 !important;
}

.main .footer .footer-top .shop {
  height: 1.1rem;
  line-height: 1rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  margin-left: 4%;
  padding-top: 3%;
  box-sizing: border-box;
  border-bottom: 1px solid f2f2f2;
}

.main .footer .footer-top .shop .shop-l {
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

.main .footer .footer-top .shop .shop-r {
  margin-left: 12%;
  font-size: 0.4rem;
  color: #AAAAAA;
  width: 60%;
}

.main .footer .footer-top .shop .shop-r input {
  border: none;
  outline: none;
  font-size: 0.35rem;
  width: 100%;
}

.main .footer .footer-top .site {
  height: 1.1rem;
  line-height: 1rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  margin-left: 4%;
  padding-top: 3%;
  box-sizing: border-box;
  border-bottom: 1px solid f2f2f2;
}

.main .footer .footer-top .site .site-l {
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}

.main .footer .footer-top .site .site-r {
  margin-left: 7%;
  font-size: 0.4rem;
  color: #AAAAAA;
  width: 60%;
}

.main .footer .footer-top .site .site-r input {
  border: none;
  outline: none;
  font-size: 0.35rem;
  width: 100%;
}

.main .footer .footer-bottom {
  margin-top: 8%;
  margin-left: 4%;
  width: 92%;
  background: #02786A;
  border-radius: 5px;
  text-align: center;
}

.main .footer .footer-bottom .btn {
  line-height: 1.17rem;
  height: 1.17rem;
  font-size: 0.48rem;
  font-weight: 500;
  color: #FFFFFF;
}
