.content {
  padding-top: 20px;
}

.content .header {
  position: relative;
}

.content .header .header-top {
  text-align: right;
  font-size: 13px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #EB4D1A;
  margin-right: 28px;
}

.content .header .header-top span {
  position: relative;
  margin-right: 5px;
}

.content .header .header-top span img {
  position: absolute;
  top: 2px;
  right: -0.9rem;
  width: 15px;
  background-color: red;
}

.content .header .header-top input {
  border: none;
  outline: none;
  position: absolute;
  right: 1rem;
  opacity: 0;
}

.content .header .header-top ::-webkit-datetime-edit-year-field {
  visibility: hidden;
}

.content .header .header-top ::-webkit-datetime-edit-month-field {
  visibility: hidden;
}

.content .header .header-top ::-webkit-datetime-edit-day-field {
  visibility: hidden;
}

.content .header .header-top ::-webkit-datetime-edit-text {
  visibility: hidden;
}

.content .header .header-center {
  margin-top: 3%;
  display: flex;
  width: 100%;
}

.content .header .header-center .center-l {
  margin-left: 17px;
  font-size: 16px;
  font-family: PingFangSC;
  font-weight: 600;
  color: #333333;
}

.content .header .header-center .center-c {
  background: #B6B6B6;
  border-radius: 8px;
  margin-left: 9px;
  width: 25%;
  height: 20%;
  text-align: center;
}

.content .header .header-center .center-c span {
  font-size: 10px;
  font-family: PingFang SC;
  color: #FFFFFF;
  display: block;
  -webkit-transform: scale(0.8);
  padding-top: 1px;
}

.content .header .header-center .center-r {
  background: #B6B6B6;
  border-radius: 8px;
  margin-left: 5px;
  width: 25%;
  height: 20%;
  text-align: center;
}

.content .header .header-center .center-r span {
  font-size: 10px;
  font-family: PingFangSC;
  color: #FFFFFF;
  display: block;
  -webkit-transform: scale(0.8);
  padding-top: 1px;
}

.content .header .header-center .toggle {
  background: #02786A;
}

.content .header #header-bottom {
  width: 100%;
  height: 200px;
}

.content .center {
  margin-top: 22px;
}

.content .center .center-top {
  display: flex;
}

.content .center .center-top .center-l {
  margin-left: 17px;
  font-size: 16px;
  font-family: PingFangSC;
  font-weight: 600;
  color: #333333;
}

.content .center .center-top .center-c {
  background: #B6B6B6;
  border-radius: 8px;
  margin-left: 9px;
  width: 25%;
  height: 20%;
  text-align: center;
}

.content .center .center-top .center-c span {
  font-size: 10px;
  font-family: PingFang SC;
  color: #FFFFFF;
  display: block;
  -webkit-transform: scale(0.8);
  padding-top: 1px;
}

.content .center .center-top .center-r {
  background: #B6B6B6;
  border-radius: 8px;
  margin-left: 5px;
  width: 25%;
  height: 20%;
  text-align: center;
}

.content .center .center-top .center-r span {
  font-size: 10px;
  font-family: PingFangSC;
  color: #FFFFFF;
  display: block;
  -webkit-transform: scale(0.8);
  padding-top: 1px;
}

.content .center .center-top .toggle {
  background: #02786A;
}

.content .center #center-bottom {
  width: 100%;
  height: 200px;
}

.content .footer {
  margin-top: 22px;
}

.content .footer .footer-top {
  display: flex;
}

.content .footer .footer-top .footer-l {
  margin-left: 17px;
  font-size: 16px;
  font-family: PingFangSC;
  font-weight: 600;
  color: #333333;
}

.content .footer .footer-top .footer-c {
  background: #B6B6B6;
  border-radius: 8px;
  margin-left: 9px;
  width: 25%;
  height: 20%;
  text-align: center;
}

.content .footer .footer-top .footer-c span {
  font-size: 10px;
  font-family: PingFang SC;
  color: #FFFFFF;
  display: block;
  -webkit-transform: scale(0.8);
  padding-top: 1px;
}

.content .footer .footer-top .footer-r {
  background: #B6B6B6;
  border-radius: 8px;
  margin-left: 5px;
  width: 25%;
  height: 20%;
  text-align: center;
}

.content .footer .footer-top .footer-r span {
  font-size: 10px;
  font-family: PingFangSC;
  color: #FFFFFF;
  display: block;
  -webkit-transform: scale(0.8);
  padding-top: 1px;
}

.content .footer .footer-top .toggle {
  background: #02786A;
}

.content .footer #footer-bottom {
  width: 100%;
  height: 200px;
}

.content .border {
  width: 100%;
  height: 10px;
  background: #F7F7F7;
}
