﻿<html>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<head>
    <title>客服联系方式</title>
</head>
<body>
<style>
    .son{
        margin-left: 4rem;
        white-space: pre-wrap;
        font-size: 1rem;
    }

    .p{
        margin-left: 2rem;
        margin-top: 2rem;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .text-wrapper {

    }

</style>
<div id="app">
    <p class="p">{{operating}}</p>
    <p class="son" v-html="one"></p>

    <p class="p">{{email}}</p>
    <div class="son" v-html="two"></div>
    <p class="p">Facebook</p>
    <div class="son" v-html="extra"></div>



</div>
</body>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el:"#app",
        data(){
            return {
                operating:null,
                week:null,
                datetime:null,
                email:null,
                one:null,
                two:null
            }
        },
        created () {
            this.operating = 'Operating Hours';
            //this.week = 'Monday - Friday(except public holiday)';
            //this.datetime = '9am - 6pm';
            this.email = 'Email';
            //this.one = 'For enquiry hello@askpert.com';
            //this.two = 'For app issues:support@askpert.com';
            var _that = this;
            var lan = getUrlPara('lan');

            if(lan =='ms'){
                document.title = 'Perkhidmatan Pelanggan';
            }else if(lan == 'en'){
                document.title = 'Customer Service Contact';
            }else{
                document.title = '客服联系方式';
                lan="en";
            }
            axios
                .get('/portal/index/getCustomer?lan='+lan)
                .then(function(response){
                    let data = response.data;
                    _that.one = data.op;
                    _that.two = data.email;
                  /*  _that.email = data.email_text;*/
                   /* _that.operating = data.op_text*/
                    _that.extra = data.extra;
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        },

    })



    function getUrlPara(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return (r[2]); return null;
    }

</script>

</html>