<include file="public@header" />
<style type="text/css">
	.red_tips{
		color: #F00;
	}
</style>
<script src="__STATIC__/js/echarts.js"></script>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Shopapply/index')}"></a></li>
			<li class="active"></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="#">
           
             <div id="main" style="width: 400px;height:200px;"></div>
    	
            

		</form>
		  
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	   
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
 
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: "1,你对问题"
            },
            tooltip: {},
            legend: {
                data:['单选题']
            },
            xAxis: {
                data: ["A","B","C","D"]
            },
            yAxis: {},
            series: [{
                name: '单选题',
                type: 'bar',
                data: [5, 20, 8, 10]
            }]
        };
 
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>