<include file="public@header"/>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('Settlecharge/index')}">列表</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Settlecharge/index')}">
			关键词： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}"
                   placeholder="请输入推广员用户名、昵称...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>	
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>用户名</th>
					<th>昵称</th>
					<th>总充值金额(元)</th>
					<th>已结算金额(元)</th>
					<th>待结算金额(元)</th>
					<th width="180">操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="lists" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.user_login}</td>
					<td>{$vo.user_nicename}</td>
					<td>{$vo.total_charge}</td>
					<td>{$vo.total_chargeed}</td>
					<td>{$vo.total_charge_no}</td>
					<td>
                        <if condition="$vo['isshow'] eq 1">
							<a href='{:url("Settlecharge/index2",array("id"=>$vo["id"]))}'>我要结算</a> | 
                        </if>
							<a href='{:url("Settlecharge/record",array("id"=>$vo["id"]))}'>结算记录</a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>