<include file="public@header"/>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('Settlecharge/index')}">列表</a></li>
            <li class="active"><a>结算列表</a></li>
		</ul>
        <form class="well form-inline margin-top-20" name="form1" method="post" action="{:url('Settlecharge/index2')}">
            {$userinfo['role']} {$userinfo['user_nicename']} 
            &nbsp; &nbsp;
            <input type="hidden" name="id" value="{$formget.id}">
			时间段： 
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{$formget.start_time}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{$formget.end_time}" aria-invalid="false" style="width: 110px;"> &nbsp; &nbsp;
			<input type="submit" class="btn btn-primary" value="搜索">
			<input type="button" class="btn btn-success" style="background-color: #1dccaa;" value="结算当前时间段" onclick="form1.action='{:url('Settlecharge/setSettle')}';form1.submit();"/>
            <br>
            <br>
            总金额：{$data['total_charge']}元 &nbsp; &nbsp; 未结算金额： {$data['total_chargeed']}元 &nbsp; &nbsp;已结算金额： {$data['total_charge_no']}元
		</form>	
		<table class="table table-hover table-bordered">
			<thead>
				<tr>

					<th>日期</th>
					<th>总金额(元)</th>
					<th>结算状态</th>
					<th>结算时间</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="lists" item="vo">
				<tr>

					<td>{:date("Y-m-d",$vo['addtime'])}</td>
					<td>{$vo.money}</td>
					<td>{$status[$vo['state']]}</td>
					<td>
                        <if condition="$vo['state'] eq 1">
                            {:date("Y-m-d H:i:s",$vo['addtime'])}
                        <else/>
                            {$status[$vo['state']]}
                        </if>
                    </td>

				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
		<script src="__STATIC__/js/admin.js"></script>
	<script src="__STATIC__/js/laydate/laydate.js"></script>
	<script type="text/javascript" charset="utf-8">
	    Wind.use('layer');
	</script>
</body>
</html>