<include file="public@header"/>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('Settlecharge/index')}">列表</a></li>
			<li class="active"><a>结算记录</a></li>
		</ul>
        <form class="well form-search" method="post" action="">
            {$userinfo['role']} {$userinfo['user_nicename']}
		</form>	
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>结算时间段</th>
					<th>结算金额(元)</th>
					<th>结算时间</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="lists" item="vo">
				<tr>
					<td>{$vo.time_slot}</td>
					<td>{$vo.money}</td>
					<td>{:date("Y-m-d H:i:s",$vo['addtime'])}</td>
				</tr>
				</foreach>
			</tbody>
		</table>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>