<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('AdItem/index',['slide_id'=>$slide_id])}">页面列表</a></li>
        <li class="active"><a href="{:url('AdItem/add',['slide_id'=>$slide_id])}">添加广告</a></li>
    </ul>
    <form action="{:url('AdItem/addPost')}" method="post" class="form-horizontal js-ajax-form margin-top-20">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-bordered">
                    <tr>
                        <th>标题<span class="form-required">*</span></th>
                        <td>
                            <input class="form-control" type="text" style="width:400px;" name="post[name]" id="title"
                                   required value="" placeholder="请输入标题"/>
                        </td>
                    </tr>
                    <tr>
                        <th>链接</th>
                        <td>
                            <input class="form-control" type="text" name="post[url]" id="keywords" value=""
                                   style="width: 400px" placeholder="请输入链接">
                        </td>
                    </tr>

      
                </table>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered">
                    <tr>
                        <th><b>缩略图</b></th>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <input type="hidden" name="post[img]" id="thumb" value="">
                                <a href="javascript:uploadOneImage('图片上传','#thumb');">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png" id="thumb-preview"
                                         width="135" style="cursor: hand"/>
                                </a>
                                <input type="button" class="btn btn-sm"
                                       onclick="$('#thumb-preview').attr('src','__TMPL__/public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;"
                                       value="取消图片">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="post[slide_id]" value="{$slide_id}">
                <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
                <a class="btn btn-default" href="{:url('AdItem/index',['slide_id'=>$slide_id])}">{:lang('BACK')}</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</body>
</html>