<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('AdItem/index',['slide_id'=>$slide_id])}">广告页面列表</a></li>
        <li><a href="{:url('AdItem/add',['slide_id'=>$slide_id])}">添加广告</a></li>
    </ul>
    <form method="post" class="js-ajax-form margin-top-20" action="{:url('SlideItem/listOrder')}">

        <php>
			$status = ['隐藏', '开启'];
			$target = ['_blank'=>'新窗口', '_self'=>'当前窗口', '_parent'=>'父窗口', '_top'=>'主窗口'];
        </php>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>广告标题</th>
                <th>链接</th>
                <th>图片</th>
                <th width="160">{:lang('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="result" item="vo">
                <tr>
     
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.url}</td>
                    <td>
                        <if condition="!empty($vo['img'])">
                            <a href="javascript:imagePreviewDialog('{:cmf_get_image_preview_url($vo.img)}');">
                                <i class="fa fa-photo fa-fw"></i>
                            </a>

                        </if>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary" href="{:url('SlideItem/edit',array('id'=>$vo['id']))}">{:lang('EDIT')}</a>
                        <a href="{:url('SlideItem/delete',array('id'=>$vo['id']))}"
                           class="btn btn-xs btn-danger js-ajax-delete">{:lang('DELETE')}</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </form>

</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>