@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}

body {
  width: 10rem;
  margin: 0 auto;
  color: #333333;
  font-family: PingFang;
  box-sizing: border-box;
  background: #FFFFFF;
}

.loading {
  font-size: 0.4rem;
}

.loading img {
  width: 35%;
  margin: 0 auto;
  top: 100%;
  padding-top: 50%;
}

.loading p {
  text-align: center;
  padding-top: 10%;
}

.ok {
  font-size: 0.4rem;
}

.ok img {
  width: 35%;
  margin: 0 auto;
  top: 100%;
  padding-top: 50%;
}

.ok p {
  text-align: center;
  padding-top: 10%;
}

.again {
  font-size: 0.4rem;
}

.again img {
  width: 35%;
  margin: 0 auto;
  top: 100%;
  padding-top: 50%;
}

.again p {
  text-align: center;
  padding-top: 10%;
}

.again p a {
  color: #AEEEEE;
}

.header {
  width: 100%;
  padding-bottom: 0.53rem;
  border-bottom: 0.27rem solid #f6f6f6;
}

.header .header-top {
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}

.header .header-top .inside-top {
  font-size: 0.69rem;
}

.header .header-top .inside-bottom {
  font-size: 0.32rem;
  color: #AAAAAA;
  width: 90%;
}

.header .header-bottom {
  margin-top: 0.6rem;
}

.header .header-bottom .text {
  font-size: 0.4rem;
  margin-left: 0.72rem;
}

.header .header-bottom .picture {
  width: 100%;
  margin-top: 0.4rem;
  display: flex;
}

.header .header-bottom .picture .picture-l {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
  border-radius: 2px;
  box-sizing: border-box;
  margin-left: 0.72rem;
}

.header .header-bottom .picture .picture-l .upLoad {
  position: relative;
  width: 4.17rem;
  height: 2.4rem;
}

.header .header-bottom .picture .picture-l .upLoad input {
  width: 4.17rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}

.header .header-bottom .picture .picture-l .upLoad img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.header .header-bottom .picture .picture-r {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
  border-radius: 2px;
  margin-left: 0.16rem;
  margin-right: 0.72rem;
}

.header .header-bottom .picture .picture-r .upLoad {
  position: relative;
  width: 4.17rem;
  height: 2.4rem;
}

.header .header-bottom .picture .picture-r .upLoad input {
  width: 4.17rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}

.header .header-bottom .picture .picture-r .upLoad img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.article {
  padding-bottom: 0.51rem;
  border-bottom: 0.27rem solid #f6f6f6;
}

.article .article-top {
  display: flex;
  margin-top: 0.6rem;
  margin-left: 0.72rem;
  line-height: 0.6rem;
}

.article .article-top .article-name {
  font-size: 0.4rem;
  color: #333333;
}

.article .article-top .article-name-text {
  margin-left: 0.5rem;
  width: 55%;
}

.article .article-top .article-name-text input {
  width: 100%;
  font-size: 0.35rem;
  outline: none;
}

.article .article-bottom {
  display: flex;
  margin-top: 0.6rem;
  margin-left: 0.72rem;
  line-height: 0.6rem;
}

.article .article-bottom .article-number {
  font-size: 0.4rem;
  color: #333333;
}

.article .article-bottom .article-number-text {
  margin-left: 0.5rem;
  width: 63%;
}

.article .article-bottom .article-number-text input {
  font-size: 0.35rem;
  outline: none;
  width: 100%;
}

.footer {
  padding-top: 2.35rem;
}

.footer .btn {
  text-align: center;
  margin: 0 auto;
  width: 92%;
  box-sizing: border-box;
  height: 1.17rem;
  line-height: 1.17rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 18px;
  background: #02786A;
  border-radius: 5px;
}
