<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<!-- <ul class="nav nav-tabs">
			<li><a href="{:url('dynamic/index')}">动态</a></li>
			<li class="active"><a >列表</a></li>
		</ul> -->
        
        <form class="well form-inline margin-top-20" method="post" action="{:url('Shopcomment/index')}">
            用户ID：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="用户ID">
            <input type="hidden" name="shopid" value="{$dynamicid}"/>
            <input type="submit" class="btn btn-primary" value="搜索"/>
            <a class="btn btn-danger" href="{:url('Shopcomment/index',array('shopid'=>$dynamicid))}">清空</a>
        </form>
    
		<form method="post" class="js-ajax-form">
            <div class="table-actions">
                <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('Shopcomment/del')}"
                        data-subcheck="true">{:lang('DELETE')}
                </button>
            </div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
                        <th width="16">
                            <label>
                                <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x">
                            </label>
                        </th>
						<th>用户id/昵称</th>
						<th width="60%">内容</th>
						<th>提交时间</th>
						<th align="center">{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
                        <td>
                            <input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.comment_id}">
                        </td>
						<td>{$vo['user_id']}/{$vo['user_nickname']}</td>
						<td>{$vo['content']}</td>
                        <td>{:date('Y-m-d H:i',$vo['create_time'])}</td>
						<td>
                            <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Shopcomment/del',array('id'=>$vo['comment_id']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>