<include file="public@header"/>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('Customer/index')}">列表</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Customer/index')}">
		    <if condition="$isshow">
			推广员：
            <select class="form-control" name="one_id">
				<option value="">全部</option>
                <volist name="proxys" id="v">
                    <option value="{$v['id']}" <if condition="$formget.one_id eq $v['id']">selected</if> >{$v['user_nicename']}</option>
                </volist>                
			</select>  &nbsp;&nbsp;
			</if>
			客户： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}"
                   placeholder="请输入客户用户名、昵称...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>	
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>上级</th>
					<th>用户名</th>
					<th>昵称</th>
					<th>用户总充值金额</th>
					<th>用户总消费金额</th>
					<th>主播总收益金额</th>
					<th>添加时间</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="users" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.username}</td>
					<td>{$vo.user_login}</td>
					<td>{$vo.user_nicename}</td>
					<td>{$vo.total_charge}</td>
					<td>{$vo.consumption}</td>
					<td>{$vo.total_votes}</td>
					<td>{$vo.create_time}</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>