<include file="public@header"/>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('Promoters/index')}">列表</a></li>
			<li class="active"><a>编辑</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Promoters/edit_post')}">
                <if condition="$isshow">
    				<div class="form-group">
        				<label for="input-needcoin" class="col-sm-2 control-label"><span class="form-required">*</span>代理商</label>
        				<div class="col-md-6 col-sm-10">
        					<select class="form-control" name="one_id">
        					    <option value="">请选择</option>
                                <volist name="proxys" id="v">
                                <option value="{$v['id']}">{$v['user_nicename']}</option>
                                </volist>
                            </select>
        				</div>
        			</div>
                </if>
				<div class="form-group">
					<label class="col-sm-2 control-label">用户名</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" name="user_login" value="{$user_login}">
					</div>
				</div>
				<div class="form-group">
					<label class=" col-sm-2 control-label">密码</label>
					<div class="col-md-6 col-sm-10">
						<input type="password" class="form-control" name="user_pass" value="" placeholder="******">
					</div>
				</div>
				<div class="form-group">
					<label class=" col-sm-2 control-label">昵称</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" name="user_nicename" value="{$user_nicename}">
					</div>
				</div>
                <div class="form-group">
					<label class="col-sm-2 control-label">邮箱</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" name="user_email" value="{$user_email}">
					</div>
				</div>
                
                <div class="form-group">
					<label class=" col-sm-2 control-label">推广码</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" name="user_activation_key" value="{$user_activation_key}" readonly>
					</div>
				</div>
				<!--<div class="form-group" style="display:none;">-->
				<!--	<label class="control-label">角色</label>-->
				<!--	<div class="col-md-6 col-sm-10">-->
				<!--		<label class="checkbox inline"><input value="7" type="checkbox" name="role_id[]" checked>推广员</label>-->
				<!--	</div>-->
				<!--</div>-->
			<input type="hidden" name="id" id="" value="{$id}" />
			<div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary   js-ajax-submit">{:lang("SAVE")}</button>
                <a class="btn btn-default" href="{:url('Promoters/index')}">返回</a>
            </div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>