<include file="public@header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>{:lang('USER_INDEXADMIN_INDEX')}</a></li>

    </ul>
    <form class="well form-inline margin-top-20" method="post" action="{:url('Users/index')}">
        用户ID：
        <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
               placeholder="请输入用户ID">
        关键字：
        <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
               placeholder="昵称/手机">
        <input type="submit" class="btn btn-primary" value="搜索"/>
    </form>
    <form method="post" class="js-ajax-form">
        	<div class="table-actions">
                 <a class="btn btn-xs btn-primary" id="mail">确认提交</a>
            </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>昵称</th>
                <th>头像</th>
            </tr>
            </thead>
            <tbody>
            <php>
                $user_statuses=array("0"=>lang('USER_STATUS_BLOCKED'),"1"=>lang('USER_STATUS_ACTIVATED'),"2"=>lang('USER_STATUS_UNVERIFIED'));
            </php>
            <foreach name="users" item="vo">
                <tr>
    				<td>
                	    <input type="radio" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="id" value="{$vo.id}">
                    </td>
                    <td>{$vo.id}</td>
                    <td>{$vo['user_nickname']?$vo['user_nickname']:lang('NOT_FILLED')}</td>
                    <td><img width="25" height="25" src="{$vo['avatar']?$vo['avatar']:lang('NOT_FILLED')}"/></td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$page}</div>
    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
	<script type="text/javascript">
		$(function(){
			Wind.use('layer');
		});
		
	    $("#mail").click(function () {

       
	    var id = $("input[name='id']:checked").val();

    	 if(id!= null){
    	      var j= "{$judge}";
    	      if(j!=0){
    	          window.parent.call_back(id,3);
    	      }else{
    	           window.parent.call_back(id);
    	      }
	         
    	 }else{
	        layer.msg('请选择会员',{icon:2});
    	 }



        });
	</script>
</body>
</html>