<include file="public@header"/>
<style>
.cdnhide{
	display:none;
}
</style>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">基本设置</a></li>
        <li><a href="#B" data-toggle="tab">登录配置</a></li>
        <!--<li><a href="#D" data-toggle="tab">映票提现配置</a></li>-->
        <li><a href="#E" data-toggle="tab">推送配置</a></li>
        <!--<li><a href="#F" data-toggle="tab">支付配置</a></li>-->
        <!--<li><a href="#G" data-toggle="tab">邀请奖励</a></li>-->
        <!--<li><a href="#H" data-toggle="tab">统计配置</a></li>-->
        <!--<li><a href="#I" data-toggle="tab">视频配置</a></li>-->
        <!--<li><a href="#J" data-toggle="tab">店铺/商品配置</a></li>-->
        <!--<li><a href="#K" data-toggle="tab">动态配置</a></li>-->
        <!--<li><a href="#L" data-toggle="tab">游戏配置</a></li>-->
        <!--<li><a href="#M" data-toggle="tab">物流配置</a></li>-->
    </ul>
    <form class="form-horizontal js-ajax-form margin-top-20" role="form" action="{:url('setting/configpriPost')}" method="post">
        <fieldset>
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="A">
                    
                        <div class="form-group">
                            <label for="input-service_switch" class="col-sm-2 control-label">客服</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[service_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['service_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-service_url" class="col-sm-2 control-label">客服链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-service_url"
                                       name="options[service_url]" value="{$config.service_url|default=''}">
                                       <p class="help-block">注册链接：http://www.53kf.com/reg/index?yx_from=210260</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-sensitive_words" class="col-sm-2 control-label">敏感词</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-sensitive_words" name="options[sensitive_words]" >{$config.sensitive_words|default=''}</textarea><p class="help-block">设置多个敏感字，请用英文状态下逗号隔开</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="1">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="B">
                        <div class="form-group">
                            <label for="input-reg_reward" class="col-sm-2 control-label">注册奖励</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-reg_reward"
                                       name="options[reg_reward]" value="{$config.reg_reward|default=''}">
                                       <p class="help-block">新用户注册奖励（整数）</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-bonus_switch" class="col-sm-2 control-label">登录奖励开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[bonus_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['bonus_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        
                        <div class="form-group">
                            <label for="input-login_wx_appid" class="col-sm-2 control-label">微信公众平台Appid</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_wx_appid" name="options[login_wx_appid]" value="{$config['login_wx_appid']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-login_wx_appsecret" class="col-sm-2 control-label">微信公众平台AppSecret</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-login_wx_appsecret" name="options[login_wx_appsecret]" value="{$config['login_wx_appsecret']|default=''}"> 
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="input-ihuyi_account" class="col-sm-2 control-label">互亿无线APIID</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ihuyi_account" name="options[ihuyi_account]" value="{$config['ihuyi_account']|default=''}"> 短信验证码   http://www.ihuyi.com/  互亿无线后台-》验证码、短信通知-》账号及签名->APIID
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-ihuyi_ps" class="col-sm-2 control-label">互亿无线key</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ihuyi_ps" name="options[ihuyi_ps]" value="{$config['ihuyi_ps']|default=''}">  短信验证码 互亿无线后台-》验证码、短信通知-》账号及签名->APIKEY
                            </div>
                        </div> -->
                        
                        <div class="form-group">
                            <label for="input-sendcode_switch" class="col-sm-2 control-label">短信验证码开关</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[sendcode_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['sendcode_switch']" value="1">selected</eq>>开启</option>
                                </select>
                                <p class="help-block">短信验证码开关,关闭后不再发送真实验证码，采用默认验证码123456</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-ccp_sid" class="col-sm-2 control-label">容联云ACCOUNT SID</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ccp_sid" name="options[ccp_sid]" value="{$config['ccp_sid']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ccp_token" class="col-sm-2 control-label">容联云AUTH TOKEN</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ccp_token" name="options[ccp_token]" value="{$config['ccp_token']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ccp_appid" class="col-sm-2 control-label">容联云应用APPID</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ccp_appid" name="options[ccp_appid]" value="{$config['ccp_appid']|default=''}"> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ccp_tempid" class="col-sm-2 control-label">容联云短信模板ID</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ccp_tempid" name="options[ccp_tempid]" value="{$config['ccp_tempid']|default=''}"> 
                            </div>
                        </div>
                        
                        
                        
                        <div class="form-group">
                            <label for="input-iplimit_switch" class="col-sm-2 control-label">短信验证码IP限制开关</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[iplimit_switch]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="config['iplimit_switch']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-iplimit_times" class="col-sm-2 control-label">短信验证码IP限制次数</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-iplimit_times" name="options[iplimit_times]" value="{$config['iplimit_times']|default=''}"> 
                                <p class="help-block">同一IP每天可以发送验证码的最大次数</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="E">
                        <div class="form-group">
                            <label for="input-TPNS_service" class="col-sm-2 control-label">移动推送 TPNS 服务地址</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[TPNS_service]">
                                    <option value="https://api.tpns.tencent.com/" <eq name="config['TPNS_service']" value="https://api.tpns.tencent.com/">selected</eq>>广州服务接入点</option>
                                    <option value="https://api.tpns.sh.tencent.com/" <eq name="config['TPNS_service']" value="https://api.tpns.sh.tencent.com/">selected</eq>>上海服务接入点</option>
                                    <option value="https://api.tpns.hk.tencent.com/" <eq name="config['TPNS_service']" value="https://api.tpns.hk.tencent.com/">selected</eq>>中国香港服务接入点</option>
                                    <option value="https://api.tpns.sgp.tencent.com/" <eq name="config['TPNS_service']" value="https://api.tpns.sgp.tencent.com/">selected</eq>>新加坡服务接入点</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-TPNS_sandbox" class="col-sm-2 control-label">腾讯推送模式</label>
                            <div class="col-md-6 col-sm-10">
								<select class="form-control" name="options[TPNS_sandbox]">
                                    <option value="dev">开发</option>
                                    <option value="product" <eq name="config['TPNS_sandbox']" value="product">selected</eq>>生产</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-TPNS_android_id" class="col-sm-2 control-label">安卓AccessId</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-TPNS_android_id" name="options[TPNS_android_id]" value="{$config['TPNS_android_id']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-TPNS_android_key" class="col-sm-2 control-label">安卓AccessKey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-TPNS_android_key" name="options[TPNS_android_key]" value="{$config['TPNS_android_key']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-TPNS_android_secret" class="col-sm-2 control-label">安卓SecretKey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-TPNS_android_secret" name="options[TPNS_android_secret]" value="{$config['TPNS_android_secret']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-TPNS_ios_id" class="col-sm-2 control-label">IOS_AccessId</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-TPNS_ios_id" name="options[TPNS_ios_id]" value="{$config['TPNS_ios_id']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-TPNS_ios_key" class="col-sm-2 control-label">IOS_AccessKey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-TPNS_ios_key" name="options[TPNS_ios_key]" value="{$config['TPNS_ios_key']|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-TPNS_ios_secret" class="col-sm-2 control-label">IOS_SecretKey</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-TPNS_ios_secret" name="options[TPNS_ios_secret]" value="{$config['TPNS_ios_secret']|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="M">
                        
                        <div class="form-group">
                            <label for="input-express_type" class="col-sm-2 control-label">物流模式</label>
                            <div class="col-md-6 col-sm-10">
                                <label class="radio-inline"><input type="radio" name="options[express_type]" value="0" <eq name="config['express_type']" value="0">checked</eq> >开发版</label>
                                <label class="radio-inline"><input type="radio" name="options[express_type]" value="1" <eq name="config['express_type']" value="1">checked</eq> >正式版</label>
                                <p class="help-block">开发版仅适用于程序调试,每天查询最多500次,且只支持申通、圆通、中通;</p>
                                <p class="help-block">正式运营后,请购买三方套餐,将正式版电商EBusinessID和AppKey填写,并且将此处的物流模式切换为正式版；<a href="http://www.kdniao.com" target="_blank">立即购买</a></p>

                            </div>

                        </div>

                        <div class="form-group">
                            <label for="input-express_id_dev" class="col-sm-2 control-label">用户ID（开发版）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_id_dev" name="options[express_id_dev]" value="{$config['express_id_dev']|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-express_appkey_dev" class="col-sm-2 control-label">Api Key（开发版）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_appkey_dev" name="options[express_appkey_dev]" value="{$config['express_appkey_dev']|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-express_id" class="col-sm-2 control-label">用户ID (正式版)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_id" name="options[express_id]" value="{$config['express_id']|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-express_appkey" class="col-sm-2 control-label">Api Key (正式版)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-express_appkey" name="options[express_appkey]" value="{$config['express_appkey']|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>

</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
<script>
(function(){

    $('.btn-cancel-thumbnail2').click(function () {
        $('#thumbnail2-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
        $('#thumbnail2').val('');
    });
    

    $("#sdk label").on('click',function(){
        var v=$("input",this).val();
        if(v==1){
            $("#cdn label input[type=radio]").attr('disabled','disabled');
            $("#cdn label input[type=radio][value=2]").removeAttr('disabled');
            $("#cdn label").eq(1).click();
        }else{
            $("#cdn label input[type=radio]").removeAttr('disabled');
        }
    })
    
    $("#cdn label").on('click',function(){
        var v_d=$("input",this).attr('disabled');
        if(v_d=='disabled'){
            return !1;
        }
        var v=$("input",this).val();
        var b=$("#cdn_switch_"+v);
        $(".cdn_bd").hide();
        b.show();
    })
    
    $("#cloudtype label").on('click',function(){
        var v=$("input",this).val();
        var b=$("#cloudtype_"+v);
        $(".cloudtype_bd").siblings('.cloudtype_bd').hide();
        b.show();
    })

       
    
})()
</script>
</body>
</html>
