<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">{:lang('WEB_SITE_INFOS')}</a></li>
        <!--<li><a href="#B" data-toggle="tab">{:lang('SEO_SETTING')}</a></li>-->
        <li><a href="#C" data-toggle="tab">APP版本管理</a></li>
        <li><a href="#D" data-toggle="tab">登录开关</a></li>
        <!--<li><a href="#C" data-toggle="tab">{:lang('URL_SETTING')}</a></li>-->
        <!--<li><a href="#E" data-toggle="tab">{:lang('COMMENT_SETTING')}</a></li>-->
        <!--<li><a href="#F" data-toggle="tab">用户注册设置</a></li>-->
        <!--<li><a href="#G" data-toggle="tab">CDN设置</a></li>-->
    </ul>

    <form class="form-horizontal js-ajax-form margin-top-20" role="form" action="{:url('setting/sitePost')}"
          method="post">
        <fieldset>
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="A">
                        <!--<div class="form-group">-->
                        <!--    <label for="input-maintain_switch" class="col-sm-2 control-label">网站维护</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <select class="form-control" name="options[maintain_switch]">-->
                        <!--            <option value="0">关闭</option>-->
                        <!--            <option value="1" <eq name="site_info['maintain_switch']" value="1">selected</eq>>开启</option>-->
                        <!--        </select>-->
                        <!--        <p class="help-block">网站维护开启后，无法开启直播，进入直播间</p>-->
                        <!--    </div>-->
                        <!--</div>-->
                        
                        <!--<div class="form-group">-->
                        <!--    <label for="input-maintain_tips" class="col-sm-2 control-label">维护提示</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <textarea class="form-control" id="input-maintain_tips" name="options[maintain_tips]" >{$site_info.maintain_tips|default=''}</textarea>-->
                        <!--        <p class="help-block">维护提示信息（200字以内）</p>-->
                        <!--    </div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                        <!--    <label for="input-company_name" class="col-sm-2 control-label">公司名称</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <input type="text" class="form-control" id="input-company_name" name="options[company_name]"-->
                        <!--               value="{$site_info.company_name|default=''}">-->
                        <!--               <p class="help-block">公司名称(网站下载页关于我们使用)</p>-->
                        <!--    </div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                        <!--    <label  for="input-company_desc" class="col-sm-2 control-label">公司简介</label>-->
                        <!--    <div class="col-md-6 col-sm-10">        -->
                        <!--        <textarea  class="form-control" name="options[company_desc]">{$site_info['company_desc']|default=''}</textarea>-->
                        <!--        <p class="help-block">公司简介（网站下载页关于我们使用,字数在200字以内）</p>-->
                        <!--    </div>-->
                        <!--</div>-->
                        
                        <div class="form-group">
                            <label for="input-site-name" class="col-sm-2 control-label"><span
                                    class="form-required"></span>{:lang('WEBSITE_NAME')}</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-name" name="options[site_name]"
                                       value="{$site_info.site_name|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-site" class="col-sm-2 control-label"><span
                                    class="form-required"></span>网站域名</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-name" name="options[site]" value="{$site_info.site|default=''}">
                                <p class="help-block">格式： http(s)://xxxx.com(:端口号)</p>
                            </div> 
                        </div>

                        <div class="form-group">
                            <label for="input-site" class="col-sm-2 control-label"><span
                                    class="form-required"></span>商家提现提醒</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-merch_cash_tips" name="options[merch_cash_tips]" value="{$site_info.merch_cash_tips|default=''}">
                                <p class="help-block">商家提现时的提醒tips</p>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="input-site-user_least_coin" class="col-sm-2 control-label"><span
                                    class="form-required"></span>用户最少提现金币</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-user_least_coin" name="options[user_least_coin]"
                                       value="{$site_info.user_least_coin|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-site-merch_least_coin" class="col-sm-2 control-label"><span
                                    class="form-required"></span>商家最少提现金币</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-merch_least_coin" name="options[merch_least_coin]"
                                       value="{$site_info.merch_least_coin|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-site-user_cash_rate" class="col-sm-2 control-label"><span
                                    class="form-required"></span>用户金币比例</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-user_cash_rate" name="options[user_cash_rate]"
                                       value="{$site_info.user_cash_rate|default=''}">
                                <p class="help-block">(填入100:1表示100金币兑换1马币)!!!!切勿填错,如果填错可能导致整个提现模块瘫痪!!!</p>

                            </div>

                        </div>


                        <div class="form-group">
                            <label for="input-site-merch_cash_rate" class="col-sm-2 control-label"><span
                                    class="form-required"></span>商家金币比例</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site-merch_cash_rate" name="options[merch_cash_rate]"
                                       value="{$site_info.merch_cash_rate|default=''}">
                                <p class="help-block">(填入100:1表示100金币兑换1马币)!!!!切勿填错,如果填错可能导致整个提现模块瘫痪!!!</p>

                            </div>

                        </div>





                        <div class="form-group">
                            <label for="input-ipa_ewm" class="col-sm-2 control-label">app启动图</label>
                            <div class="col-md-6 col-sm-10">
                        <ul id="photos" class="pic-list list-unstyled form-inline">
                            <notempty name="site_info['start_up']">
                               
                                <foreach name="site_info['start_up']" item="vo">
                                    <php>$img_url=cmf_get_image_preview_url($vo);</php>
                                    <li id="saved-image{$key}">
                                        <input id="photo-{$key}" type="text" style="width: 50%;display:none" readonly name="options[start_up][]"
                                               value="{$img_url}">
                                       <input id="photo-{id}" style="width: 50%;" type="text"  name="options[start_up_url][]" value="{$site_info['start_up_url'][$key]}" placeholder="请输入跳转地址">
                                        <img id="photo-{$key}-preview"
                                             src="{:cmf_get_image_preview_url($vo)}"
                                             style="height:36px;width: 36px;"
                                             onclick="parent.imagePreviewDialog(this.src);">
                                        <a href="javascript:uploadOneImage('图片上传','#photo-{$key}');">替换</a>
                                        <a href="javascript:(function(){$('#saved-image{$key}').remove();})();">移除</a>
                                        <span>(点击图片可预览,输入框为跳转地址)</span>
                                    </li>
                                </foreach>
                            </notempty>


                        </ul>
                        <a href="javascript:uploadMultiImage('图片上传','#photos','photos-item-wrapper');">启动图上传</a>
                            </div>
                        </div>
                        <script type="text/html" id="photos-item-wrapper">
                            <li id="savedimage{id}">
                                <input id="photo-{id}" style="width: 50%;display:none" type="text" readonly name="options[start_up][]" value="{filepath}">
                                <input id="photo-{id}" style="width: 50%;" type="text"  name="options[start_up_url][]" value="" placeholder="请输入跳转地址">
                                <img id="photo-{id}-preview" src="{url}" style="height:36px;width: 36px;" onclick="parent.imagePreviewDialog(this.src);">
                                <a href="javascript:uploadOneImage('图片上传','#photo-{id}');">替换</a>
                                <a href="javascript:(function(){$('#savedimage{id}').remove();})();">移除</a>

                                <span>(点击图片可预览,输入框为跳转地址)</span>
                            </li>
                        </script>


                        <!--  <div class="form-group">-->
                        <!--    <label for="input-site" class="col-sm-2 control-label"><span-->
                        <!--            class="form-required"></span>app启动动画图跳转链接</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <input type="text" class="form-control" id="input-site-name" name="options[url]" value="{$site_info.url|default=''}">-->
                        <!--    </div> -->
                        <!--</div>-->
                        
                        <div class="form-group" style="display:none;">
                            <label for="input-admin_url_password" class="col-sm-2 control-label">
                                后台加密码
                                <a href="http://www.thinkcmf.com/faq.html?url=https://www.kancloud.cn/thinkcmf/faq/493509"
                                   title="查看帮助手册"
                                   data-toggle="tooltip"
                                   target="_blank"><i class="fa fa-question-circle"></i></a>
                            </label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-admin_url_password"
                                       name="admin_settings[admin_password]"
                                       value="{$admin_settings.admin_password|default=''}"
                                       id="js-site-admin-url-password">
                                <p class="help-block">英文字母数字，不能为纯数字</p>
                                <p class="help-block" style="color: red;">
                                    设置加密码后必须通过以下地址访问后台,请劳记此地址，为了安全，您也可以定期更换此加密码!</p>
                                <php>
                                    $root=cmf_get_root();
                                    $root=empty($root)?'':'/'.$root;
                                    $site_domain = cmf_get_domain().$root;
                                </php>
                                <p class="help-block">后台登录地址：<span id="js-site-admin-url">{$site_domain}/{$admin_settings.admin_password|default='admin'}</span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group" style="display:none;">
                            <label for="input-site_admin_theme" class="col-sm-2 control-label">后台模板</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
                                    $site_admin_theme=empty($admin_settings['admin_theme'])?'':$admin_settings['admin_theme'];
                                </php>
                                <select class="form-control" name="admin_settings[admin_theme]"
                                        id="input-site_admin_theme">
                                    <foreach name="admin_themes" item="vo">
                                        <php>$admin_theme_selected = $site_admin_theme == $vo ? "selected" : "";</php>
                                        <option value="{$vo}" {$admin_theme_selected}>{$vo}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label for="input-site_adminstyle" class="col-sm-2 control-label">{:lang('WEBSITE_ADMIN_THEME')}</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
                                    $site_admin_style=empty($admin_settings['admin_style'])?cmf_get_admin_style():$admin_settings['admin_style'];
                                </php>
                                <select class="form-control" name="admin_settings[admin_style]"
                                        id="input-site_adminstyle">
                                    <foreach name="admin_styles" item="vo">
                                        <php>$admin_style_selected = $site_admin_style == $vo ? "selected" : "";</php>
                                        <option value="{$vo}" {$admin_style_selected}>{$vo}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <if condition="APP_DEBUG && false">
                            <div class="form-group">
                                <label for="input-default_app" class="col-sm-2 control-label">默认应用</label>
                                <div class="col-md-6 col-sm-10">
                                    <php>
                                        $site_default_app=empty($cmf_settings['default_app'])?'demo':$cmf_settings['default_app'];
                                    </php>
                                    <select class="form-control" name="cmf_settings[default_app]"
                                            id="input-default_app">
                                        <foreach name="apps" item="vo">
                                            <php>$default_app_selected = $site_default_app == $vo ? "selected" : "";
                                            </php>
                                            <option value="{$vo}" {$default_app_selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                        </if>
                        <!--
                        <div class="form-group">
                            <label for="input-html_cache_on" class="col-sm-2 control-label">{:lang('HTML_CACHE')}</label>
                            <div class="col-md-6 col-sm-10">
                                <php>$html_cache_on_checked=empty($html_cache_on)?'':'checked';</php>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="options[mobile_tpl_enabled]" value="1" id="input-html_cache_on" {$html_cache_on_checked}></label>
                                </div>
                            </div>
                        </div>
                        -->
                        <!--<div class="form-group">-->
                        <!--    <label for="input-copyright" class="col-sm-2 control-label">版权信息</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <textarea class="form-control" id="input-copyright" name="options[copyright]" >{$site_info.copyright|default=''}</textarea>-->
                        <!--        <p class="help-block">版权信息（200字以内）</p>-->
                        <!--    </div>-->
                        <!--</div>-->
                        
                        <!-- <div class="form-group">-->
                        <!--    <label for="input-upper" class="col-sm-2 control-label">每天获得金币上限</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <input type="text" class="form-control" id="input-upper" name="comment_app[upper]"-->
                        <!--               value="{$comment_app.upper|default=''}">-->
                        <!--        <p class="help-block">金币上限</p>-->
                        <!--    </div>-->
                        <!--</div>-->
                        
                        
                        
                        
                        <div class="form-group">
                            <label for="input-publish" class="col-sm-2 control-label">发布帖子</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-publish" name="comment_app[publish]"
                                       value="{$comment_app.publish|default=''}">
                                <p class="help-block">发布帖子获得金币</p>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--    <label for="input-questionnaire" class="col-sm-2 control-label">参与问卷调查</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <input type="text" class="form-control" id="input-questionnaire" name="comment_app[questionnaire]"-->
                        <!--               value="{$comment_app.questionnaire|default=''}">-->
                        <!--        <p class="help-block">参与问卷调查获得金币</p>-->
                        <!--    </div>-->
                        <!--</div>-->


                        <div class="form-group">
                            <label for="input-material" class="col-sm-2 control-label">完善资料</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-material" name="comment_app[material]"
                                       value="{$comment_app.material|default=''}">
                                <p class="help-block">完善资料获得金币</p>
                            </div>
                        </div>
                        
     

                        <div class="form-group">
                            <label for="input-num" class="col-sm-2 control-label">阅读量</label>
                            <div class="col-md-6 col-sm-10">
                                 <a class="btn btn-xs btn-primary" href='{:url("read/index")}'>前往设置</a>
                                <!--<input type="text" class="form-control" id="input-num" name="comment_app[num]"-->
                                <!--       value="{$comment_app.num|default=''}">-->
                                <p class="help-block">多少阅读量获得金币</p>
                            </div>
                        </div>
                   
                        <!-- <div class="form-group">-->
                        <!--    <label for="input-reading" class="col-sm-2 control-label">阅读获得金币</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <input type="text" class="form-control" id="input-reading" name="comment_app[reading]"-->
                        <!--               value="{$comment_app.reading|default=''}">-->
                        <!--        <p class="help-block">阅读量获得金币</p>-->
                        <!--    </div>-->
                        <!--</div>-->
                   
                   
                   
                   
                   
                   
                   
                        <div class="form-group">
                            <label for="input-mobile" class="col-sm-2 control-label">公司电话</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-mobile"
                                       name="options[mobile]"
                                       value="{$site_info.mobile|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-address" class="col-sm-2 control-label">公司地址</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-address"
                                       name="options[address]"
                                       value="{$site_info.address|default=''}">
                            </div>
                        </div>
                        
                        <!--<div class="form-group">-->
                        <!--    <label for="input-apk_ewm" class="col-sm-2 control-label">android版下载二维码</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <input type="hidden" name="options[apk_ewm]" id="thumbnail1" value="{$site_info['apk_ewm']|default=''}">-->
                        <!--        <a href="javascript:uploadOneImage('图片上传','#thumbnail1');">-->
                        <!--            <if condition="empty($site_info.apk_ewm)">-->
                        <!--            <img src="__TMPL__/public/assets/images/default-thumbnail.png"-->
                        <!--                     id="thumbnail1-preview"-->
                        <!--                     style="cursor: pointer;max-width:150px;max-height:150px;"/>-->
                        <!--            <else/>-->
                        <!--            <img src="{:cmf_get_image_preview_url($site_info.apk_ewm)}"-->
                        <!--                 id="thumbnail1-preview"-->
                        <!--                 style="cursor: pointer;max-width:150px;max-height:150px;"/>-->
                        <!--            </if>-->
                        <!--        </a>-->
                        <!--        <input type="button" class="btn btn-sm btn-cancel-thumbnail1" value="取消图片">  PC首页用-->
                        <!--    </div>-->
                        <!--</div>-->
                        
                        <!--<div class="form-group">-->
                        <!--    <label for="input-ipa_ewm" class="col-sm-2 control-label">iPhone版下载二维码</label>-->
                        <!--    <div class="col-md-6 col-sm-10">-->
                        <!--        <input type="hidden" name="options[ipa_ewm]" id="thumbnail2" value="{$site_info['ipa_ewm']|default=''}">-->
                        <!--        <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">-->
                        <!--            <if condition="empty($site_info.ipa_ewm)">-->
                        <!--            <img src="__TMPL__/public/assets/images/default-thumbnail.png"-->
                        <!--                     id="thumbnail2-preview"-->
                        <!--                     style="cursor: pointer;max-width:150px;max-height:150px;"/>-->
                        <!--            <else/>-->
                        <!--            <img src="{:cmf_get_image_preview_url($site_info.ipa_ewm)}"-->
                        <!--                 id="thumbnail2-preview"-->
                        <!--                 style="cursor: pointer;max-width:150px;max-height:150px;"/>-->
                        <!--            </if>-->
                        <!--        </a>-->
                        <!--        <input type="button" class="btn btn-sm btn-cancel-thumbnail2" value="取消图片">  PC首页用-->
                        <!--    </div>-->
                        <!--</div>-->
                        
                        
                       <div class="form-group">
                            <label for="input-ipa_ewm" class="col-sm-2 control-label">背景图</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[background]" id="thumbnail2" value="{$site_info['background']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">
                                    <if condition="empty($site_info.background)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail2-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.background)}"
                                         id="thumbnail2-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail2" value="取消图片">
                            </div>
                        </div>




                        <div class="form-group">
                            <label for="input-af" class="col-sm-2 control-label">实名认证（金币）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-af"
                                       name="options[coin]"
                                       value="{$site_info.coin|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-tow" class="col-sm-2 control-label">实名认证（引荐人金币）</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-tow"
                                       name="options[coin_ref]"
                                       value="{$site_info.coin_ref|default=''}">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="input-forward_time" class="col-sm-2 control-label">金币入账等待时长(天)</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-forward_time"
                                       name="options[forward_time]"
                                       value="{$site_info.forward_time|default=''}">
                            </div>
                        </div>
                        
                        
                        
                        <div class="form-group">
                            <label for="input-forward_time" class="col-sm-2 control-label">最少转账金币</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="number" class="form-control" id="input-forward_time"
                                       name="options[least_trans]"
                                       value="{$site_info.least_trans|default=''}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="1">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="B">
                        <div class="form-group">
                            <label for="input-site_seo_title" class="col-sm-2 control-label">{:lang('WEBSITE_SEO_TITLE')}</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site_seo_title"
                                       name="options[site_seo_title]" value="{$site_info.site_seo_title|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-site_seo_keywords" class="col-sm-2 control-label">{:lang('WEBSITE_SEO_KEYWORDS')}</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-site_seo_keywords"
                                       name="options[site_seo_keywords]"
                                       value="{$site_info.site_seo_keywords|default=''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-site_seo_description" class="col-sm-2 control-label">{:lang('WEBSITE_SEO_DESCRIPTION')}</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-site_seo_description"
                                          name="options[site_seo_description]">{$site_info.site_seo_description|default=''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="C">
                        <div class="form-group">
                            <label for="input-isup" class="col-sm-2 control-label">强制更新</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="options[isup]">
                                    <option value="0">关闭</option>
                                    <option value="1" <eq name="site_info['isup']" value="1">selected</eq>>开启</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-apk_ver" class="col-sm-2 control-label">APK版本号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-apk_ver"
                                       name="options[apk_ver]" value="{$site_info.apk_ver|default=''}">
                                       <p class="help-block">安卓APP最新的版本号，请勿随意修改</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-apk_url" class="col-sm-2 control-label">APK下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-apk_url"
                                       name="options[apk_url]" value="{$site_info.apk_url|default=''}">
                                       <p class="help-block">安卓最新版APK下载链接</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-apk_des" class="col-sm-2 control-label">APK更新说明</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-apk_des"
                                          name="options[apk_des]">{$site_info.apk_des|default=''}</textarea>
                                          <p class="help-block">APK更新说明（200字以内）</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ipa_ver" class="col-sm-2 control-label">IPA版本号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ipa_ver"
                                       name="options[ipa_ver]" value="{$site_info.ipa_ver|default=''}">
                                       <p class="help-block">IOS APP最新的版本号，请勿随意修改</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ios_shelves" class="col-sm-2 control-label">IPA上架版本号</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ios_shelves"
                                       name="options[ios_shelves]" value="{$site_info.ios_shelves|default=''}">
                                       <p class="help-block">IOS上架审核中版本的版本号(用于上架期间隐藏上架版本部分功能,不要和IPA版本号相同)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ipa_url" class="col-sm-2 control-label">IPA下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-ipa_url"
                                       name="options[ipa_url]" value="{$site_info.ipa_url|default=''}">
                                       <p class="help-block">IOS最新版IPA下载链接</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-ipa_des" class="col-sm-2 control-label">IPA更新说明</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-ipa_des"
                                          name="options[ipa_des]">{$site_info.ipa_des|default=''}</textarea>
                                          <p class="help-block">IPA更新说明（200字以内）</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-qr_url" class="col-sm-2 control-label">二维码下载链接</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="hidden" name="options[qr_url]" id="thumbnail6" value="{$site_info['qr_url']|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumbnail6');">
                                    <if condition="empty($site_info.qr_url)">
                                    <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumbnail6-preview"
                                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    <else/>
                                    <img src="{:cmf_get_image_preview_url($site_info.qr_url)}"
                                         id="thumbnail6-preview"
                                         style="cursor: pointer;max-width:150px;max-height:150px;"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail6" value="取消图片">
                                <p class="help-block"></p> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="D">
                        <div class="form-group">
                            <label for="input-site-name" class="col-sm-2 control-label">登录方式</label>
                            <div class="col-md-6 col-sm-10">
                                <php>
									$qq='qq';
									$wx='wx';
									$sina='sina';
									$facebook='facebook';
									$twitter='twitter';
                                    $ios='ios';
                                    $google='google';
								</php>
								<label class="checkbox-inline"><input type="checkbox" value="google" name="login_type[]" <in value="$site_info['login_type']" name="google">checked="checked"</in>>google</label>
								<!--<label class="checkbox-inline"><input type="checkbox" value="qq" name="login_type[]" <in value="$site_info['login_type']" name="qq">checked="checked"</in>>QQ</label>-->
								<!--<label class="checkbox-inline"><input type="checkbox" value="wx" name="login_type[]" <in value="$site_info['login_type']" name="wx">checked="checked"</in>>微信</label>-->
								<!--<label class="checkbox-inline"><input type="checkbox" value="facebook" name="login_type[]" <in value="$site_info['login_type']" name="facebook">checked="checked"</in>>FaceBook</label>-->
								<!--<label class="checkbox-inline"><input type="checkbox" value="twitter" name="login_type[]" <in value="$site_info['login_type']" name="twitter">checked="checked"</in>>Twitter</label>-->
        <!--                        <label class="checkbox-inline"><input type="checkbox" value="ios" name="login_type[]" <in value="$site_info['login_type']" name="ios">checked="checked"</in>>iOS</label>-->
								
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="F">
                        <div class="form-group">
                            <label for="input-banned_usernames" class="col-sm-2 control-label">用户注册验证</label>
                            <div class="col-md-6 col-sm-10">
                                <select class="form-control" name="cmf_settings[open_registration]">
                                    <option value="0">是</option>
                                    <php>
                                        $open_registration_selected = empty($cmf_settings['open_registration'])?'':'selected';
                                    </php>
                                    <option value="1" {$open_registration_selected}>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display: none;">
                            <label for="input-banned_usernames" class="col-sm-2 control-label">{:lang('SPECAIL_USERNAME')}</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control" id="input-banned_usernames"
                                          name="cmf_settings[banned_usernames]">{$cmf_settings.banned_usernames|default=''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="G">
                        <div class="form-group">
                            <label for="input-cdn_static_root" class="col-sm-2 control-label">静态资源cdn地址</label>
                            <div class="col-md-6 col-sm-10">
                                <input type="text" class="form-control" id="input-cdn_static_root"
                                       name="cdn_settings[cdn_static_root]"
                                       value="{$cdn_settings.cdn_static_root|default=''}">
                                <p class="help-block">
                                    不能以/结尾；设置这个地址后，请将ThinkCMF下的静态资源文件放在其下面；<br>
                                    ThinkCMF下的静态资源文件大致包含以下(如果你自定义后，请自行增加)：<br>
                                    themes/admin_simplebootx/public/assets<br>
                                    static<br>
                                    themes/simplebootx/public/assets<br>
                                    例如未设置cdn前：jquery的访问地址是/static/js/jquery.js, <br>
                                    设置cdn是后它的访问地址就是：静态资源cdn地址/static/js/jquery.js
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</body>
</html>
