<include file="public@header" />
</head>
<style>
    
    
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>提现列表</a></li>

		</ul>
		<form class="well form-inline margin-top-20" name="form1" method="post" action="">
		  提现状态：
			<select class="form-control" name="status">
                <volist name="status" id="v">
                    <option value="{$key}" <if condition="input('request.status') eq $key">selected</if> >{$v}</option>
                </volist>		
			</select>

			<select  class="form-control" name="time_type">
				<option <if condition="input('request.time_type') eq 1 ">selected</if> value="1">创建时间</option>
				<option  <if condition="input('request.time_type') eq 2 ">selected</if> value="2">处理时间</option>
			</select>
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
            
            用户ID：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入用户ID">

			店铺ID：
			<input class="form-control" type="text" name="shopid" style="width: 200px;" value="{:input('request.shopid')}"
				   placeholder="请输入店铺ID">
                   
			银行名称：
            <input class="form-control" type="text" name="bank_name" style="width: 200px;" value="{:input('request.bank_name')}"
                   placeholder="银行名称">
			银行卡号：
			<input class="form-control" type="text" name="bank_account" style="width: 210px;" value="{:input('request.bank_account')}"
				   placeholder="请输入银行卡号">
			关键词:
			<input class="form-control" type="text" name="key" style="width: 200px;" value="{:input('request.key')}"
				   placeholder="关键词">

			<input type="button" class="btn btn-primary" value="搜索" onclick="form1.action='{:url('Cash/index')}';form1.submit();"/>

			<!--<div class="admin_main" style="margin-top:10px">
				当前提现总金额：12312313

					成功提现金额：1231
					待处理金额：123

			</div>-->
		</form>	
		
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>用户id/店铺id</th>
						<th>提现金额/金币/比例值</th>
						<th>银行名称</th>
						<th>银行卡号</th>
						<th>银行用户名称/公司信息</th>
						<th>银行预留电话</th>
						<th>状态</th>
						<th>提交时间</th>
						<th>处理时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
						<php>
							if($vo['shopid'] == 0){
							   $vo['shopid'] = '无';
							}
						</php>
						<td align="center">{$vo.id}</td>
						<td>{$vo['uid']}/{$vo['shopid']}</td>
						<td>金额:{$vo['money']}<br>
							金币:{$vo['coin']}<br>
							比例值:{$vo['rate']}
						</td>
						<td>{$vo['bank_name']}</td>
						<td>
                            {$vo['bank_account']}
                        </td>				
						<td>{$vo['bank_username']}
						     <if condition="$vo['company_name']">
						        <br> <label class="label-success">COMPANY INFO</label>
						        <br>----------
                                <br>COMPANY NAME: <span class="s">{$vo.company_name}</span>
                                <br>SSM No: <span class="s">{$vo.ssm_no}</span>
                                <br>SWIFT CODE: <span class="s">{$vo.swift_code}</span>
                                <br> --------
                               
                                
                            </if>    
						</td>
						<td>{$vo['mobile']}</td>
						<td>
							<if condition="$vo['status'] eq 0"><span class="btn btn-xs btn-warning">申请中</span></if>
							<if condition="$vo['status'] eq 1"><span class="btn btn-xs btn-success">已通过</span></if>
							<if condition="$vo['status'] eq 2"><span class="btn btn-xs btn-danger">已拒绝</span></if>
							<if condition="$vo['status'] eq 3"><span class="btn btn-xs btn-primary">已完成</span></if>

						</td>
						<td>{:date('Y-m-d H:i:s',$vo['createtime'])}</td>
						<td>
							<if condition="$vo['handle_time'] eq 0">
								无
								<else />
								{:date('Y-m-d H:i:s',$vo['handle_time'])}
							</if>

						 </td>
						<td>	
						<if condition="$vo['status'] eq '0'" >
                        <a class="btn btn-xs btn-primary" href='{:url("Cash/verify",array("id"=>$vo["id"]))}'>{:lang('审核')}</a>
						<else />
							<a class="btn btn-xs btn-green" href='{:url("Cash/edit",array("id"=>$vo["id"]))}'>{:lang('详情')}</a>
						</if>
                         
                        <!-- <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Cash/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a> -->
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$list|raw}</div>


		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>