<include file="public@header" />
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li ><a href="{:url('Cash/index')}">提现记录列表</a></li>
        <li class="active"><a >{:lang('审核')}</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="">
        
        
        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>会员ID</label>
            <div class="col-md-6 col-sm-10" style="padding-top:7px;">
                {$data['uid']}
            </div>
        </div>
        
        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>店铺ID</label>
            <div class="col-md-6 col-sm-10" style="padding-top:7px;">
                {$data['shopid']}
            </div>
        </div>

        <div class="form-group">
            <label for="input-coin" class="col-sm-2 control-label"><span class="form-required">*</span>金币数</label>
            <div class="col-md-6 col-sm-10" style="padding-top:7px;">
                {$data['coin']}
            </div>
        </div>
        <div class="form-group">
            <label for="input-money" class="col-sm-2 control-label"><span class="form-required">*</span>比例值</label>
            <div class="col-md-6 col-sm-10" style="padding-top:7px;">
                {$data['rate']}
            </div>
        </div>

        <div class="form-group">
            <label for="input-money" class="col-sm-2 control-label"><span class="form-required">*</span>提现金额</label>
            <div class="col-md-6 col-sm-10" style="padding-top:7px;">
                {$data['money']}
            </div>
        </div>

        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>银行卡信息</label>
            <div class="col-md-6 col-sm-10" style="padding-top:7px;">
                银行名称:{$data['bank_name']}  <br>
                银行账号:{$data['bank_account']}   <br>
                银行用户名:{$data['bank_username']}   <br>
                银行用户身份证:{$data['bank_cardid']}   <br>
                银行预留电话:{$data['mobile']}
            </div>
        </div>

        <div class="form-group">
            <label for="input-trade_no" class="col-sm-2 control-label"><span class="form-required">*</span>操作结果</label>
            <div class="col-md-6 col-sm-10">
                <select class="form-control" name="status" required>
                    <option value="0" <if condition="$data['status'] eq 0">selected</if>>申请中</option>
                        <option value="1"<if condition="$data['status'] eq 1">selected</if> >已通过</option>
                        <option value="2"<if condition="$data['status'] eq 2">selected</if> >已拒绝</option>
                      
                </select>
            </div>
        </div>
        
        
        <div class="form-group">
			<label for="input-reason" class="col-sm-2 control-label"><span class="form-required"></span>备注</label>
			<div class="col-md-6 col-sm-10">
				<textarea class="form-control" rows="2" cols="20" id="input-reason" name="reason" >{$data['reason']|default=''}</textarea>
			</div>
		</div>


       <php>
           $disable = '';
           if($data['status'] !=0){
            $disable = 'disabled';
           }
       </php>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="id" value="{$data['id']}">
                <if condition="$data['status'] eq 1">
                     <input type="hidden" name="yjwc" value="1">
                     <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('转为已完成')}</button>
                </if>
                <button type="submit" class="btn btn-primary js-ajax-submit" {$disable}>{:lang('确认')}</button>
                <a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
            </div>
        </div>

    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>
