<include file="public@header" />
<script type="text/html" id="photos-item-tpl">
    <li id="saved-image{id}">
        <input id="photo-{id}" type="hidden" name="photo_urls[]" value="{filepath}">
        <input class="form-control" id="photo-{id}-name" type="text" name="photo_names[]" value="{name}"
               style="width: 200px;" title="图片名称">
        <img id="photo-{id}-preview" src="{url}" style="height:36px;width: 36px;"
             onclick="imagePreviewDialog(this.src);">
        <a href="javascript:uploadOneImage('图片上传','#photo-{id}');">替换</a>
        <a href="javascript:(function(){$('#saved-image{id}').remove();})();">移除</a>
    </li>
</script>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Goods/index')}">商品列表</a></li>
			<li class="active"><a >{:lang('ADD')}</a></li>
		</ul>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">通用信息</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">商品相册</a></li>
        </ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('goods/editPost')}">
            
          <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane fade in active" id="home">
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required"></span>商品名称:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" value="{$result.goods_name}" name="goods_name">
				</div>
			</div>

		
			<!--<div class="form-group">-->
			<!--	<label for="input-one_class" class="col-sm-2 control-label"><span class="form-required"></span>商品分类:</label>-->
   <!--                <div class="col-md-6 col-sm-10">-->
   <!--                     <select class="form-control" name="cat_id">-->
   <!--                         <volist name="type" id="v">-->
   <!--                             <option value="{$v.id}">-->
   <!--                             {$v.name}-->
   <!--                             </option>-->
   <!--                         </volist>-->
   <!--                     </select>-->
   <!--                     <p class="help-block">商品分类可不填</p>-->
   <!--                 </div>-->
			<!--</div>-->
				
			<div class="form-group">
				<label class="col-sm-2 control-label"><span class="form-required"></span>商品规格库存:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" value="{$result.store_count}" name="store_count">
				</div>
			</div>
				
			<div class="form-group">
				<label class="col-sm-2 control-label"><span class="form-required"></span>商品市场价:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" value="{$result.market_price}" name="market_price">
				</div>
			</div>
				
			<div class="form-group">
				<label class="col-sm-2 control-label"><span class="form-required"></span>商品成本价:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" value="{$result.cost_price}" name="cost_price">
				</div>
			</div>
				
			<div class="form-group">
				<label class="col-sm-2 control-label"><span class="form-required"></span>商品金币价:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" value="{$result.gold}" name="gold">
				</div>
			</div>

	

	        <div class="form-group">
				<label for="input-content" class="col-sm-2 control-label"><span class="form-required"></span>商品简单描述:</label>
				<div class="col-md-6 col-sm-10">
					<textarea class="form-control" id="input-content" name="goods_remark">{$result.goods_remark}</textarea> 
				</div>
			</div>
                
            <div class="form-group">
                <label for="input-ipa_ewm" class="col-sm-2 control-label">商品主图</label>
                <div class="col-md-6 col-sm-10">
                    <input type="hidden" name="original_img" id="thumbnail2" value="{$result.original_img}">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">
                        <if condition="empty($result.original_img)">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                 id="thumbnail2-preview"
                                 style="cursor: pointer;max-width:150px;max-height:150px;"/>
                        <else/>
                        <img src="{:cmf_get_image_preview_url($result.original_img)}"
                             id="thumbnail2-preview"
                             style="cursor: pointer;max-width:150px;max-height:150px;"/>
                        </if>
                    </a>
                    <input type="button" class="btn btn-sm btn-cancel-thumbnail2" value="取消图片">
                </div>
            </div>

			

			<div class="form-group">
				<label for="input-sale_nums" class="col-sm-2 control-label"><span class="form-required"></span>商品销量:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-sale_nums" value="{$result.sales_sum}" name="sales_sum">
				</div>
			</div>
				
            <div class="form-group">
                <label for="input-title" class="col-sm-2 control-label"><span class="form-required"></span>内容</label>
                <div class="col-md-6 col-sm-12">
                    <script type="text/plain" id="content" name="goods_content">{$result['goods_content']|default=""|htmlspecialchars_decode}</script>
                </div>
            </div>
            
            
            <div class="form-group">
				<label for="input-datetime-start" class="col-sm-2 control-label"><span class="form-required"></span>抢购开始时间:</label>
				<div class="col-md-6 col-sm-10">
				<input class="js-datetime" type="text" id="input-datetime-start" placeholder="" value="{$result['start']}" name="start">
				<span>必须要和 抢购开始时间 搭配一起使用才会生效，只配置一个是无效的</span>
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-datetime-end" class="col-sm-2 control-label"><span class="form-required"></span>抢购截止时间:</label>
				<div class="col-md-6 col-sm-10">
				<input class="js-datetime" type="text" id="input-datetime-end" placeholder="" value="{$result['end']}" name="end">
				<span>必须要和 抢购开始时间 搭配一起使用才会生效，只配置一个是无效的</span>
				</div>
			</div>
            
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
                    <tr>
                        <td>
                            <ul id="photos" class="pic-list list-unstyled form-inline">
                                <notempty name="images">
                                    <foreach name="images" item="vo">
                                        <php>$img_url=cmf_get_image_preview_url($vo['image_url']);</php>
                                        <li id="saved-image{$key}">
                                            <input id="photo-{$key}" type="hidden" name="photo_urls[]"
                                                   value="{$vo.image_url}">
                                            <input class="form-control" id="photo-{$key}-name" type="text"
                                                   name="photo_names[]"
                                                   value="{$vo.name|default=''}" style="width: 200px;" title="图片名称">
                                            <img id="photo-{$key}-preview"
                                                 src="{:cmf_get_image_preview_url($vo['image_url'])}"
                                                 style="height:36px;width: 36px;"
                                                 onclick="parent.imagePreviewDialog(this.src);">
                                            <a href="javascript:uploadOneImage('图片上传','#photo-{$key}');">替换</a>
                                            <a href="javascript:(function(){$('#saved-image{$key}').remove();})();">移除</a>
                                        </li>
                                    </foreach>
                                </notempty>
                            </ul>
                            <a href="javascript:uploadMultiImage('图片上传','#photos','photos-item-tpl');"
                               class="btn btn-sm btn-default">选择图片</a>
                        </td>
                    </tr>
            </div>
             <input id="post-id" type="hidden" name="id" value="{$result.id}">
            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				

					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('EDIT')}</button>
				
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
			
			
		  </div>	

		</form>
	</div>

    <script src="__STATIC__/js/admin.js"></script>
    <script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
    </script>
    <script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript">
        var editorcontent = new baidu.editor.ui.Editor();
        editorcontent.render('content');
    </script>

</body>
</html>