<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >商品列表</a></li>
        	<li><a href="{:url('goods/add')}">添加</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Goods/index')}">
            
			<!--提交时间：-->
			<!--<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - -->
   <!--         <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">-->
			<!--用户： -->
   <!--         <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"-->
   <!--                placeholder="请输入会员ID、靓号">-->
            名称： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入商品名称">
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn btn-danger" href="{:url('Goods/index')}">清空</a>
		</form>				
		<form method="post" class="js-ajax-form" >
			<div class="table-actions">
                <!-- <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('Shopgoods/del')}"
                        data-subcheck="true">批量删除
                </button> -->



            </div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th width="16">
							
                            <label>
                                <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x">
                            </label>
                        	
                        </th>
						<th>ID</th>
						<th width="10%">商品名称</th>
						<th width="10%">商品类型ID</th>
						<th>商品本店价</th>
						<th>商品金币价</th>
						<th>库存</th>
						<th>封面</th>
						<th>销量</th>
						<th>状态</th>
						<th>更新时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>
					
                            	<input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}">
                      
                        </td>
					    <td>{$vo.id}</td>
					    <td>{$vo.goods_name}</td>
					    <td>{$vo.cat_id}</td>
					    <td>{$vo.shop_price}</td>
					    <td>{$vo.gold}</td>
					    <td>{$vo.store_count}</td>
						<td><img src="{$vo['original_img']}" class="imgtip" width="60"></td>
		                <td>{$vo.sales_sum}</td>
		                <td><if condition="$vo['is_on_sale'] eq '0'">下架<else />上架</if></td>
	                	<td>{:date('Y-m-d H:i:s',$vo['last_update'])}</td>
						<td>
						
                           <a class="btn btn-xs btn-primary" href='{:url("Goods/edit",array("id"=>$vo["id"]))}'>详情</a>
                            <if condition="$vo['is_on_sale'] eq '0'">
                            <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Goods/setstatus',array('id'=>$vo['id'],'status'=>'1'))}" >取消下架</a>
                           <else/>
                        
                            
                    
                    		<a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Goods/setstatus',array('id'=>$vo['id'],'status'=>'0'))}" >下架</a>
                            
                            </if>
                  
                    
                            	<!--<a class="btn btn-xs btn-primary"  onclick="commentlist({$vo['id']})">评论列表</a>-->
                        
                            <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Goods/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="table-actions">
                <!-- <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('Shopgoods/del')}"
                        data-subcheck="true">批量删除
                </button> -->


           
            </div>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script type="text/javascript">
		$(function(){
			Wind.use('layer');
		});

		function commentlist(goodsid){
			layer.open({
			  type: 2,
			  title: '商品评论列表',
			  shadeClose: true,
			  shade: 0.8,
			  area: ['90%', '90%'],
			  content: '/Admin/Shopgoods/commentlist?goods_id='+goodsid //iframe的url
			});
		}
	</script>
</body>
</html>