* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 748px) {
  html {
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
  }
  .width {
    width: 12.5rem !important;
  }
}

#app .mui-card .mui-card-header.mui-card-media {
  margin-top: 5%;
}

#app .mui-card .mui-card-header.mui-card-media img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}

#app .mui-card .mui-card-header.mui-card-media .mui-media-body {
  margin-left: 1.7rem;
}

#app .mui-card .mui-card-header.mui-card-media .mui-media-body p {
  margin-top: 3%;
  line-height: 0.7rem;
}

#app .mui-card .mui-card-content {
  padding: 5%;
  font-size: 0.35rem !important;
  letter-spacing: 1px;
  line-height: 0.5rem;
}

#app .mui-card .mui-card-content .width {
  width: 8.5rem;
}

#app .mui-card .mui-card-content .parameter {
  margin-top: 3%;
  width: 100%;
  display: flex;
}

#app .mui-card .mui-card-content .parameter .start {
  flex: 1;
  display: flex;
  position: relative;
  line-height: 0.6rem;
}

#app .mui-card .mui-card-content .parameter .start .grey-img1 {
  width: 0.5rem;
  height: 0.5rem;
}

#app .mui-card .mui-card-content .parameter .start .grey-img1 img {
  width: 100%;
  height: 100%;
}

#app .mui-card .mui-card-content .parameter .start span {
  margin-left: 2%;
  font-size: 0.4rem;
  color: #666;
}

#app .mui-card .mui-card-content .parameter .start .start1 {
  display: flex;
  position: absolute;
}

#app .mui-card .mui-card-content .parameter .score {
  flex: 1;
}

#app .mui-card .mui-card-content .parameter .score .eye {
  float: right;
  display: flex;
  line-height: 0.5rem;
  margin-right: 10%;
  font-size: 0.3rem;
  color: #666;
}

#app .mui-card .mui-card-content .parameter .score .eye img {
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
  margin-right: 10%;
}

#app .mui-card .mui-card-content .parameter .score .heart {
  display: flex;
  float: right;
  line-height: 0.5rem;
  font-size: 0.3rem;
  color: #666;
}

#app .mui-card .mui-card-content .parameter .score .heart img {
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: middle;
  margin-right: 10%;
}

#app .mui-card .mui-card-content .topic {
  margin-top: 5%;
  font-size: 0.4rem;
  color: #4b973c;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#app .mui-card .mui-card-content .topic div {
  margin-right: 3%;
}

#app .mui-card .mui-card-content .title {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 0.5rem;
  font-weight: 1000;
  color: #555353;
  line-height: 0.7rem;
}

#app .mui-card .mui-card-content .content {
  font-size: 0.4rem;
}

#app .mui-card .mui-card-content .shop {
  height: 2.4rem;
  line-height: 2.5rem;
  padding-left: none !important;
}

#app .mui-card .mui-card-content .shop .mui-media-body .shop-title {
  display: flex;
}

#app .mui-card .mui-card-content .shop .mui-media-body .shop-title span {
  font-size: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#app .mui-card .mui-card-content .shop .mui-media-body .shop-title img {
  margin-top: 0.2rem;
  width: 0.55rem;
  height: 0.55rem;
}

#app .mui-card .mui-card-content .shop .mui-media-body .start {
  flex: 1;
  display: flex;
  position: relative;
  margin-top: 0.4rem;
  line-height: 0.6rem;
}

#app .mui-card .mui-card-content .shop .mui-media-body .start .grey-img1 {
  width: 0.5rem;
  height: 0.5rem;
}

#app .mui-card .mui-card-content .shop .mui-media-body .start .grey-img1 img {
  width: 100%;
  height: 100%;
}

#app .mui-card .mui-card-content .shop .mui-media-body .start span {
  margin-left: 2%;
  font-size: 0.4rem;
  color: #666;
}

#app .mui-card .mui-card-content .shop .mui-media-body .start .start1 {
  display: flex;
  position: absolute;
}

#app .mui-card .mui-card-content .shop img {
  width: 0.5rem;
  height: 0.5rem;
}

#app .mui-card .mui-card-footer {
  font-size: 0.5rem;
  font-weight: 1000;
  margin-bottom: 0.35rem;
}

#app .comment {
  margin: 0 auto;
  width: 98%;
  height: 1.5rem;
}

#app .comment .comment-item {
  background-color: #fff;
}

#app .comment .comment-item .list {
  border-bottom: 1px solid #ddd;
}

#app .comment .comment-item .list .mui-media-body .text {
  text-align: center;
  float: right;
  font-size: 0.3rem;
  color: #666;
  margin-right: 0.3rem;
}

#app .comment .comment-item .list .mui-media-body .text img {
  margin: 0 auto;
  width: 0.5rem;
  height: 0.5rem;
}

#app .comment .comment-item .list p {
  width: 85%;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

#app .wu {
  margin: 0 auto;
  width: 98%;
  height: 1.5rem;
  text-align: center;
  font-size: 0.3rem;
}

#app .wu img {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 auto;
}
