* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width:748px) {
  html{ 
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    // font-size: 75px !important;
  }
  .width{
    width: 12.5rem !important;
  }       
}
// body{line-height:1}

#app {
  .mui-card {
  
    .mui-card-header.mui-card-media {
      margin-top: 5%;

      img {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
      }

      .mui-media-body {
        margin-left: 1.7rem;


        p {
          margin-top: 3%;
          line-height: 0.7rem;

        }
      }
    }

    .mui-card-content {

     .width{
       width: 8.5rem;
     }
      padding: 5%;
      font-size: 0.35rem !important;
      letter-spacing:1px;
      line-height:0.5rem;
      img {}

      .parameter {
        margin-top: 3%;
        width: 100%;
        // height: 1rem;
        display: flex;

        .start {
          flex: 1;
          display: flex;
          position: relative;
          line-height: 0.6rem;
          // margin-left: 5%;

          // background-color: red;

          .grey-img1 {
            width: 0.5rem;
            height: 0.5rem;
            // margin-left: 1%;

            // position: absolute;
            img {
              width: 100%;
              height: 100%;
            }
          }

          span {
            margin-left: 2%;

            font-size: 0.4rem;
            color: #666;

          }

          .start1 {
            display: flex;
            position: absolute;
          }

        }



        .score {
          flex: 1;
          // margin-right: 10%;

          .eye {
            float: right;
            display: flex;
            line-height: 0.5rem;
            margin-right: 10%;
            font-size: 0.3rem;
            color: #666;

            img {
              width: 0.5rem;
              height: 0.5rem;
              vertical-align: middle;
              margin-right: 10%;
            }

            span {}
          }

          .heart {
            display: flex;
            float: right;
            line-height: 0.5rem;
            font-size: 0.3rem;
            color: #666;

            img {
              width: 0.5rem;
              height: 0.5rem;
              vertical-align: middle;
              margin-right: 10%;
            }

            span {}
          }
        }
      }

      .topic {
        margin-top: 5%;
        font-size: 0.4rem;
        color: rgb(75, 151, 60);
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        div {
          margin-right: 3%;
        }
      }

      .title {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 0.5rem;
        font-weight: 1000;
        color: rgb(85, 83, 83);
        line-height: 0.7rem;
      }

      .content {
        font-size: 0.4rem;

      }

      .shop {
        height: 2.4rem;
        line-height: 2.5rem;
        padding-left: none !important;

        .mui-media-body {
          .shop-title {
            display: flex;

            // width: 100%;
            span {
             
              font-size: 0.4rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            img {
              margin-top: 0.2rem;
              width: 0.55rem;
              height: 0.55rem;
            }
          }

          .start {
            flex: 1;
            display: flex;
            position: relative;
            margin-top: 0.4rem;
            line-height: 0.6rem;
            // margin-left: 5%;

            // background-color: red;

            .grey-img1 {
              width: 0.5rem;
              height: 0.5rem;
              // margin-left: 1%;

              // position: absolute;
              img {
                width: 100%;
                height: 100%;
              }
            }

            span {
              margin-left: 2%;

              font-size: 0.4rem;
              color: #666;

            }

            .start1 {
              display: flex;
              position: absolute;
              
            }
            
          }
        }

        img {
          width: 0.5rem;
          height: 0.5rem;

        }
      }
    }

    .mui-card-footer {
      font-size: 0.5rem;
      font-weight: 1000;
      margin-bottom: 0.35rem;
    }
  }
  .comment{
    margin: 0 auto;
    width: 98%;
    height: 1.5rem;
    
    .comment-item{
      background-color: #fff;
      .list{
        border-bottom: 1px solid #ddd;
        
        img{
          // width: 1.3rem;
          // height: 1.3rem;
          // border-radius: 0.1rem;
        }
        .mui-media-body{
          // margin-left: 1.5rem;
          .text{
            text-align: center;
            float: right;
            font-size: 0.3rem;
            color: #666;
            margin-right: 0.3rem;
            // width: 10%;
            // height: 1.3rem;
            // width: 0.5rem;
            // line-height: 0.7rem;
            // margin-top: 0.3rem;
            img{
              margin: 0 auto;
              width: 0.5rem;
             height: 0.5rem;
            }
            
          }
        }
        
        p{
          width: 85%;
          word-wrap: break-word;
word-break: break-all;
overflow: hidden;
          // background-color: red;
        }
      }
    }
  }
  .wu{
    margin: 0 auto;
    width: 98%;
    height: 1.5rem;
    text-align: center;
    font-size: 0.3rem;
    img{
      width: 0.8rem;
      height: 0.8rem;
      margin: 0 auto;
    }
  }
}