<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>订单列表</a></li>
		</ul>

		<form class="well form-inline margin-top-20" method="post" action="{:url('Order/index')}">

			订单状态：
            <select class="form-control" name="status">
				<option value="">默认</option>
                <volist name="status" id="v">
                    <option value="{$key}" <if condition="input('request.status') neq '' && input('request.status') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
            
			

            收货人：
            <input class="form-control" type="text" name="buyer_uid" style="width: 200px;" value="{:input('request.buyer_uid')}"
                   placeholder="请输入收货人姓名">
            用户ID：
            <input class="form-control" type="text" name="user_id" style="width: 200px;" value="{:input('request.user_id')}"
                   placeholder="请输入用户ID">

      

            订单提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
            
            订单编号：
            <input class="form-control" type="text" name="orderno" style="width: 200px;" value="{:input('request.orderno')}"
                   placeholder="请输入全部或部分订单编号">
   


            
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn btn-danger" href="{:url('Order/index')}">清空</a>
		</form>

		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead id="bignav">
					<tr>
						<th>ID</th>
						<th>订单编号</th>
						<th>用户ID</th>
						<th>收货人</th>
						<th>订单总金额</th>
						<th>商品总价</th>
						<th>订单状态</th>
						<th>支付状态</th>
						<th>支付方式</th>
						<th>物流方式</th>
						<th>物流单号</th>
						<th>下单时间</th>
						<th align="center">{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.order_id}</td>
						<td>{$vo.order_sn}</td>
						<td>{$vo.user_id}</td>
						<td>{$vo.consignee}</td>
						<td>{$vo['total_amount']}</td>
						<td>{$vo['goods_price']}</td>
						<td style="color: rgb(212, 106, 64);">{$status[$vo['order_status']]}</td>
						<td><if condition="$vo['pay_status'] eq 0">未支付<else />已支付</if></td>
						<td>{$vo['pay_name']}</td>
						<td>{$vo['shipping_name']}</td>
						<td>{$vo['shipping_code']}</td>
						<td>{:date('Y-m-d H:i',$vo['add_time'])}</td>
					
						
						<td>
                            
                            
                            <!--<if condition="$vo['shipping_code'] neq ''">-->
                            <!--	<a class="btn btn-xs btn-primary" onclick="express({$vo['order_id']})">物流信息</a>-->
                            <!--</if>-->
                            <a class="btn btn-xs btn-primary" href='{:url("Order/info",array("id"=>$vo["order_id"]))}'>详情</a>
							
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script type="text/javascript">
		$(function(){
			Wind.use('layer');
		});

		function express(orderid){
			layer.open({
			  type: 2,
			  title: '物流信息',
			  shadeClose: true,
			  shade: 0.8,
			  area: ['500px', '90%'],
			  content: '/Appapi/Express/index?user_type=platform&orderid='+orderid //iframe的url
			}); 
		}
	</script>

	
</body>
</html>