<include file="public@header" />
</head>
<body>
	<div class="wrap" js-check-wrap>
		<ul class="nav nav-tabs">
			<li ><a href="{:url('order/index')}">订单列表</a></li>
			<li class="active"><a >商品订单详情</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('order/editPost')}">
		    
		    <div class="panel panel-default">
            	<div class="panel-heading">
            		基本信息
            	</div>
            	<div class="panel-body">
    	           <div class="form-group">
                        <label for="input-id" class="col-sm-2 control-label"><span class="form-required"></span>订单ID</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control" id="input-id" value="{$data['order_id']}" readonly="readonly">
                        </div>
                    </div>
            	</div>
	            <div class="form-group">
                    <label for="input-orderno" class="col-sm-2 control-label"><span class="form-required"></span>订单编号</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-orderno" value="{$data['order_sn']}" readonly="readonly">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="input-buyer" class="col-sm-2 control-label"><span class="form-required"></span>会员</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-buyer" value="{$data['user_nickname']}({$data['user_id']})" readonly="readonly">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="input-addtime" class="col-sm-2 control-label"><span class="form-required"></span>下单时间</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-addtime" value="{:date('Y-m-d H:i',$data['add_time'])}" readonly="readonly">
                    </div>
                </div>
                    
               <div class="form-group">
                    <label for="input-paytime" class="col-sm-2 control-label"><span class="form-required"></span>付款时间</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-paytime" readonly="readonly" <if condition="$data['pay_time'] gt 0">value="{:date('Y-m-d H:i',$data['pay_time'])}"<else />value=""</if> >
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label for="input-type" class="col-sm-2 control-label"><span class="form-required"></span>支付方式</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-type" value="{$data['pay_name']}" readonly="readonly">
                    </div>
                </div>
    
    
    
                <div class="form-group">
                    <label for="input-status" class="col-sm-2 control-label"><span class="form-required"></span>订单状态</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-status" value="{$status[$data['order_status']]}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-price" class="col-sm-2 control-label"><span class="form-required"></span>订单总价</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-price" value="{$data['total_amount']}" readonly="readonly">
                    </div>
                </div>
                
            </div>
		   <!--      22            -->
            
        <div class="panel panel-default">
        	<div class="panel-heading">
        		收货信息
        	</div>
        	<div class="panel-body">
                <div class="form-group">
                    <label for="input-username" class="col-sm-2 control-label"><span class="form-required"></span>收货人</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-username" value="{$data['consignee']}" readonly="readonly">
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="input-phone" class="col-sm-2 control-label"><span class="form-required"></span>联系电话</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-phone" value="{$data['mobile']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-address" class="col-sm-2 control-label"><span class="form-required"></span>收货地址</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-address" value="{$data['province']} {$data['city']} {$data['district']} {$data['address']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-express_name" class="col-sm-2 control-label"><span class="form-required"></span>配送方式</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-express_name" value="{$data['shipping_name']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-express_number" class="col-sm-2 control-label"><span class="form-required"></span>物流单号</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-express_number" value="{$data['shipping_code']}" readonly="readonly">
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="input-message" class="col-sm-2 control-label"><span class="form-required"></span>买家留言</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-message" value="{$data['user_note']}" readonly="readonly">
                    </div>
                </div>
                
                
        	</div>
        </div>


        <div class="panel panel-default">
        	<div class="panel-heading">
        		商品信息
        	</div>
        	<div class="panel-body">
    	         <div class="form-group">
                    <label for="input-goodsid" class="col-sm-2 control-label"><span class="form-required"></span>商品ID</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-goodsid" value="{$data['goods_id']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-price" class="col-sm-2 control-label"><span class="form-required"></span>商品</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-price" value="{$data['goods_name']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-price" class="col-sm-2 control-label"><span class="form-required"></span>商品单价</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-price" value="{$data['unit_price']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-nums" class="col-sm-2 control-label"><span class="form-required"></span>数量</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-nums" value="{$data['goods_num']}" readonly="readonly">
                    </div>
                </div>
        	</div>
        </div>



        <div class="panel panel-default">
        	<div class="panel-heading">
        		费用信息
        	</div>
        	<div class="panel-body">
                <div class="form-group">
                    <label for="input-postage" class="col-sm-2 control-label"><span class="form-required"></span>邮费</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-postage" value="￥{$data['shipping_price']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-total" class="col-sm-2 control-label"><span class="form-required"></span>商品总价</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-total" value="￥{$data['goods_price']}" readonly="readonly">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
        		操作
        	</div>
        	<div class="panel-body">
        	     <input id="post-id" type="hidden" name="order_id" value="{$data.order_id}">
                 <div class="form-group">
                    <label for="input-express_name" class="col-sm-2 control-label"><span class="form-required"></span>操作备注</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-express_name" value="" name="action_note">
                    </div>
                </div>
        	     
        	     
        	     <if condition="$data['order_status'] == 1 ">
        	         
                <div class="form-group">
                    <label for="input-express_name" class="col-sm-2 control-label"><span class="form-required"></span>配送方式</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-express_name" value="" name="shipping_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-express_number" class="col-sm-2 control-label"><span class="form-required"></span>物流单号</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-express_number" value="" name="shipping_code">
                    </div>
                </div>  
        	         
                <div class="form-group">
    				<div class="col-sm-offset-2 col-sm-10">
    					<button type="submit" class="btn btn-primary js-ajax-submit" name="order_status" value="2">去发货</button>
    					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
    				</div>
    			</div>
    			 </if>
			     <if condition="$data['order_status'] == 2 ">
                 <div class="form-group">
    				<div class="col-sm-offset-2 col-sm-10">
    					<button type="submit" class="btn btn-primary js-ajax-submit" name="order_status" value="3">收货</button>
    				</div>
    			</div>
    			</if>
    			<if condition="$data['order_status'] == 0 ">
                 <div class="form-group">
    				<div class="col-sm-offset-2 col-sm-10">
    					<button type="submit" class="btn btn-primary js-ajax-submit" name="order_status" value="2">设为已付款</button>
    				</div>
    			</div>
    			</if>
        	<div>    
        </div>
        </div>
    	</div>
		</form>
        <div class="panel panel-default">
        	<div class="panel-heading">
        		日志信息
        	</div>
        	<div class="panel-body">
                <ul>
                	<foreach name="journal" item="vo">
                    <li>操作备注：{$vo.action_note},操作时间：{:date('Y-m-d H:i:s',$vo['log_time'])},具体操作：{$vo.status_desc}</li>
                   </foreach>
                </ul>
            </div>
        </div>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
    
</body>
</html>