body {
	width: 100%;
	height: 100%;
}

.down {
	width: 100%;
	position: relative;
}

.down img.down_bg {
	display: block;
	width: 100%;
	-webkit-user-select: none;
	pointer-events: none;
}

.down .down_logo {
	position: absolute;
	top: 5%;
	width: 100%;
	text-align: center;
}

.down .down_logo img {
	width: 300px;
}

/*.box {
    position: absolute;
    width: 100%;
    height: 730px;
    bottom: 5.5rem;
    left: 0;
}
.box a.ios {
    background: url(../images/ios.png) no-repeat center center;
    background-size: 100%;
    margin-bottom: 0.5rem;
}
.box a.and {
    background: url(../images/and.png) no-repeat center center;
    background-size: 100%;
    margin-bottom: 0.5rem;
}
.box a.comBtn {
    display: block;
    color: #ffffff;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}*/

.iosDownload {
	width: 129%;
	min-height: 70px;
	max-height: 80px;
	border-radius: .75rem;
	background: url(../images/down/apple.png) no-repeat center center;
	background-size: 100%;
	position: absolute;
	bottom: 37%;
	left: -34%;
}

.androidDownload {
	width: 129%;
	min-height: 70px;
	max-height: 80px;
	border-radius: .75rem;
	background: url(../images/down/android-01.png) no-repeat center center;
	background-size: 100%;
	position: absolute;
	bottom: 27%;
	left: -34%;
}

.androidDownload1 {
	width: 129%;
	min-height: 70px;
	max-height: 80px;
	border-radius: .75rem;
	background: url(../images/down/huawei2.png) no-repeat center center;
	background-size: 100%;
	position: absolute;
	bottom: 17%;
	left: -34%;
}
