<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>访客列表</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../../static/css/common/reset.css">
	<link href="../../static/css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../../static/css/visitor/index.min.css">
	<style>
		.mui-toast-container {
			bottom: 50%;
			/* opacity: 0.6; */
			opacity: 0.6;
			color: #fff;
			width: 180px;
			line-height: 50px;
			padding: 70px 5px 10px 5px;
		}

		/*----------------mui.showLoading---------------*/
		.mui-show-loading {
			position: fixed;
			padding: 5px;
			width: 120px;
			min-height: 120px;
			top: 45%;
			left: 50%;
			margin-left: -60px;
			background: rgba(0, 0, 0, 0.6);
			text-align: center;
			border-radius: 5px;
			color: #FFFFFF;
			visibility: hidden;
			margin: 0;
			z-index: 2000;

			-webkit-transition-duration: .2s;
			transition-duration: .2s;
			opacity: 0;
			-webkit-transform: scale(0.9) translate(-50%, -50%);
			transform: scale(0.9) translate(-50%, -50%);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		.mui-show-loading.loading-visible {
			opacity: 1;
			visibility: visible;
			-webkit-transform: scale(1) translate(-50%, -50%);
			transform: scale(1) translate(-50%, -50%);
		}

		.mui-show-loading .mui-spinner {
			margin-top: 24px;
			width: 36px;
			height: 36px;
		}

		.mui-show-loading .text {
			line-height: 1.6;
			font-family: -apple-system-font, "Helvetica Neue", sans-serif;
			font-size: 14px;
			margin: 10px 0 0;
			color: #fff;
		}

		.mui-show-loading-mask {
			position: fixed;
			z-index: 1000;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}

		.mui-show-loading-mask-hidden {
			display: none !important;
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="visitor">
			<div class="visitor-item" v-for="(item, index) in visitor" :key="index">
				<div class="item-l">
					<img :src="item.avatar" alt="">
				</div>
				<div class="item-r">
					<div class="top">
						{{item.user_nickname}}
					</div>
					<div class="bottom">
						{{item.addtime}} - 阅读了帖子
					</div>
				</div>
			</div>
		</div>

		<div id="refreshContainer">
			<div class="text"></div>
		</div>
	</div>
	<script src="../../static/js/common/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/js/common/mui.min.js"></script>
	<script>
			//扩展mui.showLoading  
			(function ($, window) {
			//显示加载框  
			$.showLoading = function (message, type) {
				if ($.os.plus && type !== 'div') {
					$.plusReady(function () {
						plus.nativeUI.showWaiting(message);
					});
				} else {
					var html = '';
					html += '<i class="mui-spinner mui-spinner-white"></i>';
					html += '<p class="text">' + (message || "数据加载中") + '</p>';

					//遮罩层  
					var mask = document.getElementsByClassName("mui-show-loading-mask");
					if (mask.length == 0) {
						mask = document.createElement('div');
						mask.classList.add("mui-show-loading-mask");
						document.body.appendChild(mask);
						mask.addEventListener("touchmove", function (e) {
							e.stopPropagation();
							e.preventDefault();
						});
					} else {
						mask[0].classList.remove("mui-show-loading-mask-hidden");
					}
					//加载框  
					var toast = document.getElementsByClassName("mui-show-loading");
					if (toast.length == 0) {
						toast = document.createElement('div');
						toast.classList.add("mui-show-loading");
						toast.classList.add('loading-visible');
						document.body.appendChild(toast);
						toast.innerHTML = html;
						toast.addEventListener("touchmove", function (e) {
							e.stopPropagation();
							e.preventDefault();
						});
					} else {
						toast[0].innerHTML = html;
						toast[0].classList.add("loading-visible");
					}
				}
			};

			//隐藏加载框  
			$.hideLoading = function (callback) {
				if ($.os.plus) {
					$.plusReady(function () {
						plus.nativeUI.closeWaiting();
					});
				}
				var mask = document.getElementsByClassName("mui-show-loading-mask");
				var toast = document.getElementsByClassName("mui-show-loading");
				if (mask.length > 0) {
					mask[0].classList.add("mui-show-loading-mask-hidden");
				}
				if (toast.length > 0) {
					toast[0].classList.remove("loading-visible");
					callback && callback();
				}
			}
		})(mui, window);


		var host = window.location.host == '127.0.0.1:5500' ? 'http://dp.zwrjkf.cn' : 'https://' + window.location.host;

		// var host = 'https://ap1.askpert.com';

		var app = new Vue({
			el: '#app',
			data: {
				token: '',
				uid: '',
				id: '',
				visitor: [],
				pages: 1,

			},
			created: function () {

			},

			mounted() {
				this.init()
				this.getDyDinameList().then(res => {
					
					this.visitor = Object.values(res.data.info.info);
					++this.pages
					
				})
			},

			methods: {
				//-------------------------网络请求相关-----------------------------------
				//初始化
				init() {
					this.pull = document.querySelector("#refreshContainer"); //待刷新区域标识
					this.uid = this.getQueryString('uid')
					this.token = this.getQueryString('token')
					this.id = this.getQueryString('id')
					
					mui.init({
						pullRefresh: {
							container: this.pull, //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
							up: {
								height: 80, //可选.默认50.触发上拉加载拖动距离
								auto: false, //可选,默认false.自动上拉加载一次
								contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
								contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
								callback: this.pullfresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
							}
						}
					})
				},
				//获取列表
				getDyDinameList() {

					return new Promise((resolve, reject) => {

						mui.showLoading("正在加载..", "div"); //加载文字和类型，plus环境中类型为div时强制以div方式显示
						mui.ajax(host + '/appapi/?service=Publish.dyDinameList', {
							data: {
								uid: this.uid,
								token: this.token,
								id: this.id,
								p:this.pages,
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							success: function (data) {
								// console.log(data)
								mui.hideLoading(); //隐藏后的回调函数
								if (data.data.code !== 0) {
									mui.toast('请求失败', {
										duration: 'long',
										type: 'div'
									})
								} else {
									
									return resolve(data)
								}
							},
							error: function (xhr, type, errorThrown) {
								//异常处理；

								console.log(errorThrown);
							}
						});
					});
				},
				getQueryString(name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
					var r = window.location.search.substr(1).match(reg);
					if (r != null)
						return unescape(r[2]);
					return 'undefined';
				},

				pullfresh() {
					console.log('触发')
					this.getDyDinameList().then(res => {
						if (res.data.info.info == '') {
							mui.toast('没有更多数据了~', {
								duration: 'long',
								type: 'div'
							})
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
							// mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
							return;
						} else {
							console.log(this.pages)
							const arr = Object.values(res.data.info.info); //对象转化为数组
							this.visitor.push(...arr)
							++this.pages
							mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
						}
						
						
						
						// mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					})
				},
			}
		})
	</script>
</body>

</html>