<include file="public@header"/>
<style type="text/css">

</style>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('report/index')}">举报列表</a></li>
        <li class="active"><a href="">举报详情</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="">
        <div class="form-group">
            <label for="input-title" class="col-sm-2 control-label">举报人<span class="form-required">*</span></label>
            <div class="col-md-6 col-sm-10">
                <input type="readonly" class="form-control" id="input-title" name="title" value="{$vo['userinfo']['user_nickname']}({$vo['uid']})">
            </div>
        </div>
         <div class="form-group">
            <label for="input-title" class="col-sm-2 control-label">被举报人<span class="form-required">*</span></label>
            <div class="col-md-6 col-sm-10">
                <input type="readonly" class="form-control" id="input-title" name="title" value="{$vo['touserinfo']['user_nickname']} ({$vo['touid']})">
            </div>
        </div>
        <div class="form-group">
            <label for="input-content" class="col-sm-2 control-label">帖子内容</label>
            <div class="col-md-6 col-sm-10">
                <textarea class="form-control" rows="20" name="content" id="input-content">{$info['content']}</textarea>
        <!--            <script type="text/plain" id="content" name="content"> {$info['content']|default=""|htmlspecialchars_decode}</script>
                    <literal><span style="color: #ffb752;"></span></literal>-->

            </div>
        </div>


        <div class="form-group">
            <label for="input-user_login" class="col-sm-2 control-label">帖子图片一</label>
            <div class="col-md-6 col-sm-10">
                <if condition="isset($info['thumb'][0]) && $info['thumb'][0] neq '' ">
                    <input type="hidden" name="thumb[]" id="thumbnail1" value="{$info['thumb'][0]}">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail1');">
                        <img src="{$info['thumb'][0]}" id="thumbnail1-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                    </a>
                    <else/>
                    <input type="hidden" name="thumb[]" id="thumbnail1" value="">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail1');">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png" id="thumbnail1-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                    </a>
                </if>
                <input type="button" class="btn btn-sm btn-cancel-thumbnail1" value="取消图片">
            </div>
        </div>
        <div class="form-group">
            <label for="input-user_login" class="col-sm-2 control-label">帖子图片二</label>
            <div class="col-md-6 col-sm-10">
                <if condition="isset($info['thumb'][1]) && $info['thumb'][1] neq '' ">
                    <input type="hidden" name="thumb[]" id="thumbnail2" value="{$info['thumb'][1]}">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">
                        <img src="{$info['thumb'][1]}"
                             id="thumbnail2-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                    </a>
                    <else/>
                    <input type="hidden" name="thumb[]" id="thumbnail2" value="">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                             id="thumbnail2-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                    </a>
                </if>
                <input type="button" class="btn btn-sm btn-cancel-thumbnail2" value="取消图片">
            </div>
        </div>

        <div class="form-group">
            <label for="input-user_login" class="col-sm-2 control-label">帖子图片三</label>
            <div class="col-md-6 col-sm-10">
                <if condition="isset($info['thumb'][2]) && $info['thumb'][2] neq '' ">
                    <input type="hidden" name="thumb[]" id="thumbnail3" value="{$info['thumb'][2]}">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail3');">
                        <img src="{$info['thumb'][2]}" id="thumbnail3-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                    </a>
                    <else/>
                    <input type="hidden" name="thumb[]" id="thumbnail3" value="">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail3');">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png" id="thumbnail3-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                    </a>
                </if>
                <input type="button" class="btn btn-sm btn-cancel-thumbnail3" value="取消图片">
            </div>
        </div>

        <div class="form-group">
            <label for="input-description" class="col-sm-2 control-label">City</label>
            <div class="col-md-6 col-sm-10">
                <input class="form-control" type="text" id="city" name="city" value="{$info['city']}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="input-description" class="col-sm-2 control-label">State</label>
            <div class="col-md-6 col-sm-10">
                <input class="form-control" type="text" id="state" name="state" value="{$info['state']}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="input-description" class="col-sm-2 control-label">Postal Code</label>
            <div class="col-md-6 col-sm-10">
                <input class="form-control" type="text" id="postal_code" name="postal_code"
                       value="{$info['postal_code']}"/>
            </div>
        </div>


        <div class="form-group"></div>
        <div class="form-group">
            <label for="input-needcoin" class="col-sm-2 control-label"><span class="form-required">*</span>审核状态</label>
            <div class="col-md-6 col-sm-10">
                <select class="form-control" name="status">
                    <volist name="status" id="v">
                        <option value="{$key}"
                        <eq name="info['status']" value="$key">selected</eq>
                        >{$v}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="input-needcoin" class="col-sm-2 control-label"><span class="form-required"></span>审核意见</label>
            <div class="col-md-6 col-sm-10">
                <textarea class="form-control" name="reason" id="reason">{$info['reason']}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="id" value="{$id}"/>
                <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('EDIT')}</button>
                <a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
            </div>
        </div>

    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
<script>
    $(function () {
        Wind.use('layer');
    });

    function selectGoods() {
        var url = "/admin/users/index";
        layer.open({
            type: 2,
            title: '选择会员',
            shadeClose: true,
            shade: 0.2,
            area: ['55%', '55%'],
            content: url,
        });
    }

    function selectShop() {
        var url = "/admin/users/shop";
        layer.open({
            type: 2,
            title: '选择店铺',
            shadeClose: true,
            shade: 0.2,
            area: ['55%', '55%'],
            content: url,
        });
    }


    function call_back(uid, id) {
        if (id == 2) {
            $('input[name=shop_id]').val(uid)
        } else {
            $('input[name=uid]').val(uid)
        }
        layer.closeAll('iframe');
    }


</script>
<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
</script>
<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    var editorcontent = new baidu.editor.ui.Editor();
    editorcontent.render('content');
</script>
</body>
</html>