<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >举报列表</a></li>

		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Report/index')}">
 

			<!--关键字： -->
   <!--         <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"-->
   <!--                placeholder="请输入会员ID">-->
			<!--<input type="submit" class="btn btn-primary" value="搜索">-->
		</form>				
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>举报人</th>						
						<th>被举报人</th>
						<th>举报标题</th>
						<th>举报内容</th>
						<th>举报图片</th>
						<th>被举报ID</th>
						<th>状态</th>
						<th>提交时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td> {$vo['userinfo']['user_nickname']}({$vo['uid']})</td>	
						<td>{$vo['touserinfo']['user_nickname']} ({$vo['touid']})</td>		
						<td><?php echo nl2br($vo['description']);?></td>
						<td><?php echo nl2br($vo['content']);?></td>
						<td>
						    <volist name="vo.thumb" id="v">
						       <img class="imgtip" src="{$v}" style="max-width:100px;max-height:100px;">
                            </volist>
						    
						</td>
						<php>
						    if($vo['type'] == 0){
						      $str = '<label class="text-warning">店铺</label>';
						    }else if($vo['type'] == 1){
						      $str = '<label class="text-success">贴子</label>';
						    }else if($vo['type'] == 2){
						      $str = '<label class="text-danger">视频</label>';
						    }else{
						      $str = '<label class="text-default">用户</label>';
						      $vo['report_id'] = $vo['touid'];
						    }
						    
						</php>
						<td>{$str} id:{$vo['report_id']}</td>
						<td>{$status[$vo['status']]}</td>
						<td>{:date('Y-m-d H:i:s',$vo['add_time'])}</td>						

						<td align="center">	
							<if condition="$vo['status'] eq '0'" >
                            <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Report/setstatus',array('id'=>$vo['id'],'status'=>'1'))}" >标记处理</a>
                             <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Report/setstatus',array('id'=>$vo['id'],'status'=>'2'))}" >不受理</a>
							</if>
	
                            
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Report/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
							
							<!--<a class="btn btn-xs btn-primary" href='{:url("report/edit",array("id"=>$vo["id"]))}'>详情</a>-->
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>