<include file="public@header" />
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a >列表</a></li>
        <li><a href="{:url('shop_log/manual')}">{:lang('ADD')}</a></li>
    </ul>
    <form class="well form-inline margin-top-20" method="post" action="{:url('shop_log/index')}">


        店铺ID：
        <input class="form-control" type="text" name="shop_id" style="width: 200px;" value="{:input('request.shop_id')}"
               placeholder="请输入店铺ID">

        <input type="submit" class="btn btn-primary" value="搜索">
    </form>
    <form method="post" class="js-ajax-form" >
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>店铺ID / 名称</th>
                <th>Type</th>
                <th>Action</th>
                <th>变化的金币</th>
                <th>变化前金币 --- 变化后金币</th>
                <th>提交时间</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="list" item="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo['shop_id']} / {$vo['shops']['name']}</td>
                    <td>{:$vo['type'] == 1?'收益':'支出'}</td>
                    <td>{$vo['action']}</td>
                    <td>{$vo['change_coin']}</td>

                    <td>{$vo.before_coin} --- {$vo['after_coin']}</td>


                    <td>{:date('Y-m-d H:i',$vo['createtime'])}</td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$list->render()}</div>

    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
<script>
	 $(function(){
            Wind.use('layer');




    })


	</script>

</body>
</html>