<include file="public@header" />
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li ><a href="{:url('shop_log/index')}">列表</a></li>
        <li class="active"><a >{:lang('ADD')}</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="">
        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>店铺ID</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" id="input-uid" name="shop_id">
            </div>
        </div>

        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>Action</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" id="input-detail" name="action">
            </div>
        </div>

        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>Type</label>
            <div class="col-md-6 col-sm-10">
                <select class="form-control" name="trans_type">
                    <option value="">--- Transaction Type ---</option>
                        <option value="1">收益</option>
                        <option value="2">支出</option>

                </select>
            </div>
        </div>


        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>变化的金币</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" id="input-coin" name="change_coin">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
                <a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
            </div>
        </div>

    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
<script>
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });

        })()
    </script>
</body>
</html>