

<include file="public@header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('Proxy/index')}">列表</a></li>
		<li class="active"><a>编辑</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Proxy/edit_post')}">

        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>用户名:</label>
            <div class="col-md-6 col-sm-10">
                <input type="hidden" name="id" value="{$id}">
                <input type="text" class="form-control" name="user_login" value="{$user_login}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>密码:</label>
            <div class="col-md-6 col-sm-10">
                <input type="password" class="form-control" name="user_pass"  placeholder="******">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>昵称:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="user_nicename" value="{$user_nicename}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="form-required">*</span>邮箱:</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" name="user_email" value="{$user_email}">
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary   js-ajax-submit">{:lang("SAVE")}</button>
            <a class="btn btn-default" href="{:url('Proxy/index')}">返回</a>
        </div>
    </form>

</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>