<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
			<li><a href="{:url('Invitation/add')}">{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="#">
			<div class="table-actions">
           
            </div>
		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>热度(浏览量)</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
                    
                        <td>{$vo['topic_id']}</td>
						<td>{$vo['topic_name']}</td>
						<td>{$vo['topic_num']}</td>
						<td>	
                            <a class="btn btn-xs btn-primary" href='{:url("Invitation/edit",array("id"=>$vo["topic_id"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Invitation/del',array('id'=>$vo['topic_id']))}">
							    {:lang('DELETE')}
							</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>