
<!-- Wrapper END -->
<!-- Footer -->
<footer class="bg-white iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <!--<ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                </ul>-->
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">Vito</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/merch/js/jquery.min.js"></script>
<script src="/merch/js/popper.min.js"></script>
<script src="/merch/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/merch/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/merch/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/merch/js/waypoints.min.js"></script>
<script src="/merch/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/merch/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/merch/js/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/merch/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/merch/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/merch/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/merch/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/merch/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/merch/js/lottie.js"></script>
<!-- am core JavaScript -->
<script src="/merch/js/core.js"></script>
<!-- am charts JavaScript -->
<script src="/merch/js/charts.js"></script>
<!-- am animated JavaScript -->
<script src="/merch/js/animated.js"></script>
<!-- am kelly JavaScript -->
<script src="/merch/js/kelly.js"></script>
<!-- am maps JavaScript -->
<script src="/merch/js/maps.js"></script>
<!-- am worldLow JavaScript -->
<script src="/merch/js/worldLow.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/merch/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/merch/js/custom.js"></script>

</body>
</html>