<include file="public@header" />
<style type="text/css">
    .well {
        width: 50%;
        margin-left: 12.3%;
        background-color: #fff;
        border-top:0;
    }
    .margin-top-20{
        margin-top: 0px !important;
    }
</style>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('adminIndex/index')}">列表</a></li>
			<li class="active"><a >绑定推广员</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('user/adminIndex/agent')}">
		    <input type="hidden"  name="id" value="{$id}" />
            关键字：
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="用户名/昵称">
            <input type="submit" class="btn btn-primary" value="搜索"/>
        </form>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('adminIndex/agentPost')}">
            <div class="form-group">
                <label for="input-maintain_switch" class="col-sm-2 control-label"><span class="form-required">*</span>推广员</label>
                <div class="col-md-6 col-sm-10">
                    <select class="form-control" name="agent">
                        <option value="">请选择</option>
                        <foreach name="agent" item="vo">
                            <option value="{$vo.id}" <if condition="$keyword eq $vo['id']">selected</if>>{$vo.user_nicename}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            <input type="hidden"  name="id" value="{$id}" />
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="{:url('adminIndex/index')}">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
    <script>
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });
            
            $('.btn-cancel-thumbnail2').click(function () {
                $('#thumbnail2-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail2').val('');
            });
        })()
    </script>
</body>
</html>