<include file="public@header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>{:lang('USER_INDEXADMIN_INDEX')}</a></li>
        <li><a href="{:url('adminIndex/add')}">{:lang('ADD')}</a></li>
    </ul>
    <form class="well form-inline margin-top-20" method="post" action="{:url('user/adminIndex/index')}">
        用户ID：
        <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
               placeholder="请输入用户ID">
        关键字：
        <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
               placeholder="用户名/昵称/邮箱/手机">
        <input type="submit" class="btn btn-primary" value="搜索"/>
        <a class="btn btn-danger" href="{:url('user/adminIndex/index')}">清空</a>
    </form>
    <form method="post" class="js-ajax-form">
            <div class="table-actions">
                 <a class="btn btn-xs btn-primary" id="mail">发送站内信</a>
            </div>
            
            <div class="table-actions">
                 <a class="btn btn-xs btn-primary" id="paper">发送问卷调查</a>
            </div>
            
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>认证</th>
                <th>{:lang('USERNAME')}</th>
             
                <th>{:lang('NICENAME')}</th>
               
                <th>{:lang('AVATAR')}</th>
                <th>{:lang('EMAIL')}</th>
                <th>手机</th>
                <th>生日</th> 
                <th>地址</th>
                <th>邀请人</th>
                <th>{:lang('REGISTRATION_TIME')}</th>
                <th>{:lang('LAST_LOGIN_TIME')}</th>
                <th>{:lang('LAST_LOGIN_IP')}</th>
                <th>{:lang('STATUS')}</th>

                <th>{:lang('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <php>
                $user_statuses=array("0"=>lang('USER_STATUS_BLOCKED'),"1"=>lang('USER_STATUS_ACTIVATED'),"2"=>lang('USER_STATUS_UNVERIFIED'));
            </php>
            <foreach name="list" item="vo">
                <tr>
                    <td>
                        <input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}">
                    </td>
                    <td>{$vo.id}</td>
            

                    <td>{$vo['major']==1?"专属用户":($vo['status']==1?"认证用户":"游客")}</td>
                    
                    <td>{$vo['user_login']?$vo['user_login']:($vo['mobile']?$vo['mobile']:lang('THIRD_PARTY_USER'))}
                    </td>

                      
        
                    
                    <td>{$vo['user_nickname']?$vo['user_nickname']:lang('NOT_FILLED')}</td>
                    <!--<td><img width="25" height="25" src="{:url('user/public/avatar',array('id'=>$vo['id']))}"/></td>-->
                    <td><img width="25" height="25" src="{$vo['avatar']?$vo['avatar']:lang('NOT_FILLED')}"/></td>
                    <td>{$vo.user_email}</td>
                    <td>{$vo.mobile}</td>
                     <td>{$vo.birthday}</td> 
                    <td>{$vo.address}</td>
                    <td>{$vo.name ?$vo.name:'暂无'}/{$vo.pid}</td>
                    <td>{:date('Y-m-d H:i:s',$vo['create_time'])}</td>
                    <td>{:date('Y-m-d H:i:s',$vo['last_login_time'])}</td>
                    <td>{$vo.last_login_ip}</td>

                    <td>
                        
                        <switch name="vo.user_status">
                            <case value="0">
                                <span class="label label-danger">{$user_statuses[$vo['user_status']]}</span>
                            </case>
                            <case value="1">
                                <span class="label label-success">{$user_statuses[$vo['user_status']]}</span>
                            </case>
                            <case value="2">
                                <span class="label label-warning">{$user_statuses[$vo['user_status']]}</span>
                            </case>
                        </switch>
                    </td>
                    <td>
                        <neq name="vo.id" value="1">
                            <empty name="vo.user_status">
                                <a class="btn btn-xs btn-success js-ajax-dialog-btn"
                                   href="{:url('adminIndex/cancelban',array('id'=>$vo['id']))}"
                                   data-msg="{:lang('ACTIVATE_USER_CONFIRM_MESSAGE')}">{:lang('ACTIVATE_USER')}</a>
                                <else/>
                                <a class="btn btn-xs btn-warning js-ajax-dialog-btn"
                                   href="{:url('adminIndex/ban',array('id'=>$vo['id']))}"
                                   data-msg="{:lang('BLOCK_USER_CONFIRM_MESSAGE')}">{:lang('BLOCK_USER')}</a>
                            </empty>
                            <else/>
                            
                            <a class="btn btn-xs btn-warning disabled">{:lang('BLOCK_USER')}</a>
                            
                        </neq>
                        
                        
                        
                        
                        <a class="btn btn-xs btn-primary" href='{:url("adminIndex/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
                        <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('adminIndex/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$page}</div>
    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
    <script type="text/javascript">
        $(function(){
            Wind.use('layer');
        });

        $("#mail").click(function () {

        var ids = [];
        $("input[name='ids[]']:checked").each(function(i){
        ids.push($(this).val())

        })
         if(ids.length > 0){
            var url = "/admin/message/index?user_id_array="+ids;
            layer.open({
                type: 2,
                title: '站内信',
                shadeClose: true,
                shade: 0.8,
                area: ['680px', '580px'],
                content: url
            });
             
             
         }else{
            layer.msg('请选择会员',{icon:2});
         }



        });
        
        
        $("#paper").click(function () {

        var ids = [];
        $("input[name='ids[]']:checked").each(function(i){
        ids.push($(this).val())

        })
         if(ids.length > 0){
            var url = "/admin/message/paper?user_id_array="+ids;
            layer.open({
                type: 2,
                title: '问卷调查',
                shadeClose: true,
                shade: 0.8,
                area: ['680px', '580px'],
                content: url
            });
             
             
         }else{
            layer.msg('请选择会员',{icon:2});
         }



        });
        
        
        
    </script>
</body>
</html>