<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >验证码列表</a></li>

		</ul>
		<form class="well form-inline margin-top-20" name="form1" method="post" action="">
            类型：
            <select class="form-control" name="type">
				<option value="">全部</option>
                <volist name="type" id="v">
                    <option value="{$key}" <if condition="input('request.type') neq '' && input('request.type') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			关键字：
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入接收账号">
            
            <input type="button" class="btn btn-primary" value="搜索" onclick="form1.action='{:url('Sendcode/index')}';form1.submit();"/>
			<input type="button" class="btn btn-success" value="导出" onclick="form1.action='{:url('Sendcode/export')}';form1.submit();"/>
		</form>	
    	
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>信息类型</th>
						<th>接收账号</th>
						<th>信息内容</th>
						<th>提交时间</th>
						<!-- <th>{:lang('ACTIONS')}</th> -->
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$type[$vo['type']]}</td>
						<td>{$vo['account']}</td>
						<td>{$vo['content']}</td>
						<td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
						<!-- <td align="center">	 -->
							<!-- <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Sendcode/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a> -->
						<!-- </td> -->
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>