.content {
    padding-top: 20px;

    .header {
        position: relative;

        .header-top {
            text-align: right;
            font-size: 13px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #EB4D1A;
            margin-right: 28px;

            span {
                position: relative;
                margin-right: 5px;

                img {
                    position: absolute;
                    top: 2px;
                    // right: rem;
                    right: -0.9rem;
                    width: 15px;
                    background-color: red;
                }
            }

            input {
                border: none;
                outline: none;
                position: absolute;
                right: 1rem;
                opacity: 0;
            }

            ::-webkit-datetime-edit-year-field {
                visibility: hidden;
            }

            ::-webkit-datetime-edit-month-field {
                visibility: hidden;
            }

            ::-webkit-datetime-edit-day-field {
                visibility: hidden;
            }

            ::-webkit-datetime-edit-text {
                visibility: hidden;
            }
        }

        .header-center {
            margin-top: 3%;
            display: flex;
            width: 100%;
            // background-color: red;

            .center-l {
                margin-left: 17px;
                font-size: 16px;
                font-family: PingFangSC;
                font-weight: 600;
                color: #333333;
            }

            .center-c {
                background: #B6B6B6;
                border-radius: 8px;
                margin-left: 9px;
                width: 25%;
                height: 20%;
                text-align: center;

                span {

                    font-size: 10px;
                    font-family: PingFang SC;
                    color: #FFFFFF;
                    display: block;
                    -webkit-transform: scale(0.8);
                    padding-top: 1px;
                }
            }

            .center-r {

                background: #B6B6B6;
                border-radius: 8px;
                margin-left: 5px;
                width: 25%;
                height: 20%;
                text-align: center;

                span {
                    font-size: 10px;
                    font-family: PingFangSC;
                    color: #FFFFFF;
                    display: block;
                    -webkit-transform: scale(0.8);
                    padding-top: 1px;
                }
            }

            .toggle {
                background: #02786A;
            }
        }

        #header-bottom {
            width: 100%;
            height: 200px;
        }
    }

    .center {
        margin-top: 22px;

        .center-top {
            display: flex;

            .center-l {
                margin-left: 17px;
                font-size: 16px;
                font-family: PingFangSC;
                font-weight: 600;
                color: #333333;
            }

            .center-c {

                background: #B6B6B6;
                border-radius: 8px;
                margin-left: 9px;
                width: 25%;
                height: 20%;
                text-align: center;

                span {

                    font-size: 10px;
                    font-family: PingFang SC;
                    color: #FFFFFF;
                    display: block;
                    -webkit-transform: scale(0.8);
                    padding-top: 1px;
                }
            }

            .center-r {

                background: #B6B6B6;
                border-radius: 8px;
                margin-left: 5px;
                width: 25%;
                height: 20%;
                text-align: center;

                span {
                    font-size: 10px;
                    font-family: PingFangSC;
                    color: #FFFFFF;
                    display: block;
                    -webkit-transform: scale(0.8);
                    padding-top: 1px;
                }
            }

            .toggle {
                background: #02786A;
            }
        }


        #center-bottom {
            width: 100%;
            height: 200px;
        }
    }

    .footer {
        margin-top: 22px;

        .footer-top {
            display: flex;

            .footer-l {
                margin-left: 17px;
                font-size: 16px;
                font-family: PingFangSC;
                font-weight: 600;
                color: #333333;
            }

            .footer-c {

                background: #B6B6B6;
                border-radius: 8px;
                margin-left: 9px;
                width: 25%;
                height: 20%;
                text-align: center;
                span {

                    font-size: 10px;
                    font-family: PingFang SC;
                    color: #FFFFFF;
                    display: block;
                    -webkit-transform: scale(0.8);
                    padding-top: 1px;
                }
            }

            .footer-r {

                background: #B6B6B6;
                border-radius: 8px;
                margin-left: 5px;
                width: 25%;
                height: 20%;
                text-align: center;

                span {
                    font-size: 10px;
                    font-family: PingFangSC;
                    color: #FFFFFF;
                    display: block;
                    -webkit-transform: scale(0.8);
                    padding-top: 1px;
                }
            }

            .toggle {
                background: #02786A;
            }
        }

        #footer-bottom {
            width: 100%;
            height: 200px;
        }
    }

    .border {
        width: 100%;
        height: 10px;

        background: #F7F7F7;
    }

}