<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Ad/index')}">列表</a></li>
			<li class="active"><a >{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Ad/addPost')}">

            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>名称</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="name">
				</div>
			</div>
			
        	<div class="form-group">
        		<label for="input-ipa_ewm" class="col-sm-2 control-label">绑定帖子ID</label>
    		  	<div class="col-md-3 col-sm-10">
        		<input type="text" class="form-control" id="note_id" name="note_id" placeholder="帖子ID" readonly>
    		     <span class="help-block">
                    <a onclick="selectGoods()"><i class="fa fa-search"></i>选择</a>
                </span>
        		</div>	   
        	</div>
						
        	<div class="form-group">
        		<label for="input-ipa_ewm" class="col-sm-2 control-label">绑定店铺ID</label>
    		  	<div class="col-md-3 col-sm-10">
        		<input type="text" class="form-control" id="shop_id" name="shop_id" placeholder="店铺ID" readonly>
    		     <span class="help-block">
                    <a onclick="selectshop()"><i class="fa fa-search"></i>选择</a>
                </span>
        		</div>	   
        	</div>
			
            
            <div class="form-group">
				<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>图片</label>
				<div class="col-md-6 col-sm-10">
					<input type="hidden" name="thumb" id="thumbnail" value="">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail');">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                 id="thumbnail-preview"
                                 style="cursor: pointer;max-width:100px;max-height:100px;"/>
                    </a>
                    <input type="button" class="btn btn-sm btn-cancel-thumbnail" value="取消图片"> 图片尺寸： 50 X 50
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-des" class="col-sm-2 control-label"><span class="form-required">*</span>链接</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-des" name="url"  maxlength="200">
					<p class="help-block"></p>
				</div>
			</div>
            
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
    <script>
    
        $(function(){
			Wind.use('layer');
		});	    
        function selectGoods(){
        var url = "/admin/ad/note";
        layer.open({
            type: 2,
            title: '选择帖子',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
        }
        function call_back(id,$status){
            if($status==2){
                $('input[name=shop_id]').val(id)
                layer.closeAll('iframe'); 
            }else{
               $('input[name=note_id]').val(id)
                layer.closeAll('iframe'); 
            }
        }
        function selectshop(){
        var url = "/admin/ad/shop&judge=2";
        layer.open({
            type: 2,
            title: '选择店铺',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
        }
        
        
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });
            
        })()
    </script>
</body>
</html>