<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Ad/notead')}">列表</a></li>
			<li class="active"><a >{:lang('EDIT')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Ad/editPost')}">
		    
		    

	  <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>广告1标题</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="name1" value="{$data['name1']}">
				</div>
			</div>
            <div class="form-group">
				<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>图片</label>
				<div class="col-md-6 col-sm-10">
					<input type="hidden" name="thumb1" id="thumbnail1" value="{$data['thumb1']}">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail1');">
                        <if condition="empty($data['thumb1'])">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                 id="thumbnail1-preview"
                                 style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        <else/>
                        <img src="{:cmf_get_image_preview_url($data['thumb1'])}"
                             id="thumbnail1-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        </if>
                    </a>
                    <input type="button" class="btn btn-sm btn-cancel-thumbnail1" value="取消图片"> 图片尺寸： 50 X 50
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-des" class="col-sm-2 control-label"><span class="form-required">*</span>跳转链接</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-des" name="url1" value="{$data['url1']}" maxlength="200">
					<p class="help-block"></p>
				</div>
			</div>
			
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>广告2标题</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="name2" value="{$data['name2']}">
				</div>
			</div>
            <div class="form-group">
				<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>图片</label>
				<div class="col-md-6 col-sm-10">
					<input type="hidden" name="thumb2" id="thumbnail2" value="{$data['thumb2']}">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail2');">
                        <if condition="empty($data['thumb2'])">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                 id="thumbnail2-preview"
                                 style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        <else/>
                        <img src="{:cmf_get_image_preview_url($data['thumb2'])}"
                             id="thumbnail2-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        </if>
                    </a>
                    <input type="button" class="btn btn-sm btn-cancel-thumbnail2" value="取消图片"> 图片尺寸： 50 X 50
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-des" class="col-sm-2 control-label"><span class="form-required">*</span>跳转链接</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-des" name="url2" value="{$data['url2']}" maxlength="200">
					<p class="help-block"></p>
				</div>
			</div>
			
			
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>广告3标题</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="name3" value="{$data['name3']}">
				</div>
			</div>
            <div class="form-group">
				<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>图片</label>
				<div class="col-md-6 col-sm-10">
					<input type="hidden" name="thumb3" id="thumbnail3" value="{$data['thumb3']}">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail3');">
                        <if condition="empty($data['thumb3'])">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                 id="thumbnail3-preview"
                                 style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        <else/>
                        <img src="{:cmf_get_image_preview_url($data['thumb3'])}"
                             id="thumbnail3-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        </if>
                    </a>
                    <input type="button" class="btn btn-sm btn-cancel-thumbnail3" value="取消图片"> 图片尺寸： 50 X 50
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-des" class="col-sm-2 control-label"><span class="form-required">*</span>跳转链接</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-des" name="url3" value="{$data['url3']}" maxlength="200">
					<p class="help-block"></p>
				</div>
			</div>
			
			
			
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>广告4标题</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="name4" value="{$data['name4']}">
				</div>
			</div>
            <div class="form-group">
				<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>图片</label>
				<div class="col-md-6 col-sm-10">
					<input type="hidden" name="thumb4" id="thumbnail4" value="">
                    <a href="javascript:uploadOneImage('图片上传','#thumbnail4');">
                        <if condition="empty($data['thumb4'])">
                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                 id="thumbnail4-preview"
                                 style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        <else/>
                        <img src="{:cmf_get_image_preview_url($data['thumb4'])}"
                             id="thumbnail4-preview"
                             style="cursor: pointer;max-width:100px;max-height:100px;"/>
                        </if>
                    </a>
                    <input type="button" class="btn btn-sm btn-cancel-thumbnail4" value="取消图片"> 图片尺寸： 50 X 50
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-des" class="col-sm-2 control-label"><span class="form-required">*</span>跳转链接</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-des" name="url4" value="{$data['url4']}" maxlength="200">
					<p class="help-block"></p>
				</div>
			</div>
            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="note_id" value="{$note_id}" />
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('EDIT')}</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
    <script type="text/javascript">
        $(function(){
			Wind.use('layer');
		});	    
        function selectGoods(){
        var url = "/admin/ad/note";
        layer.open({
            type: 2,
            title: '选择帖子',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
        }
        function call_back(id,$status){
            if($status==2){
                $('input[name=shop_id]').val(id)
                layer.closeAll('iframe'); 
            }else{
               $('input[name=note_id]').val(id)
                layer.closeAll('iframe'); 
            }
        }
         function selectshop(){
        var url = "/admin/ad/shop&judge=2";
        layer.open({
            type: 2,
            title: '选择店铺',
            shadeClose: true,
            shade: 0.2,
            area: ['75%', '75%'],
            content: url,
        });
        }
        
        
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });
        })()

    </script>
</body>
</html>