<include file="public@header" />
<style>
    .imgtip{
        margin-bottom:5px;
    }
</style>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >帖子列表</a></li>
		</ul>
        
        <form class="well form-inline margin-top-20" method="post" action="{:url('ad/note')}">



            帖子id：
            <input class="form-control" type="text" name="id" style="width: 200px;" value=""
                   placeholder="帖子id">
            用户id：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value=""
                   placeholder="用户id">      
                   
            <input type="submit" class="btn btn-primary" value="搜索"/>
        </form>
    
		<form method="post" class="js-ajax-form">

            
          	<div class="table-actions">
                 <a class="btn btn-xs btn-primary" id="mail">确认提交</a>
            </div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
                        <th></th>
						<th>ID</th>
						<th>店铺名字</th>
						<th>用户id/昵称</th>
						<th width="10%">帖子标题</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
                        <td>
                            <input type="radio" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="id" value="{$vo.id}">
                        </td>
						<td>{$vo['id']}</td>
						<td>{$vo['sName']}</td>
                        <td>{$vo['uid']}/{$vo['user_nickname']}</td>
                        <td>{$vo['title']}</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
    <div id="enlarge_images" style="position:fixed;display:none;z-index:2;"></div>
	<script src="__STATIC__/js/admin.js"></script>
    <script>
		$(function(){
			Wind.use('layer');
		});
		
	    $("#mail").click(function () {

       
	    var id = $("input[name='id']:checked").val();

    	 if(id!= null){
    	      var j= "{$judge}";
    	      if(j!=0){
    	          window.parent.call_back(id,2);
    	      }else{
    	           window.parent.call_back(id);
    	      }
    	 }else{
	        layer.msg('请选择帖子',{icon:2});
    	 }



        });
        
        
        
    </script>
</body>
</html>