<include file="public@header" />
<style type="text/css">
	.red_tips{
		color: #F00;
	}
</style>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Attestation/index')}">认领列表</a></li>
			<li class="active"><a >{:lang('EDIT')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Attestation/editPost')}">
            <div class="form-group">
				<label class="col-sm-2 control-label"><span class="form-required">*</span>认领店铺ID</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" value="{$data['shop_id']}" readonly>
				</div>
			</div>
	       <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>认领店铺名称</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control"  value="{$data['sName']}" readonly>
				</div>
			</div>
			
           <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>申请人</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control"  value="{$data['username']}" readonly>
				</div>
			</div>
	        <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>经营者身份证</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control"  value="{$data['cardno']}" readonly>
				</div>
			</div>

			<div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>经营者联系电话</label>
				<div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control"  value="{$data['phone']}" >
				</div>
			</div>
            
             <div class="form-group">
				<label for="input-thumb" class="col-sm-2 control-label"><span class="form-required">*</span>身份证正面</label>
				<div class="col-md-6 col-sm-10">
					<img src="{$data['card_front']}" width="135" style="cursor: hand">
				</div>
			</div>
             <div class="form-group">
				<label for="input-thumb" class="col-sm-2 control-label"><span class="form-required">*</span>身份证反面</label>
				<div class="col-md-6 col-sm-10">
					<img src="{$data['card_back']}" width="135" style="cursor: hand">
				</div>
			</div>
			
             <div class="form-group">
				<label for="input-thumb" class="col-sm-2 control-label"><span class="form-required">*</span>营业执照</label>
				<div class="col-md-6 col-sm-10">
					<img src="{$data['certificate']}" width="135" style="cursor: hand">
				</div>
			</div>
            


            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>经营者所在地区</label>
				<div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control"  value="{$data['province']}-{$data['city']}-{$data['area']}" readonly>
				</div>
			</div>

			<div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>经营者详细地址</label>
				<div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control"  value="{$data['address']}" readonly>
				</div>
			</div>

            
            <div class="form-group">
				<label for="input-needcoin" class="col-sm-2 control-label"><span class="form-required">*</span>审核状态</label>
				<div class="col-md-6 col-sm-10">
					<select class="form-control" name="status">
                        <volist name="status" id="v">
                        <option value="{$key}" <eq name="data['status']" value="$key">selected</eq>>{$v}</option>
                        </volist>
                    </select>
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-needcoin" class="col-sm-2 control-label"><span class="form-required"></span>审核意见</label>
				<div class="col-md-6 col-sm-10">
                    <textarea class="form-control" name="reason" id="reason">{$data['reason']}</textarea>
				</div>
			</div>


            

            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="id" value="{$data.id}" />
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('EDIT')}</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>