<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>认领列表</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Attestation/index')}">
		     审核状态：
			<select class="form-control" name="status">
				<option value="">全部</option>
                <volist name="status" id="v">
                    <option value="{$key}" <if condition="input('request.status') neq '' && input('request.status') eq $key">selected</if> >{$v}</option>
                </volist>    
			</select>
            
			用户： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID号">
            姓名： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入名称">
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn btn-danger" href="{:url('Attestation/index')}">清空</a>
		</form>				
		<form method="post" class="js-ajax-form" >
			<div class="table-actions">
                <!-- <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('Shopgoods/del')}"
                        data-subcheck="true">批量删除
                </button> -->



            </div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th width="16">
							
                            <label>
                                <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x">
                            </label>
                        	
                        </th>
						<th>ID</th>
						<th>认领店铺ID</th>
						<th>认领店铺名称</th>
						<th>认领人id/昵称</th>
						<th>申请人</th>
						<th>状态</th>
						<th>申请时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>
					
                            	<input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}">
                      
                        </td>
					    <td>{$vo.id}</td>
					    <td>{$vo.shop_id}</td>
					    <td>{$vo.sName} </td>
					    <td>{$vo.uid}/{$vo.user_nickname}</td>
					    <td>{$vo.username}</td>
					    <td><if condition="$vo['status'] eq '0'">审核中<elseif condition="$vo['status'] eq 1"/>通过<else />驳回</if>
					    </td>
					    <td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
						<td>
						
                           <a class="btn btn-xs btn-primary" href='{:url("Attestation/edit",array("id"=>$vo["id"]))}'>详情</a>
                           <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Attestation/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="table-actions">
                <!-- <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('Shopgoods/del')}"
                        data-subcheck="true">批量删除
                </button> -->


           
            </div>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>

</body>
</html>