<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >店铺列表</a></li>
        	<li><a href="{:url('Shopapply/add')}">{:lang('ADD')}</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Shopapply/index')}">
            审核状态：
			<select class="form-control" name="status">
				<option value="">全部</option>
                <volist name="status" id="v">
                    <option value="{$key}" <if condition="input('request.status') neq '' && input('request.status') eq $key">selected</if> >{$v}</option>
                </volist>    
			</select>
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
            用户ID：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
            店铺名称：
    <input class="form-control" type="text" name="name" style="width: 200px;" value="{:input('request.name')}"
           placeholder="请输入店铺名称">
           
           
            店铺ID：
    <input class="form-control" type="text" name="id" style="width: 200px;" value="{:input('request.id')}"
           placeholder="请输入店铺名称">
			
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn btn-danger" href="{:url('Shopapply/index')}">清空</a>
		</form>				
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
				    	<th>店铺ID</th>
						<th>店主ID/昵称</th>
						<th>店铺名称</th>
						<th>经营类目</th>
						<th>姓名</th>
						<th>手机号</th>
						<th>官网链接</th>
					
						<th>店铺状态</th>
						<th>认证状态</th>
						<th>提交时间</th>
						<th>处理时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
					    <td>{$vo.id}</td>
						<td>{$vo.uid}/{$vo['userinfo']['user_nickname']} </td>
						<td>{$vo['name']}</td>
					    <td>{$vo['classname']}</td>
						<td>{$vo['username']}</td>
						<td>{$vo['phone']}</td>		
						<td>{$vo['link']}</td>
						<td>{$status[$vo['status']]}</td>
						<td>		 
						<if condition="$vo['claim'] eq '0'" >
						   未认证
						 <else/>
						    已认证
				 		 </if>
						</td>
						<td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
						<td>
						 <if condition="$vo['status'] eq '0'" >
						    待处理
						 <else/>
						 	<if condition="$vo['uptime'] neq '0'">
                             {:date('Y-m-d H:i:s',$vo['uptime'])}
						    <else />
						    --
							</if>
						 </if>						
						 </td>
						<td>
		                    <a class="btn btn-xs btn-primary comment" data-id="{$vo['id']}">查看评论</a>	
                            <a class="btn btn-xs btn-primary" href='{:url("Shopapply/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Shopapply/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
							<a class="btn btn-xs btn-primary qrcode" data-id="{$vo['id']}">查看二维码</a>
						    
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	
		
		
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script type="text/javascript" src="/static/js/qrcode/jeromeetienne-jquery/jquery.qrcode.min.js"></script>
	 <script>
	     $(function(){
	          Wind.use('layer');
                $('.comment').click(function(){
                var _this=$(this);
                var id=_this.data('id');

                layer.open({
                    type: 2,
                    title: '查看评论',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['80%', '100%'],
                    content: '/admin/ShopComment/index?shopid='+id
                }); 
                
            });
	      
	       $(".qrcode").click(function(){
	            var id=$(this).data('id');
	            layer.open({
                  type: 1,
                  shade: 0.8,
                  shadeClose: true,
                  anim:1,
                  offest:['80px','100px'],
                  title: false, //不显示标题
                  content: '<div  id="html_qrcode"><div id="qrcode"></div></div>', //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                  cancel: function(){
                   // layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', {time: 5000, icon:6});
                  }
                });
	            
	            

                 jQuery('#qrcode').qrcode("http://test03.zwrjkf.cn//app/pages/scannel/index.html?shopid="+id);
	       })
	        
	         
	     })

	 
	 </script>
</body>
</html>