<include file="public@header"/>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('Chargerules/index')}">列表</a></li>
			<li class="active"><a >添加</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Chargerules/addPost')}">
			<fieldset>
				<div class=" form-group">
					<label class="col-sm-2 control-label">名称</label>
					<div class="col-md-6 controls">
						<input type="text" class="form-control" name="name">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">价格</label>
					<div class="col-md-6 controls">
						<input type="text" class="form-control" name="money">
						<span class="form-required">*</span>
					</div>
				</div>
                <div class="form-group">
					<label class="col-sm-2 control-label">钻石</label>
					<div class="col-md-6 controls">
						<input type="text" class="form-control" name="coin">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">苹果支付钻石</label>
					<div class="col-md-6 controls">
						<input type="text" class="form-control" name="coin_ios">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">苹果项目ID</label>
					<div class="col-md-6 controls">
						<input type="text" class="form-control" name="product_id">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">赠送钻石</label>
					<div class="col-md-6 controls">
						<input type="text" class="form-control" name="give" value="0">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">序号</label>
					<div class="col-md-6 controls">
						<input type="text" class="form-control" name="list_order" value="0">
						<span class="form-required">*</span>
					</div>
				</div>

			</fieldset>
			<div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary   js-ajax-submit">{:lang("ADD")}</button>
                <a class="btn btn-default" href="{:url('Chargerules/index')}">返回</a>
            </div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>