<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('Chargerules/index')}">列表</a></li>
			<li><a href="{:url('Chargerules/add')}">添加</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="{:url('Chargerules/listorders')}">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					  <th>序号</th>
						<th align="center">ID</th>
						<th>名称</th>
						<th>价格</th>
                        <th>钻石</th>
						<th>苹果支付钻石</th>
						<th>苹果项目ID</th>
						<th>赠送钻石</th>
						<th>发布时间</th>

						<th width="180">操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
					  <td><input name="listorders[{$vo['id']}]" type="text" size="3" value="{$vo['list_order']}" class="input input-order"></td>
						<td align="center">{$vo.id}</td>
						<td>{$vo['name']}</td>
						<td>{$vo['money']}</td>
                        <td>{$vo['coin']}</td>
						<td>{$vo['coin_ios']}</td>
						<td>{$vo['product_id']}</td>
						<td>{$vo['give']}</td>
						<td>{$vo.addtime}</td>

						<td align="center">	
							<a href="{:url('Chargerules/edit',array('id'=>$vo['id']))}" >编辑</a>
							<a href="{:url('Chargerules/del',array('id'=>$vo['id']))}"  class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
		<script src="__STATIC__/js/admin.js"></script>
</body>
</html>