<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Shopgoods/index')}">商品列表</a></li>
			<li class="active"><a >{:lang('EDIT')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Shopgoods/editPost')}">
            
            
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required"></span>用户:</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
				
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required"></span>商品名称:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" value="" readonly="readonly">
				</div>
			</div>

		
				<div class="form-group">
					<label for="input-one_class" class="col-sm-2 control-label"><span class="form-required"></span>商品所属一级分类:</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" id="input-one_class" value="" readonly="readonly">
					</div>
				</div>

				<div class="form-group">
					<label for="input-two_class" class="col-sm-2 control-label"><span class="form-required"></span>商品所属二级分类:</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" id="input-two_class" value="" readonly="readonly">
					</div>
				</div>

				<div class="form-group">
					<label for="input-three_class" class="col-sm-2 control-label"><span class="form-required"></span>商品所属三级分类:</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" id="input-three_class" value="" readonly="readonly">
					</div>
				</div>

	

		        <div class="form-group">
					<label for="input-content" class="col-sm-2 control-label"><span class="form-required"></span>商品内容:</label>
					<div class="col-md-6 col-sm-10">
						<textarea class="form-control" id="input-content"></textarea> 
					</div>
				</div>

				<div class="form-group">
					<label for="input-thumbs" class="col-sm-2 control-label"><span class="form-required"></span>商品内容图集:</label>
					<div class="col-md-6 col-sm-10">
						<volist name="$data['picture_arr']" id="vo">
							<img src="{$vo}" style="width: 150px;height: auto;margin-right: 30px;margin-top: 20px;" class="imgtip">
						</volist>
					</div>
				</div>

			
				
					<div class="form-group">
						<label class="col-sm-2 control-label"><span class="form-required"></span>商品规格名称:</label>
						<div class="col-md-6 col-sm-10">
							<input type="text" class="form-control" value="" readonly="readonly">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label"><span class="form-required"></span>商品规格库存:</label>
						<div class="col-md-6 col-sm-10">
							<input type="text" class="form-control" value="" readonly="readonly">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label"><span class="form-required"></span>商品规格单价(元):</label>
						<div class="col-md-6 col-sm-10">
							<input type="text" class="form-control" value="" readonly="readonly">
						</div>
					</div>

					<div class="form-group">
						<label for="input-postage" class="col-sm-2 control-label"><span class="form-required"></span>商品邮费:</label>
						<div class="col-md-6 col-sm-10">
							<input type="text" class="form-control" id="input-postage" value="" readonly="readonly">
						</div>
					</div>

			

				<div class="form-group">
					<label for="input-sale_nums" class="col-sm-2 control-label"><span class="form-required"></span>商品总销量:</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" id="input-sale_nums" value="" readonly="readonly">
					</div>
				</div>

		

	

				<div class="form-group">
					<label for="input-original_price" class="col-sm-2 control-label"><span class="form-required"></span>商品原价:</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" id="input-original_price" value="{$data['original_price']}" readonly="readonly">
					</div>
				</div>

				<div class="form-group">
					<label for="input-present_price" class="col-sm-2 control-label"><span class="form-required"></span>商品现价:</label>
					<div class="col-md-6 col-sm-10">
						<input type="text" class="form-control" id="input-present_price" value="{$data['present_price']}" readonly="readonly">
					</div>
				</div>

				<div class="form-group">
					<label for="input-goods_desc" class="col-sm-2 control-label"><span class="form-required"></span>商品简介:</label>
					<div class="col-md-6 col-sm-10">
						<textarea class="form-control" id="input-goods_desc"></textarea> 
					</div>
				</div>

	

			
			   
            
            <div class="form-group">
				<label for="input-thumbs" class="col-sm-2 control-label"><span class="form-required"></span>商品封面图:</label>
				<div class="col-md-6 col-sm-10">
					<volist name="$data['thumb_arr']" id="vo">
						<img src="{$vo}" style="width: 150px;height: auto;margin-right: 30px;margin-top: 20px;" class="imgtip">
					</volist>
				</div>
			</div>
            


            <div class="form-group">
				<label for="input-hits" class="col-sm-2 control-label"><span class="form-required"></span>商品访问量:</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-hits" value="" readonly="readonly">
				</div>
			</div>

            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="id" value="{$data.id}" />
					<if condition="$data['status'] neq '1'">
						<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('EDIT')}</button>
					</if>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>

		</form>
	</div>

    <script src="__STATIC__/js/admin.js"></script>
    <if condition="$data['video_url'] neq ''">
		<script src="__STATIC__/xigua/xgplayer.js?t=1574906138" type="text/javascript"></script>
	    <script src="__STATIC__/xigua/xgplayer-flv.js.js" type="text/javascript"></script>
	    <script src="__STATIC__/xigua/xgplayer-hls.js.js" type="text/javascript"></script>
	    <script src="__STATIC__/xigua/player.js" type="text/javascript"></script>
	    <script>
	    (function(){
	        var pull='{$data['video_url']}';
	        if(pull){
	            xgPlay('playerzmblbkjP',pull);
	        }
	    })()
	    </script>

	</if>
</body>
</html>
