<html>
<head style="font-size:14px">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telephone=no, email=no"/><!--忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <script>
        
        function GetQueryValue1(queryName) {
    var reg = new RegExp("(^|&)" + queryName + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if ( r != null ){
       return decodeURI(r[2]);
    }else{
       return null;
    }
 }
 
 
  var l =  GetQueryValue1('lan')
  
   var rx = ''
   if(l == 'ms'){
       rx = 'Butiran Transaksi';
   }else if(l == 'en'){
       rx = 'Transaction Details'
   }else{
       rx = '交易细节'
   }
   
   document.title = rx;
    </script>
    <title>{{textLang[lan].title}}</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"/>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!-- 引入组件 -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vant/lib/vant.min.js"></script>
</head>
<style>
    
    .van-field__body input{
        text-align: right;
    }
    .ul li{
         border-bottom: 1px solid #ccc;
         /*position: relative;*/
    }

</style>
<body onload="">

<div id="app">
    
    <div style="text-align: center;margin-top: 100px;"><img style="width:80px;" src="https://askpert-oss.obs.ap-southeast-3.myhuaweicloud.com/user_auth/99d580a36f9d2a9f76580d150a7aac94.jpg"></div>
    <div style="text-align: center;margin-top: 10px;"><span>{{textLang[lan].ten}}</span></div>
    <div style="text-align: center;margin-top: 10px;"><span>{{textLang[lan].four}}:<br>{{ordersn}}</span></div>
    <div>
        
        <ul class="ul" style="padding: 25px;line-height: 50px;">
            
            <li style="height:50px;"><div style="float:left;">{{textLang[lan].one}}</div><div style="float:right;"><span style="font-size:14px;">{{textLang[lan].night}} {{value}}</span></div></li>
            
      
            
            
            <li style="height:50px;"><div style="float:left;">{{textLang[lan].two}}</div><div style="float:right;"><span style="font-size:14px;">{{textLang[lan].eight}} {{uids}}</span></div></li>
            
             <li v-if="touid != 0" style="height:50px;"><div style="float:left;">{{textLang[lan].seven}}</div><div style="float:right;"><span style="font-size:14px;">{{textLang[lan].eight}} {{touid}}</span></div></li>
            
            <li  v-if="shopid != 0" style="height:50px;"><div style="float:left;">{{textLang[lan].eleven}}</div><div style="float:right;"><span style="font-size:14px;">ID {{shopid}}</span></div></li>
     
            
            <li style="height:50px;"><div style="float:left;">{{textLang[lan].three}}</div><div style="float:right;"><span style="font-size:14px;">{{createtime | formatDate}}</span></div></li>
  <!--          <li style="height:50px"><div style="float:left;;width:7rem">{{textLang[lan].four}}</div> <div style="float:right;overflow:hidden; 
text-overflow:ellipsis; 
white-space:nowrap; width:12rem;"><span style="font-size:12px;">{{ordersn}}</span></div></li>-->
            
            
            
            
            
            <li style="height:50px;border-bottom:none;"><div style="float:left;">{{textLang[lan].five}}</div><div style="float:right;"><span></span></div></li>
            <li style="overflow:auto;border-bottom:none;"><div style="float:left;color:#969799;font-size:25px;width:100%;white-space:normal;word-break:break-all" v-html="remark"><div style="float:right;"><span>{{remark}}</span></div></li>
        </ul>
        
    </div>
    <div style="text-align: center;background: #01796A;margin: 0px 40px 0px 40px;border-radius: 20px;color: #fff;padding: 10px;" onclick="JSB_TO_APP_CLOSEWEB1()">{{textLang[lan].twelve}}</div>

</div>


</body>

<script>
  new Vue({
    el: '#app',
    data:{
         value  :'',
         isLoading:false,
         createtime: '',
         shopid:0,
         title:'',
         desc:'',
         status:'成功',
         ordersn:'',
         remark:'',
         uids:0,
         shop_uid:0,
         touid:0,
         lan:'gb',
         textLang:{
             gb:{
                 one:'金币额',
                 two:'支付人',
                 three:'交易时间',
                 four:'交易ID',
                 five:'备注',
                 six:'确定',
                 seven:'收益人',
                 eight:'用户ID',
                 night:'金币',
                 ten:'收益成功',
                 eleven:'店铺',
                 twelve:'确定',
                 title:'交易细节'
             },
             en:{
                 one:'Coins amount',
                 two:'Payer',
                 three:'Date and Time',
                 four:'Transaction ID',
                 five:'Remark',
                 six:'确定',
                 seven:'Payee',
                 eight:'User ID',
                 night:'Coins',
                 ten:'Transaction successful ',
                 eleven:'Store',
                 twelve:'Confirm',
                  title:'Transaction Details'
                 
             },
             ms:{
                 one:'Jumlah koin',
                 two:'Pembayar',
                 three:'Tarikh dan Masa',
                 four:'Transaction ID',
                 five:'Remark',
                 six:'确定',
                 seven:'Penerima',
                 eight:'ID Pengguna',
                 night:'Koin',
                 ten:'Transaksi berjaya',
                 eleven:'Butik',
                 twelve:'Sahkan',
                 title:'Butiran Transaksi'
             }
         }
    },
    
    filters: {
      formatDate: function (value) {
        var now = new Date(value * 1000); // 依情况进行更改 * 1
        y = now.getFullYear();
        m = now.getMonth() + 1;
        d = now.getDate();
        return y + "-" + (m < 10 ? "0" + m : m) + "-" + (d < 10 ? "0" + d : d) + " " + now.toTimeString().substr(0, 8);
      }
    },
     created:function(){
        var  _that = this;
        _that.createtime  =  GetQueryValue1('createtime')
        console.log(_that.createtime)
        _that.shopid  =  GetQueryValue1('shopid')
        _that.value  =  GetQueryValue1('value')
        _that.ordersn  =  GetQueryValue1('ordersn')
        _that.remark  =  GetQueryValue1('remark')
        _that.uids = GetQueryValue1('uids')
        _that.touid = GetQueryValue1('touid')
        _that.shop_uid = GetQueryValue1('shop_uid')
        var lan = GetQueryValue1('lan')
        if(lan == 'en'){
            _that.lan = 'en'
        }
        if(lan == 'ms'){
            _that.lan = 'ms'
        }


    },
    methods: {
        
        
         sure:function(){
            
         },
        
         
    }

  });




  // 调用函数组件，弹出一个 Toast
  //vant.Toast('提示');
 // Vue.use(Field);

  // 通过 CDN 引入时不会自动注册 Lazyload 组件
  // 可以通过下面的方式手动注册
  Vue.use(vant.Lazyload);
  Vue.use(vant.Field);


  /**
 * [通过参数名获取url中的参数值]
 * 示例URL:http://htmlJsTest/getrequest.html?uid=admin&rid=1&fid=2&name=小明
 * @param  {[string]} queryName [参数名]
 * @return {[string]}           [参数值]
 */
function GetQueryValue1(queryName) {
    var reg = new RegExp("(^|&)" + queryName + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if ( r != null ){
       return decodeURI(r[2]);
    }else{
       return null;
    }
 }
function JSB_TO_APP_CLOSEWEB1(){
       try {  //要么安卓要么ios
           /* code */
            window.webkit.messageHandlers.JSB_TO_APP_CLOSEWEB.postMessage(null);
       } catch (e) {
           	window.AAA_WEB_H5_APP_GAME_KEY.JSB_TO_APP_CLOSEWEB();
       }
       
      
       
} 
 
  
 
 




</script>

</html>