<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/><!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telephone=no, email=no"/><!--忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
 <script>
        /**
 * [通过参数名获取url中的参数值]
 * 示例URL:http://htmlJsTest/getrequest.html?uid=admin&rid=1&fid=2&name=小明
 * @param  {[string]} queryName [参数名]
 * @return {[string]}           [参数值]
 */
function GetQueryValue1(queryName) {
    var reg = new RegExp("(^|&)" + queryName + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if ( r != null ){
       return decodeURI(r[2]);
    }else{
       return null;
    }
 }
 
 
  var l =  GetQueryValue1('lan')
  
   var rx = ''
   if(l == 'ms'){
       rx = 'Penebusan';
   }else if(l == 'en'){
       rx = 'Redemption'
   }else{
       rx = '兑换'
   }
   
   document.title = rx;
    
</script>
            <!-- 引入样式 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"/>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<title>兑换</title>
<!-- 引入组件 -->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/vant/lib/vant.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


<style>
    
    .van-field__body{
        margin-left:-30px;
    }
    .van-field__label{
        width: 7.2rem;
    }
</style>
    </head>
    <body>
        <div id="app">
 
            
            
        </div>


        
    </body>
    
    <script>
    
    

    
   
  // 在 #app 标签下渲染一个按钮组件
  new Vue({
    el: '#app',
    template: `
    

    <div style="margin-top:2rem;position:relative;">
          <van-panel v-bind:title="title"></van-panel>
          <van-field :label="textLang[lang].one" v-model="value"  type="digit" placeholder='' />
          <van-field style="position:absolute;top:45px;left:150px;width:200px;" label="= MYR"  v-model="myr"  type="number" placeholder='' />
          <van-field :label="textLang[lang].two"  v-model="remark"  type="" :placeholder='textLang[lang].six' />
          <div style="margin-left:5rem;margin-top:5rem">
          <van-button type="primary"  v-if="!isLoading"  style="width:70%;background-color:#01796A" @click="sub">{{textLang[lang].twelve}}</van-button>
          <van-button v-if="isLoading" loading type="primary"  style="width:70%;background-color:#01796A" loading-text="Loading..." />
          </div>
          
 
    <van-overlay :show="show"  />
   </div>
   `,
    data:{
         value  :'',
         remark :'',
         isLoading:false,
         token: '',
         shopid:'',
         shopname:'',
         show:false,
         title:'',
         myr:0,
         kilometers:0,
         meters:0,
         rate:'',
         lang:'gb',
         textLang:{
             gb:{
                 one:'输入金币',
                 two:'备注',
                 three:'商家',
                 four:'交易ID',
                 five:'备注',
                 six:'请填写备注',
                 seven:'收益人',
                 eight:'用户ID',
                 night:'金币',
                 ten:'收益成功',
                 eleven:'店铺',
                 twelve:'确定',
                 title:'交易细节',
                 titles:'兑换'
             },
             en:{
                 one:'Coins amount',
                 two:'Remark',
                 three:'Merchant',
                 four:'Transaction ID',
                 five:'Remark',
                 six:'Please write your remark',
                 seven:'Payee',
                 eight:'User ID',
                 night:'Coins',
                 ten:'Transaction successful ',
                 eleven:'Store',
                 twelve:'Confirm',
                 title:'Transaction Details',
                 titles:'Redemption'
                 
             },
             ms:{
                 one:'Jumlah koin',
                 two:'Remark',
                 three:'Peniaga',
                 four:'Transaction ID',
                 five:'Remark',
                 six:'Sila tulis komen anda',
                 seven:'Penerima',
                 eight:'ID Pengguna',
                 night:'Koin',
                 ten:'Transaksi berjaya',
                 eleven:'Butik',
                 twelve:'Sahkan',
                 title:'Butiran Transaksi',
                 titles:'Penebusan'
             }
         }

    },
    watch : {
        value:function(val) {
            
            this.value = val;
            console.log('value',this.value);
            this.myr = (this.value / this.rate).toFixed(2)
        }

    },

     created:function(){
         _that = this
         this.loading =  true;
        
          axios.get('/api/Scannel/getconfig')
      .then(function (response) {
        console.log(response);
        var data = response.data;
        if(data.data.code  === 0){
           var result = data.data.info[0];
           console.log(result,1231);
           var user_cash_rate = result.user_cash_rate;
           var arr1 = user_cash_rate.split(':');
           console.log(arr1)
           var rates = arr1[0]/arr1[1];
           _that.rate = rates 
           _that.loading = false;
        }else{
             vant.Toast.fail(data.data.msg);
        }
      })
      .catch(function (error) {
        console.log(error);
      });
         
         
         
        var token  =  GetQueryValue1('token')
        var uid  =  GetQueryValue1('uid')
        
        if(!token || !uid){
           vant.Notify({
              message:'无法获取token',
              duration:0
           });
           this.show  = true;

        }
        var shopid  =  GetQueryValue1('shopid')
        var lang = GetQueryValue1('lan');

        this.token  = token
      
      
        this.uid = uid
        if(lang == 'zh-Hans'){
            lang = 'gb';
        }
         this.lang = lang
         this.shopid = shopid
        
      
        axios.get('/api/scannel/getShop?id='+this.shopid)
      .then(function (response) {
        console.log(response);
        var data = response.data;
        if(data.data.code  === 0){
           let shopname = data.data.info.name
            console.log(shopname)
          
            _that.title = _that.textLang[_that.lang].three+':'+shopname+"("+ data.data.info.uid+")"
            _that.touid = data.data.info.uid;
    
        }else{
             vant.Toast(data.data.msg);
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    methods: {
        

    sub: function (event) {
    var _that = this;
    console.log(event)
      // `this` 在方法里指当前 Vue 实例
      let value = this.value;
      let myr = this.value;
      if(value  == 0 || !value){
            vant.Toast('请输入有效数字');
            return ;
      }
      
      console.log(this.remark);
      this.isLoading = true;
      var token  = this.token;
      var shopid = this.shopid;
      var remark = this.remark;
      if(!token || !shopid){
           vant.Toast('页面错误');
            this.isLoading = false;
            return ;
      }
      
      
    axios.get('/api/scannel/complete?token='+token+'&shopid='+shopid+'&value='+value+'&remark='+remark+'&lan='+this.lang)
      .then(function (response) {
        console.log(response);
        var data = response.data;
        
        console.log(data.data.info);
    
        if(data.data.code  === 0){
             vant.Toast(data.data.msg);
            
             var dates  =   (Date.parse(new Date()) / 1000);

            
             console.log('/app/pages/scannel/details.html?token='+token+'&shopid='+shopid+'&value='+value+'&ordersn='+data.data.info+"&createtime="+dates);
             setInterval(function(){
              window.location.href='/app/pages/scannel/details.html?token='+_that.token+'&shopid='+_that.shopid+'&value='+_that.value+'&ordersn='+data.data.info+'&createtime='+dates+'&remark='+remark+'&uids='+_that.uid+'&lan='+_that.lang+'&touid='+_that.touid;
             },1500)
        }else{
             vant.Toast(data.data.msg);
             _that.isLoading = false;
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  }

  });


 

  // 调用函数组件，弹出一个 Toast
  //vant.Toast('提示');
 // Vue.use(Field);

  // 通过 CDN 引入时不会自动注册 Lazyload 组件
  // 可以通过下面的方式手动注册
  Vue.use(vant.Lazyload);
  Vue.use(vant.Field);




</script>
    
</html>