<include file="public@header" />
</head>
<body>
<div class="wrap">
	<ul class="nav nav-tabs">

	</ul>

	<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('message/send')}">
		<div class="radio">
			<label>
				<input type="radio" name="type" id="optionsRadios1" value="1" > 发送全部会员
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="type" id="optionsRadios2" value="0" checked>发送以下会员
			</label>
		</div>
		<div class="form-group">
			<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>会员列表</label>
			<div class="col-md-6 col-sm-10">

				<foreach name="users" item="vo">
					<input type="hidden" name="user[]" value="{$vo['id']}" />
					<p><span>{$vo['id']}</span>&nbsp;<span>{$vo['user_nickname']}</span></p>
				</foreach>

			</div>
		</div>


		<div class="form-group">
			<label for="input-content" class="col-sm-2 control-label"><span class="form-required"></span>消息标题:</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="input-name" name="title" >
			</div>
		</div>


		<!--      <div class="form-group">-->
		<!--	<label for="input-content" class="col-sm-2 control-label"><span class="form-required"></span>消息描述:</label>-->
		<!--	<div class="col-md-6 col-sm-10">-->
		<!--		<textarea class="form-control" id="input-content" name="message"></textarea> -->
		<!--	</div>-->
		<!--</div>-->

		<div class="form-group">
			<label for="input-title" class="col-sm-2 control-label"><span class="form-required"></span>消息描述:</label><span class="form-required"></span>(注意：不支持推送图片和视频!!!)
			<div class="col-md-6 col-sm-12">
				<script type="text/plain" id="content" name="message">{$template|default=""}</script>
				<!--<textarea class="textarea form-control" rows="5" name="message"></textarea>-->
			</div>
		</div>



		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary js-ajax-submit">发送</button>
			</div>
		</div>
	</form>
</div>
<script src="__STATIC__/js/admin.js"></script>
<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
    </script>
<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
        var editorcontent = new baidu.editor.ui.Editor();
        editorcontent.render('content');
    </script>


</body>
</html>