<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >推送记录</a></li>
			<!--<li ><a href="{:url('Push/add')}">发送</a></li>-->

		</ul>

    	
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>标题</th>
						<th>推送对象</th>
						<th width="60%">推送内容</th>
						<th>推送时间</th>
                        <th>{:lang('ACTIONS')}</th> 
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
						<td align="center">{$vo.message_id}</td>
						<td>{$vo['title']}</td>
						<td><if condition="$vo['type'] eq '1'">全部会员<else/>{$vo['user_ids']}</if></td>
						<td>{$vo['message']}</td>
						<td>{:date('Y-m-d H:i:s',$vo['send_time'])}</td>
						 <td>	 
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('message/del',array('id'=>$vo['message_id']))}">{:lang('DELETE')}</a>
						 </td> 
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>