<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">

		</ul>

		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('message/question')}">
    		 <div class="radio">
                <label>
                    <input type="radio" name="type" id="optionsRadios1" value="1" > 发送全部会员
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" id="optionsRadios2" value="0" checked>发送以下会员
                </label>
            </div>
			<div class="form-group">
				<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>会员列表</label>
				<div class="col-md-6 col-sm-10">

		    	<foreach name="users" item="vo">
		    	     <input type="hidden" name="user[]" value="{$vo['id']}" />
                    <p><span>{$vo['id']}</span>&nbsp;<span>{$vo['user_nickname']}</span></p>
		    	</foreach>    
			
				</div>
			</div>

	        <div class="form-group">
				<label for="input-content" class="col-sm-2 control-label"><span class="form-required"></span>问卷列表:</label>
				<foreach name="question" item="vo">
                <div class="radio">
                    <label>
                        <input type="radio" name="question" id="optionsRadios2" value="{$vo.id}" >{$vo.title}
                    </label>
                </div>
                </foreach>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">发送</button>
				</div>
			</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>