@media screen and (min-width:750px) {
    html {
        font-size: 75px !important;
    }
}

body {
    width: 10rem;
    margin: 0 auto;
    color: #333333;
    font-family: PingFang;
    box-sizing: border-box;
    background: #FFFFFF;
}

.main {
    width: 100%;
    height: 16.85rem;
    background-image: linear-gradient(#02786A, #fff);

    .header {
        width: 7.83rem;
        margin: 0 auto;
        // padding-top: 2.67rem;
        padding-top: 0.5rem;
        text-align: center;

        .header-top {
            font-size: 0.48rem;
            color: #FFFFFF;
        }

        .header-bottom {
            margin-top: 0.5rem;

            img {
                margin: 0 auto;
                width: 6.13rem;
                height: 4rem;
            }
        }
    }

    .article {
        width: 8.11rem;
        height: 10.48rem;
        background-color: #fff;
        border-radius: 5px;
        margin: 0 auto;

        .article-top {
            margin-top: 0.84rem;
            font-size: 0.41rem;
            font-family: Source Han Sans CN;
            color: #333333;
            text-align: center;
            padding-top: 0.3rem;
        }

        //复选
        .check {
            font-size: 0.41rem;
        }

        .article-bottom {
            margin-top: 0.3rem;

            ul {
                margin-left: 0.47rem;

                li {
                    box-sizing: border-box;
                    padding-left: 0.51rem;
                    width: 7.2rem;
                    height: 0.88rem;
                    line-height: 0.88rem;
                    font-size: 0.35rem;
                    color: #9A9A9A;
                    position: relative;
                    margin-top: 0.5rem;

                    img {
                        display: inline-block;
                        width: 0.37rem;
                        height: 0.29rem;
                        position: absolute;
                        right: 0.65rem;
                        top: 0.3rem;
                    }
                }
            }


        }

        //问答题
        textarea {
            margin: 0 auto;
            margin-left: 0.47rem;
            width: 7.2rem;
            height: 4.8rem;
            resize: none;
            background: #FFFFFF;
            border: 1px solid #ECECEC;
            box-shadow: 0px 3px 5px 0px rgba(92, 92, 92, 0.2);
            border-radius: 4px;
            outline: none;
            padding-top: 0.47rem;
            padding-left: 0.36rem;
            box-sizing: border-box;
        }
    }

    //选中
    .active {
        background: #FFFFFF;
        border: 1px solid #EB4B17;
        box-shadow: 0px 5px 10px 0px rgba(235, 75, 23, 0.2);
        border-radius: 8px;
        color: #EB4B17 !important;
    }

    .footer {
        width: 7.2rem;
        height: 1.07rem;
        background: #02786A;
        border-radius: 1rem;
        text-align: center;
        line-height: 1.07rem;
        margin: 0 auto;
        margin-top: 1.2rem;

        .btn {
            margin-top: 0.8rem;
            font-size: 0.51rem;
            font-family: PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
}