<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>扫码订单记录</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('scannelorder/index')}">
            
            名称： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入订单号">
            用户ID：
            <input class="form-control" type="text" name="user_id" style="width: 200px;" value="{:input('request.user_id')}"
                   placeholder="请输入用户ID">
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn btn-danger" href="{:url('scannelorder/index')}">清空</a>
		</form>	
		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead id="bignav">
					<tr>
						<th>ID</th>
						<th>订单编号</th>
						<th>订单类型</th>
						<th>用户ID</th>
						
						<th>店铺ID</th>
						<th>金额</th>
						<th>下单时间</th>
						<th align="center">{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo.ordersn}</td>
						<td>{$vo.type==0?"扫码":"转账"}</td>
						<td>
						    <if condition="$vo['type'] eq 1">
						    {$vo.uid} 转账给: <span style="color:red">{$vo.touid}</span>
						    <else />
						     {$vo.uid}
						    </if>
						    </td>
					
						<td>{$vo.shopid}</td>
						<td>{$vo.money}</td>
						<td>{:date('Y-m-d H:i',$vo['createtime'])}</td>
						<td>
                            <a class="btn btn-xs btn-primary" href='{:url("scannelorder/info",array("id"=>$vo["id"]))}'>详情</a>
							
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script type="text/javascript">
		$(function(){
			Wind.use('layer');
		});
	</script>

	
</body>
</html>