<include file="public@header" />
</head>
<body>
    <div class="wrap" js-check-wrap>
        <ul class="nav nav-tabs">
            <li ><a href="{:url('scannelorder/index')}">流水列表</a></li>
            <li class="active"><a >流水详情</a></li>
        </ul>
        <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('order/editPost')}">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    基本信息
                </div>
                <div class="panel-body">
                   <div class="form-group">
                        <label for="input-id" class="col-sm-2 control-label"><span class="form-required"></span>订单ID</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control" id="input-id" value="{$data['id']}" readonly="readonly">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="input-orderno" class="col-sm-2 control-label"><span class="form-required"></span>订单类型</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-orderno" value="{$data['type']==0?"扫码":"转账"}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-orderno" class="col-sm-2 control-label"><span class="form-required"></span>订单编号</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-orderno" value="{$data['ordersn']}" readonly="readonly">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="input-buyer" class="col-sm-2 control-label"><span class="form-required"></span>金额</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-buyer" value="{$data['money']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-buyer" class="col-sm-2 control-label"><span class="form-required"></span>店铺ID</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-buyer" value="{$data['shopid']}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-buyer" class="col-sm-2 control-label"><span class="form-required"></span>用户ID</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-buyer" value="{$data['uid']}" readonly="readonly">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="input-addtime" class="col-sm-2 control-label"><span class="form-required"></span>下单时间</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="input-addtime" value="{:date('Y-m-d H:i',$data['createtime'])}" readonly="readonly">
                    </div>
                </div>
                    
              
            </div>

        </form>
    </div>
    <script src="__STATIC__/js/admin.js"></script>
    
</body>
</html>