<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Push/index')}">推送记录</a></li>
			<li class="active"><a >推送</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Push/addPost')}">
            
            <div class="form-group">
				<label for="input-touid" class="col-sm-2 control-label"><span class="form-required">*</span>推送对象</label>
				<div class="col-md-6 col-sm-10">
					<textarea class="form-control" id="input-touid" name="touid" ></textarea>留空为推送所有会员，多个会员用 , 分隔。示例：多个推送：1,2,3
				</div>
			</div>
			
			 <div class="form-group">
				<label for="input-touid" class="col-sm-2 control-label"><span class="form-required">*</span>推送标题</label>
				<div class="col-md-6 col-sm-10">
				    <input type="text" class="form-control" name="title" id="input-title" value="" />

				</div>
			</div>
            
            <div class="form-group">
				<label for="input-content" class="col-sm-2 control-label"><span class="form-required">*</span>推送内容</label>
				<div class="col-md-6 col-sm-10">
					<textarea class="form-control" id="input-content" name="content" ></textarea>推送的消息仅支持文字，不支持图片及视频文件
				</div>
			</div>
            
            
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">推送</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>