<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >推送记录</a></li>
			<!--<li ><a href="{:url('Push/add')}">发送</a></li>-->

		</ul>
		<form class="well form-inline margin-top-20" name="form1" method="post" action="">
			时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			关键字： 
			
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入会员ID、管理员ID">
            
            <input type="button" class="btn btn-primary" value="搜索" onclick="form1.action='{:url('Push/index')}';form1.submit();"/>
			<input type="button" class="btn btn-success" value="导出" onclick="form1.action='{:url('Push/export')}';form1.submit();"/>
            
		</form>	
    	
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>管理员</th>
						<th>IP</th>
						<th>推送对象</th>
						<th width="60%">推送内容</th>
						<th>时间</th>
                        <th>{:lang('ACTIONS')}</th> 
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>
						<td>{$vo['admin']}</td>
						<td>{$vo['ip']}</td>
						<td><if condition="$vo['touid'] eq ''">全部会员<else/>{$vo['touid']}</if></td>
						<td>{$vo['content']}</td>
						<td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
						 <td>	 
							 <!--<a class="btn btn-xs btn-primary" href='{:url("push/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>-->
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('push/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						 </td> 
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>