<include file="public@header" />

<link href="__STATIC__/css/admin.css"  rel="stylesheet" type="text/css">
</head>
<body>
	<div class="admin_index">
		<div class="layer">
			<div class="modular" style="width:70%;">
				<span class="title"><a>推广链接</a></span>
				<span class="info" style="line-height:40px;padding-left:20px;">{$url}</span>
				<span class="title"><a>推广二维码</a></span>
				<span class="info" style="height:auto;"><img src="{$img_url}"></span>
			</div>
		</div>

	</div>
	
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>