@media screen and (min-width:750px) {
    html {
        font-size: 75px !important;
    }
}

body {
    width: 10rem;
    margin: 0 auto;
    color: #333333;
    font-family: PingFang;
    box-sizing: border-box;
    background: #FFFFFF;
}

.loading {
    font-size: 0.4rem;

    img {
        width: 35%;
        margin: 0 auto;
        top: 100%;
        padding-top: 50%;
    }

    p {
        text-align: center;
        padding-top: 10%;
    }
}

.ok {
    font-size: 0.4rem;

    img {
        width: 35%;
        margin: 0 auto;
        top: 100%;
        padding-top: 50%;
    }

    p {
        text-align: center;
        padding-top: 10%;
    }
}

.again {
    font-size: 0.4rem;

    img {
        width: 35%;
        margin: 0 auto;
        top: 100%;
        padding-top: 50%;
    }

    p {
        text-align: center;
        padding-top: 10%;

        a {
            color: #AEEEEE;
        }
    }

}

.header {
    width: 100%;
    padding-bottom: 0.53rem;
    border-bottom: 0.27rem solid #f6f6f6;

    .header-top {
        margin-left: 0.75rem;
        margin-top: 0.5rem;


        .inside-top {
            font-size: 0.69rem;
        }

        .inside-bottom {
            font-size: 0.32rem;
            color: #AAAAAA;
            width: 90%;
        }
    }

    .header-bottom {
        margin-top: 0.6rem;

        .text {
            font-size: 0.4rem;
            margin-left: 0.72rem;
        }

        .picture {
            width: 100%;
            margin-top: 0.4rem;
            display: flex;

            .picture-l {
                background: #FFFFFF;
                box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
                border-radius: 2px;
                box-sizing: border-box;
                margin-left: 0.72rem;

                .upLoad {
                    position: relative;
                    width: 4.17rem;
                    height: 2.4rem;

                    input {
                        width: 4.17rem;
                        height: 2.4rem;
                        position: absolute;
                        left: 0;
                        right: 0;
                        opacity: 0;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 2px;
                    }
                }



            }

            .picture-r {
                background: #FFFFFF;
                box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
                border-radius: 2px;
                margin-left: 0.16rem;
                margin-right: 0.72rem;

                .upLoad {
                    position: relative;
                    width: 4.17rem;
                    height: 2.4rem;

                    input {
                        width: 4.17rem;
                        height: 2.4rem;
                        position: absolute;
                        left: 0;
                        right: 0;
                        opacity: 0;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}

.article {
    padding-bottom: 0.51rem;
    border-bottom: 0.27rem solid #f6f6f6;

    .article-top {
        margin-top: 0.3rem;
        margin-left: 0.72rem;
        display: flex;

        .article-name {
            font-size: 0.4rem;
            color: #333333;
        }

        .article-name-text {
            margin-left: 0.93rem;
            line-height: 0.7rem;
            input {
                outline: none;
                font-size: 0.35rem;
                width: 150%;
            }
        }
    }

    .article-bottom {
        display: flex;
        margin-top: 0.6rem;
        margin-left: 0.72rem;


        .article-number {
            font-size: 0.4rem;
            color: #333333;
        }

        .article-number-text {
            margin-left: 0.52rem;
            line-height: 0.7rem;
            width: 60%;

            input {
                font-size: 0.35rem;
                outline: none;
                width: 100%;
            }
        }
    }
}

.footer {
    padding-top: 2.35rem;

    .btn {
        text-align: center;
        margin: 0 auto;
        width: 92%;
        box-sizing: border-box;
        height: 1.17rem;
        line-height: 1.17rem;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        font-size: 18px;
        background: #02786A;
        border-radius: 5px;
    }
}