<include file="public@header" />
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li ><a href="{:url('Video/indexs')}">视频列表</a></li>
        <li class="active"><a >{:lang('ADD')}</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Video/adds')}">

        <div class="form-group">
            <label for="input-uid" class="col-sm-2 control-label"><span class="form-required">*</span>用户ID</label>
            <div class="col-md-3 col-sm-10">
                <input type="text" class="form-control" id="uid" name="uid" placeholder="请输入发帖人ID" readonly value="">
                <span class="help-block">
						<a onclick="selectGoods()"><i class="fa fa-search"></i>选择</a>
					</span>
            </div>
        </div>

        <div class="form-group">
            <label for="input-score" class="col-sm-2 control-label"><span class="form-required">*</span>评分</label>
            <div class="col-md-6 col-sm-10">
                <input type="radio" value="1"  name="score">1星
                <input type="radio" value="2"  name="score">2星
                <input type="radio" value="3"  name="score">3星
                <input type="radio" value="4"  name="score">4星
                <input type="radio" value="5"  name="score">5星
            </div>
        </div>


        <div class="form-group">
            <label for="input-desc" class="col-sm-2 control-label"><span class="form-required">*</span>简介</label>
            <div class="col-md-6 col-sm-10">
                <textarea name="desc" cols="50" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>话题</label>
            <div class="col-md-6 col-sm-10" style="height:500px;overflow-y:auto;border:1px solid #eeeeee;border-radius: 10px;">
                <volist name="topicData" id="v">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="{$v.topic_id}" name="topic[]"> {$v.topic_name}
                    </label>
                </volist>
            </div>
        </div>

        <div class="form-group">
            <label for="input-shop_id" class="col-sm-2 control-label"><span class="form-required">*</span>所属店铺</label>
            <div class="col-md-3 col-sm-10">
                <input type="text" class="form-control" id="shop_id" name="shop_id" placeholder="店铺ID" readonly value="">
                <span class="help-block">
						<a onclick="selectShop()"><i class="fa fa-search"></i>选择</a>
					</span>
            </div>
        </div>


        <div class="form-group">
            <label for="input-video_img" class="col-sm-2 control-label">上传视频封面</label>
            <div class="col-md-6 col-sm-10">
                <input class="form-control" id="js-file-video_img" type="text" name="video_img" style="width: 300px;display: inline-block;" title="视频文件地址" >
                <a href="javascript:uploadOne('文件上传','#js-file-video_img','image');">上传文件</a>图片格式
                <p>不传入,系统自动截取视频第一秒成为封面!</p>
            </div>

        </div>


        <div class="form-group">
            <label for="input-video" class="col-sm-2 control-label"><span class="form-required">*</span>上传视频</label>
            <div class="col-md-6 col-sm-10">
                <input class="form-control" id="js-file-input" type="text" name="video_url" style="width: 300px;display: inline-block;" title="视频文件地址" >

                <a href="javascript:uploadOne('文件上传','#js-file-input','video');">上传文件</a>MP4格式
                <p class="help-block">可填写视频链接 [只能包含字母,数字,下划线,不能包含*#$等特殊字符]，可直接上传视频获取链接</p>
            </div>

        </div>

        <div class="form-group">
            <label for="input-likes" class="col-sm-2 control-label"><span class="form-required">*</span>点赞数</label>
            <div class="col-md-6 col-sm-10">
                <input type="number" value="0" class="form-control" id="input-likes" name="likes">
            </div>
        </div>

        <div class="form-group">
            <label for="input-comments" class="col-sm-2 control-label"><span class="form-required">*</span>评论数</label>
            <div class="col-md-6 col-sm-10">
                <input type="number" value="0" class="form-control" id="input-comments" name="comments">
            </div>
        </div>

        <div class="form-group">
            <label for="input-collects" class="col-sm-2 control-label"><span class="form-required">*</span>收藏数</label>
            <div class="col-md-6 col-sm-10">
                <input type="number" value="0" class="form-control" id="input-collects" name="collects">
            </div>
        </div>

        <div class="form-group">
            <label for="input-shares" class="col-sm-2 control-label"><span class="form-required">*</span>分享数</label>
            <div class="col-md-6 col-sm-10">
                <input type="number" value="0" class="form-control" id="input-shares" name="shares">
            </div>
        </div>

        <div class="form-group">
            <label for="input-hot" class="col-sm-2 control-label"><span class="form-required">*</span>热度</label>
            <div class="col-md-6 col-sm-10">
                <input type="number" value="0" class="form-control" id="input-hot" name="hot">
            </div>
        </div>

       <!-- <div class="form-group">
            <label for="input-visits" class="col-sm-2 control-label"><span class="form-required">*</span>浏览数</label>
            <div class="col-md-6 col-sm-10">
                <input type="number" value="0" class="form-control" id="input-visits" name="visits">
            </div>
        </div>-->

        <div class="form-group">
            <label for="input-address" class="col-sm-2 control-label"><span class="form-required">*</span>地址</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" value="" class="form-control" id="input-address" name="address">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="status" value="1">
                <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
                <a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
            </div>
        </div>

    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
<script>
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });
            Wind.use('layer');
        })()

        function selectGoods() {
			var url = "/admin/users/index";
			layer.open({
				type: 2,
				title: '选择会员',
				shadeClose: true,
				shade: 0.2,
				area: ['55%', '55%'],
				content: url,
			});
		}

        function selectShop() {
			var url = "/admin/users/shop";
			layer.open({
				type: 2,
				title: '选择店铺',
				shadeClose: true,
				shade: 0.2,
				area: ['55%', '55%'],
				content: url,
			});
		}

		function call_back(uid, id) {
			if (id == 2) {
				$('input[name=shop_id]').val(uid)
			} else {
				$('input[name=uid]').val(uid)
			}
			layer.closeAll('iframe');
		}

    </script>
</body>
</html>
