<include file="public@header" />
<style>
    .imgtip{
        margin-bottom:5px;
    }
</style>
</head>
<body>
<div class="wrap js-check-wrap">

    <form class="well form-inline margin-top-20" method="post" action="{:url('video/comments')}">


        用户ID：
        <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
               placeholder="用户ID">

        关键词：
        <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
               placeholder="关键词">

        <input type="hidden" name="id" value="{$comment_id}">
        <input type="submit" class="btn btn-primary" value="搜索"/>
        <a class="btn btn-danger" href="{:url('video/comments',['id'=>$comment_id])}">清空</a>
    </form>

    <form method="post" class="js-ajax-form">
        <div class="table-actions">
            <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('video/comments_del')}"
                    data-subcheck="true">{:lang('DELETE')}
            </button>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th width="16">
                    <label>
                        <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x">
                    </label>
                </th>
                <th>ID</th>
                <th>用户id/昵称</th>
                <th>内容</th>
                <th>创建时间</th>
                <th align="center">{:lang('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="list" item="vo">
                <tr>
                    <td>
                        <input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}">
                    </td>
                    <td>{$vo['id']}</td>
                    <td>{$vo['uid']}/{$vo['users']['user_nickname']}</td>
                    <td>{$vo['content']}</td>
                    <td>{:date('Y-m-d H:i',$vo['createtime'])}</td>
                    <td>
                        <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('video/comments_del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$list|raw}</div>

    </form>
</div>
<div id="enlarge_images" style="position:fixed;display:none;z-index:2;"></div>
<script src="__STATIC__/js/admin.js"></script>
<script>
        $(function(){
            Wind.use('layer');
        })


    </script>
</body>
</html>