<include file="public@header" />
<style>
    .imgtip{
        margin-bottom:5px;
    }
</style>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a >视频列表</a></li>
        <li class=""><a href="{:url('video/adds')}">新增</a></li>
    </ul>

    <form class="well form-inline margin-top-20" method="post" action="{:url('video/indexs')}">




        用户ID：
        <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
               placeholder="用户ID">

        店铺名搜索：
        <input class="form-control" type="text" name="shopname"  style="width: 200px;" value="{:input('request.shopname')}"
               placeholder="请搜索店铺名">

        关键词：
        <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
               placeholder="关键词">


        <input type="submit" class="btn btn-primary" value="搜索"/>
        <a class="btn btn-danger" href="{:url('video/indexs')}">清空</a>
    </form>

    <form method="post" class="js-ajax-form">
        <div class="table-actions">
            <button class="btn btn-danger btn-sm js-ajax-submit" type="submit" data-action="{:url('video/del')}"
                    data-subcheck="true">{:lang('DELETE')}
            </button>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th width="16">
                    <label>
                        <input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x">
                    </label>
                </th>
                <th>ID</th>
                <th>用户id/昵称</th>
                <th>店铺id/店铺名称</th>
                <th width="10%">视频简介</th>
                <th>封面</th>
                <th >视频</th>

                <th>点赞数</th>
                <th>评论数</th>
                <th>{:lang('阅读数')}</th>
                <th>是否删除</th>
                <th>状态</th>
                <th>创建时间</th>
                <th align="center">{:lang('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="list" item="vo">
                <tr>
                    <td>
                        <input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}">
                    </td>
                    <td>{$vo['id']}</td>
                    <td>{$vo['uid']}/{$vo['users']['user_nickname']}</td>
                    <td>{$vo['shop_id']}/{$vo['shops']['name']}</td>
                    <td>{:htmlspecialchars($vo['desc'])}</td>
                    <td><img src="{$vo.video_img}" width="150" height=""></td>
                    <td>
                        <video width="300" height="300"  controls src="{$vo['video_url']}" type="video/mp4"></video>
                    </td>

                    <td>{$vo['likes']}</td>
                    <td>{$vo['comments']}</td>
                    <td>{$vo['visits']}</td>
                     <td><if condition="$vo['is_delete'] eq 1"><span class="text-danger">已删除</span><else /><span class="text-success">未删除</span></if></td>

                    <if condition="$vo['status'] eq '0'">
                        <td>已下架</td>
                        <else />
                        <td>已上架</td>
                    </if>

                    <td>{:date('Y-m-d H:i',$vo['createtime'])}</td>
                    <td>

                        <a class="btn btn-xs btn-primary comment" data-id="{$vo['id']}">查看评论</a>
                        <if condition="$vo['status'] eq 1" >
                        <a class="btn btn-xs btn-warning  js-ajax-dialog-btn" data-msg="你确定要下架吗?" href="{:url('video/multe',array('id'=>$vo['id']))}">下架</a>
                        </if>

                        <if condition="$vo['status'] eq 0" >
                        <a class="btn btn-xs btn-success  js-ajax-dialog-btn" data-msg="你确定要上架吗?" href="{:url('video/multe',array('id'=>$vo['id']))}">上架</a>
                        </if>
                        <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('video/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                        <a class="btn btn-xs btn-primary" href='{:url("video/edits",array("id"=>$vo["id"]))}'>编辑</a>

                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$list|raw}</div>

    </form>
</div>
<div id="enlarge_images" style="position:fixed;display:none;z-index:2;"></div>
<script src="__STATIC__/js/admin.js"></script>
<script>
        $(function(){
            Wind.use('layer');
        })
         $('.comment').click(function(){
                var _this=$(this);
                var id=_this.data('id');

                layer.open({
                    type: 2,
                    title: '查看评论',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['80%', '100%'],
                    content: '/admin/video/comments?id='+id
                });

            });




    </script>
</body>
</html>