<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
			<li><a href="{:url('hw_area/add')}">{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="{:url('hw_area/listOrder')}">
			<div class="table-actions">
   
            </div>
		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
                        <!--<th>排序</th>-->
						<th>ID</th>
						<th>名称</th>
						<th>热门城市</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
                        <!--<td><input name="list_orders[{$vo.id}]" class="input-order" type="text"  value="{$vo.sort}"></td>-->
                        <td>{$vo.id}</td>
					    <td><if condition="$vo['level'] neq '1' ">|
                            <?php for($i=1;$i<$vo['level'];$i++){echo ' ----';} ?>
                            </if>{$vo['name']}
                        </td>
						<td>    
    					<if condition="$vo['is_hot'] eq '0'" >
						    否
						 <else/>
						    是
				 		 </if>
				 		</td>
						<td>
						    <a class="btn btn-xs btn-primary" href='{:url("hw_area/add",array("pid"=>$vo["id"]))}'>添加子栏目</a>
                            <a class="btn btn-xs btn-primary" href='{:url("hw_area/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('hw_area/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>