@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}

body {
  width: 10rem;
  margin: 0 auto;
  color: #333333;
  font-family: PingFang;
  box-sizing: border-box;
  background: #FFFFFF;
}

#main {
  padding-top: 0.5rem;
}

#main .list-item {
  width: 9.99rem;
  height: 2.03rem;
  background: #FFFFFF;
  line-height: 2.03rem;
  border-bottom: 1px solid #f2f2f2;
}

#main .list-item .title {
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  margin-left: 10%;
}
