<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
            <li><a href="{:url('coin/manual')}">{:lang('ADD')}</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('coin/index')}">
            Type：
            <select class="form-control" name="trans_type">
				<option value="">全部</option>
                <volist name="trans_type" id="v">
                    <option value="{$key}" <if condition="input('request.trans_type') neq '' && input('request.trans_type') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
            用户ID：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID">
            帖子ID
            <input class="form-control" type="text" name="sid" style="width: 200px;" value="{:input('request.sid')}"
                    placeholder="请输入帖子ID">
			关键字： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入Detail 关键字">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>				
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>会员ID</th>
						<th>会员</th>	
						<th>Type</th>
						<th>Detail</th>
						<th>商家名称</th>
                        <th>帖子ID</th>
                        <th>订单号(转账时,和扫码会出现)</th>
                        <th>状态</th>
						<th class="text-right">Coins</th>
						<th class="text-right">提交时间</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.uid}</td>
						<td>{$vo['userinfo']['user_nickname']} </td>
						<td>{$trans_type[$vo['type']]}</td>
						<td>{$vo['title']}</td>

						<td>{$vo['shop_name']}</td>
					
                        <td>
                            <if condition="$vo['sid'] gt '0'">
                                {$vo['sid']}
                            </if>
                        </td>
                        	<td>{$vo['ordersn']}</td>	
                        	<php>
						    $str = '';
						    if($vo['is_admin'] == 1){
						       $str =  '<span class="text-success">正常</span>';
						    }else{
						       $str = '<span class="text-danger">失效</span>';
						    }
						</php>
						<td>{$str}</td>	
                        
						<td class="text-right">{$vo['money']|number_format=2}</td>				
						<td class="text-right">{:date('Y-m-d H:i',$vo['createtime'])}</td>						
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script>
	 $(function(){
            Wind.use('layer');
           
           
    
	    
    })
   
	    
	</script>
	
</body>
</html>