<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Area/index')}">列表</a></li>
			<li class="active"><a >{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Area/addPost')}">
            
            
            <div class="form-group">
				<label for="input-needcoin" class="col-sm-2 control-label"><span class="form-required">*</span>上级栏目</label>
				<div class="col-md-6 col-sm-10">
					<select class="form-control" name="pid">
				        <option value="0">一级栏目</option>
                        <volist name="list" id="v">
                        <option value="{$v.id}" <if condition="$pid eq $v.id ">selected</if>>
                            <if condition="$v['level'] neq '1' ">|
                            <?php for($i=1;$i<$v['level'];$i++){echo ' ----';} ?>
                            </if>
                            {$v.name}
                        </option>
                        </volist>
                    </select>
				</div>
				
			</div>
            
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>城市(马来文)</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="name">
				</div>
			</div>


			<div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>城市(中文)</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="chinese">
				</div>
			</div>


			<div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>城市(英文)</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="english">
				</div>
			</div>
			
	       <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>首字母</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="first">
				</div>
			</div>
            <div class="form-group">
				<label for="input-needcoin" class="col-sm-2 control-label"><span class="form-required">*</span>是否热门城市</label>
				<div class="col-md-6 col-sm-10">
					<select class="form-control" name="is_hot">
             
                            <option value="0">否</option>
                            <option value="1">是</option>
               
                    </select>
				</div>
			</div>



			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
    <script>
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });
            
        })()
    </script>
</body>
</html>