<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >用户问卷调查列表</a></li>

		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Quested/index')}">
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" autocomplete="off" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" autocomplete="off" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
            用户ID：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn btn-danger" href="{:url('Quested/index')}">清空</a>
		</form>				
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					    <th>ID</th>
						<th>用户ID</th>
						<th>用户昵称</th>
						<th>问卷调查状况</th>
						<th>调查时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
					    <td>{$vo.id}</td>
						<td>{$vo.uid}</td>
						<td>{$vo['userinfo']['user_nickname']} </td>
						<td>{$vo.qid}</td>
						<td>{$vo['add_time']}</td>
						<td>	
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Quested/del',array('id'=>$vo['uid']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>