<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<!-- <ul class="nav nav-tabs">
			<li><a href="{:url('dynamic/index')}">动态</a></li>
			<li class="active"><a >列表</a></li>
		</ul> -->
        

    
		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>

	                	<th>序号</th>
						<th width="60%">答案文本</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id ="vo" key="key">   
					<tr>
					    <td><?php echo $key; ?></td>
						<td><?php echo $vo[$name]; ?></td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>