<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('quest/index')}">列表</a></li>
			<li class="active"><a >数据分析</a></li>
		</ul>
		<volist name="questionD" id ="vo"  key="key1">   
        <table class="table">
        	<caption>单选题{$key1}</caption>
           <thead>
              <tr>
                 <th>题目</th>
                 <th>{$vo.content.title}</th>
              </tr>
           </thead>
           <tbody>
          	   <volist name="vo.content.pid" id="v2" key="k2"> 
              <tr>
                 <td>{$v2['label']}</td>
                 <td>{$v2['department']}</td>
              </tr>
               </volist>
           </tbody>
        </table>
         <input type="button" class="btn btn-info"  onclick="test('{$key1}','0')" value="数据分析" />
        <div id="main-{$key1}" style="width: 600px;height:400px;display:none">
            
        </div>
       
        </volist>
		<volist name="questionM" id ="vo"  key="key1">   
        <table class="table">
        	<caption>多选题{$key1}</caption>
           <thead>
              <tr>
                 <th>题目</th>
                 <th>{$vo.content.title}</th>
              </tr>
           </thead>
           <tbody>
          	   <volist name="vo.content.pid" id="v2" key="k2"> 
              <tr>
                 <td>{$v2['label']}</td>
                 <td>{$v2['department']}</td>
              </tr>
               </volist>
           </tbody>
        </table>
         <input type="button" class="btn btn-info"  onclick="testM('{$key1}','1')" value="数据分析" />
        <div id="mainM-{$key1}" style="width: 600px;height:400px;display:none">
            
        </div>
       
        </volist>
        
		<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>问答题号</th>
					
						<th>问答题目</th>
						<th>标准答案</th>
						<th align="center">{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="questionA" item="vo" key="k">
					<tr>
						<td>{$vo.content.number}</td>
                      
                        <td>{$vo.content.title}</td>
                         <td>
                            {$vo.content.answer}                        
                        </td>
                        <td>
            		      <a class="btn btn-xs btn-primary comment" data-id="{$vo.content.number}">查看具体分析</a>	
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
        
        

	</div>
<script type="text/javascript" src="__STATIC__/js/echarts.js"></script>
	<link href="__STATIC__/css/style.css" rel="stylesheet">
	<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
	<script src="__STATIC__/js/admin.js"></script>
	<script>
	     $(function(){
	          Wind.use('layer');
                $('.comment').click(function(){
                var _this=$(this);
                var id=_this.data('id');
                var paper_id = {$paper_id};
                layer.open({
                    type: 2,
                    title: '查看分析报告',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['80%', '80%'],
                    content: '/admin/Quest/ans?qid='+id+'&paper_id='+paper_id,
                }); 
                
            });
	         
	         
	     })
	    
	    
	    
	
	
	    function test(k,s){
        $("#main-"+k+"").toggle();
         $.ajax({
            url: '{:url('quest/vital')}',
            type: 'POST',
            dataType: 'json',
           data:{
              'id':k,
              'type':s,
              'paper_id':{$paper_id}
            },
            success: function(data){
                //console.log(data)
                 chart(k,data);
                
            },
            error: function(){
                console.log("获取信息失败");
            }
        });    
      
	    }
	    
	    function testM(k,s){
        $("#mainM-"+k+"").toggle();
         $.ajax({
            url: '{:url('quest/vital')}',
            type: 'POST',
            dataType: 'json',
           data:{
              'id':k,
              'type':s,
              'paper_id':{$paper_id}
            },
            success: function(data){
                //console.log(data)
                 chart1(k,data);
                
            },
            error: function(){
                console.log("获取信息失败");
            }
        });    
      
	    }
	    
	    
	    function chart(k,data){
	       var name="main-"+k;  
           var myChart = echarts.init(document.getElementById(name));
        // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '第'+k+'题'
                },
                tooltip: {},
                legend: {
                    data:['人数']
                },
                xAxis: {
                    data: ["A","B","C","D"]
                },
                yAxis: {},
                series: [{
                    name: '人数',
                    type: 'bar',
                    data: data
                }]
            };
 
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
         }
         
         
 	    function chart1(k,data){
	       var name="mainM-"+k;  
           var myChart = echarts.init(document.getElementById(name));
        // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '多选题第'+k+'题'
                },
                tooltip: {},
                legend: {
                    data:['人数']
                },
                xAxis: {
                    data: ["A","B","C","D"]
                },
                yAxis: {},
                series: [{
                    name: '人数',
                    type: 'bar',
                    data: data
                }]
            };
 
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
         }
	</script>
	<script type="text/javascript">


</script>
</body>
</html>