<include file="public@header" />
</head>
<body>


    <div class="wrap">
        <ul class="nav nav-tabs">
            <li ><a href="{:url('branch/index')}">列表</a></li>
            <li class="active"><a >{:lang('EDIT')}</a></li>
        </ul>
        <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('branch/editPost')}">
            
            <div class="form-group">
                <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>分店名称</label>
                <div class="col-md-6 col-sm-10">
                    <input type="text" class="form-control" name="shop_name" value="{$data['shop_name']}">
                </div>
            </div>
            
            
            <div class="box-map" id="googleMap" style="width:600px;height:500px;margin-left:20%;">谷歌地图正在加载中......，显示不出来则翻墙失败！
            </div>
    

            <div class="form-group" style="margin-top:15px;">
                <label for="input-ipa_ewm" class="col-sm-2 control-label">请输入地点</label>
                <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" id="address" name="address" value="{$data['address']}">
                 <span class="help-block">
                    <a id="search"><i class="fa fa-search"></i>搜索</a>
                </span>
                </div>     
            </div>
            <input type="hidden" class="form-control" id="id" name="id" value="{$data['id']}">
            <div class="form-group">
                <label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>经纬度</label>    

                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="lat" name="lat" placeholder="纬度" value="{$data['lat']}">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="lng" name="lng" placeholder="经度" value="{$data['lng']}">
                    </div>
                </div>

            </div>
       <script type="text/javascript">

        var lat=parseFloat($('#lat').val());
         var lng=parseFloat($('#lng').val());
         var address=$('#address').val();
        console.log(lat)
        var map,mapProp,chicago,marker,infowindow;
        var keys='AIzaSyATCKWBnPvW_cyuUexKqiJsjw-lFu389mA';
        var mapid=document.getElementById("googleMap");
        function initMap(callback){
            chicago ={lat: lat, lng:lng};
             mapProp = {
                center:chicago,
                zoom:15,
                gestureHandling: 'greedy'
            };

        	map=new google.maps.Map(mapid, mapProp);
            //添加标记
        	marker=new google.maps.Marker({
        		//添加标记
        	    position:mapProp.center
        	    //自定义图标 icon:'pinkball.png'
        	});
        	marker.setMap(map);
        	infowindow = new google.maps.InfoWindow({
                  content:address
            });
            infowindow.open(map,marker);
        };	
        window.onload=function(){
        	var gooMapJs='https://maps.googleapis.com/maps/api/js?key='+keys+'&callback=initMap&sensor=false';
        	//谷歌地图
        	var script=document.createElement('script');
        		script.src=gooMapJs;
        		document.body.appendChild(script);
        		script.onload=function(){
        			map.addListener('click', function(e) {
        				placeMarkerAndPanTo(e.latLng, map);
        			});
        			function placeMarkerAndPanTo(latLng, map){
        				console.log(latLng);
        				/*var marker = new google.maps.Marker({ position: latLng, map: map});map.panTo(latLng);*/
        			};
        		};
        		script.onerror=function(){
        			if(typeof google==='undefined'){
        				$(mapid).html('因地域限制，google地图无法显示');
        			}
        		};
        		
        };
        
        $('#search').click(function () {
          	var address = $('#address').val();
          	if(!address) return;
        	var newuri='https://maps.googleapis.com/maps/api/geocode/json?address='+address+'&key='+keys;
        	$.ajax({
        	url:newuri,
        	success:function(data){
        	if(data.status=="OK"){
        		  lat = data.results[0].geometry.location.lat;
        		  lng = data.results[0].geometry.location.lng;
        		  $('#lat').val(lat);
        		  $('#lng').val(lng);
        			initMap();
        		var infowindow = new google.maps.InfoWindow({
        			  content:address
        		});
        		infowindow.open(map,marker);
        				  }else{
        					console.log(data.error_message);
        		}
        		}
        	});


        });
        
        
        </script> 




            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('EDIT')}</button>
                    <a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
                </div>
            </div>
            
        </form>
    </div>
    <script src="__STATIC__/js/admin.js"></script>

    <script>
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });
            
        })()
    </script>
</body>
</html>