<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>门店列表</a></li>
			<li><a href="{:url('branch/add')}">{:lang('ADD')}</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('branch/index')}">
            
            名称： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入门店名称">
			<input type="submit" class="btn btn-primary" value="搜索">
			<a class="btn btn-danger" href="{:url('branch/index')}">清空</a>
		</form>	
		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead id="bignav">
					<tr>
						<th>ID</th>
						<th>门店名称</th>
						<th>门店地址</th>
						<th>经度</th>
						<th>纬度</th>
						<th>时间</th>
						<th align="center">{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="list" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo.shop_name}</td>
						<td>{$vo.address}</td>
						<td>{$vo.lat}</td>
						<td>{$vo.lng}</td>
						<td>{:date('Y-m-d H:i',$vo['create_time'])}</td>
						<td>
                            <a class="btn btn-xs btn-primary" href='{:url("branch/edit",array("id"=>$vo["id"]))}'>详情</a>
                            <a class="btn btn-xs btn-danger js-ajax-delete" href='{:url("branch/del",array("id"=>$vo["id"]))}'>删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script type="text/javascript">
		$(function(){
			Wind.use('layer');
		});
	</script>

	
</body>
</html>