@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}

body {
  width: 10rem;
  font-family: Source Han Sans CN;
  max-width: 750px;
}

.bg {
  width: 100%;
  height: 100vh;
  background-size: 100% auto !important;
}

.bg .top {
  box-sizing: border-box;
  padding-top: 4.5rem;
}

.bg .top .invitation {
  font-size: 0.49rem;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.bg .top .number {
  font-size: 0.65rem;
  font-weight: 400;
  color: #FC6A4F;
  text-align: center;
}

.bg .top .text {
  font-size: 0.24rem;
  margin: 0 auto;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
  width: 60%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bg .bottom {
  margin-top: 48%;
}

.bg .bottom .bottom-text {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  margin: 0 auto;
}

.bg .bottom .bottom-btn {
  margin: 0 auto;
  text-align: center;
  line-height: 0.79rem;
  width: 3.32rem;
  height: 0.79rem;
  background: #EB4B17;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 400;
  color: #FFFFFF;
}
