
/*设置IOS页面长按不可复制粘贴，但是IOS上出现input、textarea不能输入，因此将使用-webkit-user-select:auto;*/  
*{  
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/  
  -webkit-user-select:none; /*webkit浏览器*/  
  -khtml-user-select:none; /*早期浏览器*/  
  -moz-user-select:none;/*火狐*/  
  -ms-user-select:none; /*IE10*/  
  user-select:none;  
} 
input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none;
}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }
#app {
  width: 100%;
  height: 100vh;
  .visitor {
    width: 100%;
    margin-bottom: 5%;
    .visitor-item {

      width: 100%;
      display: flex;
      padding: 3%;
      background-color: #FFFAFA;
      border-bottom: 1px solid #DCDCDC;
      box-sizing: border-box;
      .item-l {
        width: 20%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .item-r {
        margin-left: 5%;
        margin-top: 3%;
        .top {

        }

        .bottom {
          margin-top: 9%;
        }
      }
    }
  }
}