<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#A" data-toggle="tab">{:lang('WEB_SITE_INFOS')}</a></li>
        <!--<li><a href="#B" data-toggle="tab">{:lang('SEO_SETTING')}</a></li>-->
        <!--<li><a href="#C" data-toggle="tab">APP版本管理</a></li>-->
        <!--<li><a href="#C" data-toggle="tab">{:lang('URL_SETTING')}</a></li>-->
        <!--<li><a href="#E" data-toggle="tab">{:lang('COMMENT_SETTING')}</a></li>-->
        <!--<li><a href="#F" data-toggle="tab">用户注册设置</a></li>-->
        <!--<li><a href="#G" data-toggle="tab">CDN设置</a></li>-->
    </ul>

    <form class="form-horizontal js-ajax-form margin-top-20" role="form" action=""
          method="post">
        <fieldset>
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="A">





                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">在线时间(中文)</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control"
                                          name="operating_gb">{$info.operating_gb}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">在线时间(英文)</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control"
                                          name="operating_en">{$info.operating_en}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">在线时间(马来文)</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control"
                                          name="operating_ms">{$info.operating_ms}</textarea>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Email</label>
                            <div class="col-md-6 col-sm-10">
                                <textarea class="form-control"
                                          name="email">{$info.email}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="0">
                                    {:lang('SAVE')}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</body>
</html>
