@media screen and (min-width:750px) {
    html {
        font-size: 75px !important;
    }
}

body {
    width: 10rem;
    margin: 0 auto;
    color: #333333;
    font-family: PingFang;
    box-sizing: border-box;
    background: #FFFFFF;
}

.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 86px;
    position: relative;


    .header {
        flex: 1;

        .header-top {
            margin-left: 7.35%;
            margin-top: 5%;

            .top-t {

                font-size: 0.69rem;
                font-weight: 500;
                color: #333333;
            }

            .top-b {
                margin-top: 1%;
                font-size: 0.32rem;
                width: 90%;
                font-family: PingFang;
                color: #AAAAAA;
            }
        }

        .header-center {
            margin-top: 0.72rem;

            .center-t {
                margin-left: 7.3%;
                font-size: 0.4rem;
                color: #333333;
            }

            .center-b {
                height: 15.24%;
                margin-left: 7.2%;
                margin-right: 7.2%;
                margin-top: 4.5%;
                position: relative;

                img {
                    width: 8.5rem;
                    height: 4.2rem;
                    border-radius: 5px;
                }

                input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 8.3rem;
                    height: 4.2rem;
                    opacity: 0;

                }
            }
        }

        .header-bottom {
            margin-top: 6.5%;
            margin-left: 7.2%;
            // background-color: red;

            .bottom-t {
                font-size: 0.4rem;
                color: #333333;
                margin-bottom: 18px;
            }

            .bottom-b {
                margin-top: 1.67%;
                display: flex;
                width: 82%;

                .inside-l {
                    flex: 1;
                    height: 2.4rem;
                    background: #FFFFFF;
                    box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
                    border-radius: 2px;
                    position: relative;


                    img {
                        width: 4.17rem;
                        height: 2.4rem;
                        border-radius: 5px;
                    }

                    input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 4.17rem;
                        height: 2.4rem;
                        opacity: 0;

                    }
                }

                .inside-r {
                    flex: 1;
                    height: 90px;
                    background: #FFFFFF;
                    box-shadow: 0px 3px 8px 0px rgba(209, 209, 209, 0.35);
                    border-radius: 2px;
                    margin-left: 6px;
                    position: relative;

                    img {
                        width: 4.17rem;
                        height: 2.4rem;
                        border-radius: 5px;
                    }

                    input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 4.17rem;
                        height: 2.4rem;
                        opacity: 0;
                    }
                }
            }
        }
    }

    .border {
        width: 100%;
        height: 0.27rem;
        background: #F6F6F6;
        margin-top: 0.77rem;
    }

    .footer {
        flex: 1;

        .footer-top {

            .name {
                height: 1.1rem;
                line-height: 1rem;
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                margin-left: 4%;
                padding-top: 3%;
                box-sizing: border-box;
                border-bottom: 1px solid f2f2f2;

                .name-l {
                    font-size: 0.4rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: #333333;
                }

                .name-r {
                    margin-left: 5%;
                    width: 60%;
                    font-size: 0.4rem;
                    color: #AAAAAA;

                    input {
                        border: none;
                        outline: none;
                        font-size: 0.35rem;
                        width: 100%;

                    }
                }
            }

            .number {
                height: 1.1rem;
                line-height: 1rem;
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                margin-left: 4%;
                padding-top: 3%;
                box-sizing: border-box;
                border-bottom: 1px solid f2f2f2;

                .number-l {
                    font-size: 0.4rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: #333333;
                }

                .number-r {
                    margin-left: 6%;
                    width: 58%;
                    color: #AAAAAA;

                    input {
                        border: none;
                        outline: none;
                        font-size: 0.35rem;
                        width: 100%;

                    }
                }
            }

            .phone {
                height: 1.1rem;
                line-height: 1rem;
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                margin-left: 4%;
                padding-top: 3%;
                box-sizing: border-box;
                border-bottom: 1px solid f2f2f2;

                .phone-l {
                    font-size: 0.4rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: #333333;
                    width: 38%;
                }

                .phone-r {
                    font-size: 0.4rem;
                    color: #AAAAAA;
                    width: 50%;

                    input {
                        border: none;
                        outline: none;
                        font-size: 0.35rem;
                        width: 100%;

                    }
                }

            }



            .auth {
                height: 1.1rem;
                line-height: 1rem;
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                margin-left: 4%;
                padding-top: 3%;
                box-sizing: border-box;
                position: relative;
                border-bottom: 1px solid f2f2f2;

                .auth-l {
                    font-size: 0.35rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: #333333;
                    // width: 33%;
                }

                .auth-r {
                    color: #AAAAAA;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 5%;
                    width: 30%;

                    input {
                        border: none;
                        outline: none;
                        font-size: 0.35rem;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        width: 90%;
                    }

                }

                #btn {
                    background-color: #fff;
                    font-family: PingFang SC;
                    font-weight: 400;
                    color: #EB4D1A;
                    text-overflow: ellipsis !important;
                    position: absolute;
                    right: 0;
                    font-size: 0.35rem;
                    width: 35%;
                    overflow: hidden;
                    white-space: nowrap;
                }

                #resetCode {
                    font-size: 0.35rem !important;
                    margin-left: 0 !important;
                }
            }

            .shop {
                height: 1.1rem;
                line-height: 1rem;
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                margin-left: 4%;
                padding-top: 3%;
                box-sizing: border-box;
                border-bottom: 1px solid f2f2f2;

                .shop-l {
                    font-size: 0.4rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: #333333;
                }

                .shop-r {
                    // margin-left: 12%;
                    font-size: 0.4rem;
                    width: 60%;
                    color: #AAAAAA;

                    input {
                        border: none;
                        outline: none;
                        font-size: 0.35rem;
                        width: 100%;
                    }
                }
            }

            .site {
                height: 1.1rem;
                line-height: 1rem;
                border-bottom: 1px solid #f2f2f2;
                display: flex;
                margin-left: 4%;
                padding-top: 3%;
                box-sizing: border-box;
                border-bottom: 1px solid f2f2f2;

                .site-l {
                    font-size: 0.4rem;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: #333333;
                }

                .site-r {
                    margin-left: 7%;
                    font-size: 0.4rem;
                    width: 60%;
                    color: #AAAAAA;

                    input {
                        border: none;
                        outline: none;
                        font-size: 0.35rem;
                        width: 100%;
                    }
                }
            }
        }

        .footer-bottom {
            margin-top: 8%;
            margin-left: 4%;
            width: 92%;
            background: #02786A;
            border-radius: 5px;
            text-align: center;

            .btn {
                line-height: 1.17rem;
                height: 1.17rem;
                font-size: 0.48rem;
                font-weight: 500;
                color: #FFFFFF;
            }
        }
    }
}