@media screen and (min-width:750px) {
    html {
        font-size: 75px !important;
    }
}

body {
    width: 10rem;
    margin: 0 auto;
    color: #333333;
    font-family: PingFang SC;
    box-sizing: border-box;
    background: #FFFFFF;
}

.header {
    width: 100%;
    margin-top: 0.5rem;
    padding-bottom: 0.8rem;
    border-bottom: 0.27rem solid #f6f6f6;

    .header-top {
        margin-left: 0.71rem;
        width: 90%;

        .top-text {
            font-size: 0.45rem;
            font-weight: 500;
            color: #333333;
        }

        .bottom-text {
            font-size: 0.32rem;
            font-weight: 400;
            color: #AAAAAA;
            margin-top: 0.14rem;
        }
    }

    .header-bottom {
        box-sizing: border-box;
        width: 8.51rem;
        height: 4.27rem;
        margin-left: 0.71rem;
        margin-top: 0.63rem;
        background: #F5F5F5;
        border: 1px dashed #B6B6B6;
        border-radius: 4px;
        position: relative;

        .thumb {
            width: 1.17rem;
            height: 1rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 1.24rem;
        }

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        .shop-img {
            font-size: 0.44rem;
            font-weight: 400;
            color: #666666;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 3rem;
            width: 100%;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .bottom-inside {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .img-item {
                width: 31%;
                height: 1.9rem;
                margin-top: 5px;
                margin-left: 5px;
                border-radius: 5px;
                position: relative;

                img {
                    border-radius: 5px;
                }

                span {
                    width: 0.4rem;
                    height: 0.4rem;
                    color: #ffffff;
                    background-color: rgba($color: #333333, $alpha: 0.7);
                    position: absolute;
                    top: 5px;
                    right: 3px;
                    display: inline-block;
                    text-align: center;
                    line-height: 0.4rem;
                    border-radius: 50%;
                }
            }

            // 添加图片图标
            .add {
                width: 31%;
                height: 1.9rem;
                margin-top: 5px;
                margin-left: 5px;
                border-radius: 5px;
                position: relative;

                input {
                    width: 100%;
                    height: 1.9rem;
                    top: 0;
                    left: 0;
                    position: absolute;
                }

            }
        }

    }
    .header-bottom1 {
        box-sizing: border-box;
        width: 8.51rem;
        height: 4.27rem;
        margin-left: 0.71rem;
        margin-top: 0.63rem;
        background: #F5F5F5;
        border: 1px dashed #B6B6B6;
        border-radius: 4px;
        position: relative;

        .thumb {
            width: 1.17rem;
            height: 1rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 1.24rem;
        }

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        .shop-img {
            font-size: 0.44rem;
            font-weight: 400;
            color: #666666;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 3rem;
            width: 100%;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .bottom-inside {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .img-item {
                width: 31%;
                height: 1.9rem;
                margin-top: 5px;
                margin-left: 5px;
                border-radius: 5px;
                position: relative;

                img {
                    border-radius: 5px;
                }

                span {
                    width: 0.4rem;
                    height: 0.4rem;
                    color: #ffffff;
                    background-color: rgba($color: #333333, $alpha: 0.7);
                    position: absolute;
                    top: 5px;
                    right: 3px;
                    display: inline-block;
                    text-align: center;
                    line-height: 0.4rem;
                    border-radius: 50%;
                }
            }

            // 添加图片图标
            .add {
                width: 31%;
                height: 1.9rem;
                margin-top: 5px;
                margin-left: 5px;
                border-radius: 5px;
                position: relative;

                input {
                    width: 100%;
                    height: 1.9rem;
                    top: 0;
                    left: 0;
                    position: absolute;
                }

            }
        }

    }
    .header-bottom2 {
        box-sizing: border-box;
        width: 8.51rem;
        height: 4.27rem;
        margin-left: 0.71rem;
        margin-top: 0.63rem;
        background: #F5F5F5;
        border: 1px dashed #B6B6B6;
        border-radius: 4px;
        position: relative;

        .thumb {
            width: 1.17rem;
            height: 1rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 1.24rem;
        }

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        .shop-img {
            font-size: 0.44rem;
            font-weight: 400;
            color: #666666;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 3rem;
            width: 100%;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .bottom-inside {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .img-item {
                width: 31%;
                height: 1.9rem;
                margin-top: 5px;
                margin-left: 5px;
                border-radius: 5px;
                position: relative;

                img {
                    border-radius: 5px;
                }

                span {
                    width: 0.4rem;
                    height: 0.4rem;
                    color: #ffffff;
                    background-color: rgba($color: #333333, $alpha: 0.7);
                    position: absolute;
                    top: 5px;
                    right: 3px;
                    display: inline-block;
                    text-align: center;
                    line-height: 0.4rem;
                    border-radius: 50%;
                }
            }

            // 添加图片图标
            .add {
                width: 31%;
                height: 1.9rem;
                margin-top: 5px;
                margin-left: 5px;
                border-radius: 5px;
                position: relative;

                input {
                    width: 100%;
                    height: 1.9rem;
                    top: 0;
                    left: 0;
                    position: absolute;
                }

            }
        }

    }
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #AAAAAA;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #AAAAAA;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #AAAAAA;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #AAAAAA;
}


.main {
    width: calc(100% - 0.8rem);
    // height: 9.35rem;
    margin: 0 auto;
    // display: flex;
    // font-size: 0.4rem !important;
    flex-direction: column;

    .name {
        // flex: 1;
        line-height: 1.3rem;
        font-size: 0.4rem;


        .name-l {
            font-weight: 500;
            float: left;
        }

        .name-r {
            float: left;
            color: #AAAAAA;
            margin-left: 3%;
            width: 58%;
            input {
                width: 100%;
                outline: none;
                text-align: right;
                font-size: 0.35rem;
                // width: 160%;
            }
        }
    }

    .manage {
        flex: 1;
        line-height: 1.3rem;
        font-size: 0.4rem;

        .manage-l {
            font-weight: 500;
            float: left;
        }

        .manage-r {
            float: left;
            color: #AAAAAA;

            // select {
            //     background-color: red;
            //     color: #AAAAAA;
            //     border: none;
            //     outline: none;
            //     font-size: 0.35rem;
            //     padding-bottom: 1px;
            //     background-color: #fff;
            //     direction: rtl;
            //     -webkit-appearance: none;
            //     appearance: none;
            // }
        }
    }

    .website {
        line-height: 1.3rem;
        font-size: 0.4rem;
        overflow: hidden;
        width: 100%;

        .website-l {
            font-weight: 500;
            float: left;

        }

        .website-r {
            float: right;
            color: #AAAAAA;
            width: 50%;

            input {
                width: 100%;
                outline: none;
                text-align: right;
                font-size: 0.4rem;
                
            }
    }
}

    .city {
        flex: 1;
        line-height: 1.3rem;
        font-size: 0.4rem;

        .city-l {
            font-weight: 500;
            float: left;
        }

        .city-r {
            float: left;
            width: 75%;
            margin-left: 11%;
            margin-right: 0;

            input {
                color: #AAAAAA;
                outline: none;
                text-align: right;
                font-size: 0.37rem;
                width: 100%;
            }
        }
    }

    .address {
        flex: 1;
        line-height: 1.3rem;
        font-size: 0.4rem;

        .address-l {
            font-weight: 500;
            float: left;
        }

        .address-r {
            float: left;
            color: #AAAAAA;
            margin-left: 5%;
            width: 50%;


            input {
                width: 100%;
                outline: none;
                border: none;
                font-size: 0.36rem;
                text-align: right;
            }
        }
    }

    .business_status {
        flex: 1;
        line-height: 1.3rem;
        font-size: 0.4rem;

        .status-l {
            font-weight: 500;
            float: left;
            font-size: 0.35rem;
        }

        .status-r {
            float: right;
            color: #AAAAAA;

            select {
                color: #AAAAAA;
                border: none;
                outline: none;
                font-size: 0.35rem;
                padding-bottom: 1px;
                background-color: #fff;
                direction: rtl;
                -webkit-appearance: none;
                appearance: none;
            }
        }
    }

    .time {
        flex: 1;
        line-height: 1.3rem;
        font-size: 0.4rem;

        .time-l {
            font-weight: 500;
            float: left;
        }

        .time-r {
            flex: 1;
            text-align: right;
            // width: 60%;
            // margin-top: 3%;
            // display: flex;
            // input {
            //     margin-left: 2%;
            //     flex: 1;
            //     color: #AAAAAA;
            //     outline: none;
            //     font-size: 0.4rem;
            // }

            .open_time {
                // background-color: blue;
                
            }

            .end_time {
                // box-sizing: border-box;
                // padding-right: 17px;
            }

            span {
                color: #AAAAAA;
                text-align: center;
            }
        }
    }

    .service_phone {
        flex: 1;
        line-height: 1.3rem;
        font-size: 0.4rem;

        .phone-l {
            font-weight: 500;
            float: left;

        }

        .phone-r {
            float: left;
            width: 55%;
            margin-left: 5%;

            input {
                width: 100%;
                outline: none;
                text-align: right;
                color: #AAAAAA;
                font-size: 0.4rem;
            }
        }
    }
}


.footer {
    width: 9.2rem;
    height: 1.17rem;
    background: #02786A;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 1.8rem;
    line-height: 1.17rem;
    margin-bottom: 1.64rem;

    .btn {
        font-size: 0.48rem;
        font-weight: 500;
        color: #FFFFFF;
        text-align: center;
    }
}